#wrap2{
  min-height: 100vh;
  background-color: #f2f4f5;
}

.border_space{
  width: 100vw;
  height: 3vw;
  background-color: #f2f4f5;
}

.question_area{
  background-color: #ffffff;
  padding: 0 3.5vw 0 3.5vw;
  box-sizing: border-box;
}

.question{
  font-size: 4.2vw;
}

.down_icon{
  background: url(../icon/down.png) no-repeat;
}

.top_icon{
  background: url(../icon/top.png) no-repeat;
}

.icon{
    width: 5vw;
    height: 5vw;
    overflow: hidden;
}

.icon_del{
  background-size:4.2vw 4.2vw;
  width: 5vw;
  height: 5vw;
  display: inline-block;
}

.img{
    position: relative;
    left: -5vw;
    border-right: 5vw solid transparent;
    -webkit-filter:drop-shadow(5vw 0 #a5a5a5);
    filter:drop-shadow(5vw 0 #a5a5a5);
}

.question{
  height: 13vw;
  font-size: 4.2vw;
}

.index{
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background-color: #e5eeff;
  margin-right: 2.5vw;
}

.answer_area{
  font-size: 3.8vw;
  color: #999999;
  padding-left: 12vw;
  padding-bottom: 3.5vw;
  padding-right: 3.5vw;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f4f5;
}
