.comment{
    width: 228px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.comment_left{
    position: absolute;right: 228px;width: 20px;height: 40Px;top: 160px;display: flex;justify-content: center;align-items: center;border: 1px solid #EEEEEE;
}
.comment-box{
    background: #fff;
    width: 228px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding:  20px 20px 20px 10px;
    box-sizing: border-box;
}
.comment-bottom{
    width: 227px;
    position: fixed;
    height: 10vh;
    border-top: 1px solid #eee;
    bottom:0;
    right: 0;
    display: flex;
}
.comment-bottom input{
    height: 30px;
    width: 70%;
    padding-left: 1vw;
    border: 1px solid #333333;
    border-radius: 30px;
    margin-top: 5px;
}
.comment-bottom div{
    line-height:30px;
    height:30px;
    width: 30%;
    margin-top: 5px;
    text-align: center;
}
.nocomment{
    position: absolute;
    top: 160px;
    right: 0px;
    background: #fff;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:transparent;

}
.nocomment img{
    width: 8px;
    height: 14px;
}
.gift {
    position: absolute;
    right: 20px;
    top: 300px;
    width: 40px;
    height: 40px;
  
}

.gift img {
    width: 100%;
    height: 100%;
}

.gift-box {
    width: 100%;
    height: 100%;
  
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.gift-list {
    background: #fff;
    position: fixed;
    height: 30vh;
    width: 80%;
    bottom: 0;
    left: 0px;
    display: flex;
    text-align: center;
    padding: 1vh;
    overflow: scroll;
    box-sizing: border-box;
    border: 1px solid #fff;
    font-size: 12px;
}

.gift-list>div {
    margin-right: 3vh;
    text-align: center;
    display: inline-block;
    padding: 1vh;
}

.gift-list>div>img {
    width: 16vh;
    height: 10vh;
    object-fit: cover;
    margin: auto;
}


.gift-list .on {
    border: 1px solid #CDB17E;
    border-radius: 2vh;
}
.comment-box{
  padding: 30px 10px; 
}
.gift-box_ban{
    width: 20%;position: absolute;right: 0;bottom: 0;;background: #fff;height: 30vh;border-left: 1px solid #eee;
    
  }
.gift-box_ban_p1{
    height: 15vh;line-height: 15vh;text-align: center;
  }
  .gift-box_ban_p2{
    height: 8vh;font-size: 12px;text-align: center;
  }