#wrap2{
  min-height: 100vh;
  background-color: #f2f4f5;
}

.order_area{
  padding: 3.5vw 3.5vw 5vw 3.5vw;
  box-sizing: border-box;
  width: 100vw;
  background-color: #ffffff;
  margin-bottom: 3vw;
}

.order_line1{
  height: 12vw;
  font-size: 4vw;
  border-bottom: 1px solid #f2f2f2;
}

.text{
  padding-right: 2vw;
  box-sizing: border-box;
  border-right: 1px solid #e5e5e5;
  margin-right: 2vw;
}

.ljt_icon{
  width: 4vw;
  height: 4vw;
  background: url(../icon/ljt.png) no-repeat;
  background-size:4vw 4vw;
}

.order_line2{
  padding: 5vw 0 5vw 0;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}

.line2_img{
  width: 34vw;
  height: 20vw;
  background-color: #f2f2f2;
  border-radius: 2vw;
}

.line2_right{
  width: 59vw;
  padding:0.5vw 0 0.5vw 3vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vw;
  font-size: 4vw;
}

.order_line3{
  height: 12vw;
  padding-left: 40vw;
  box-sizing: border-box;
  font-size: 4vw;
}

.buy_btn{
  height: 8vw;
  padding: 0 4vw 0 4vw;
  box-sizing: border-box;
  color: #309dfa;
  border: 1px solid #309dfa;
  font-size: 3.6vw;
  border-radius: 4vw;
}

.buy_btn2{
  height: 8vw;
  padding: 0 4vw 0 4vw;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 3.6vw;
  border-radius: 4vw;
  margin-left: 2.5vw;
  background: linear-gradient(to right, #0391ff , #0165d0);
}

.order_line4{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
