.top_img{
 
  position: relative;
}
.find_t_img{
  color: #ffffff;
  font-size: 5vw;
  width: 100vw;
  height: 67vw;
  position: absolute;
}

.school_area{
  width: 93vw;
  /* height: 28vw; */
  position: relative;
  bottom: -35vw;
  background-color: #ffffff;
  border-radius: 2vw;
  margin-bottom: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000000;

}

.shadow{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 14vw;
  box-shadow: 0 3px 3px #e5e5e5;
  border-radius: 0 0 2vw 2vw;
}

.item_line4{
  width: 100%;
  font-size: 4.2vw;

}

.line4_item{
  width: 50%;
  height: 16vw;
  line-height: 14vw;
}

.zsjz{
  width: 8vw;
  height: 8vw;
  background:url(../icon/zsjz.png) no-repeat 0 0;
  background-size:8vw 8vw;
  margin-right: 4.5vw;
}

.gkk{
  width: 7vw;
  height: 7vw;
  background:url(../icon/gkk.png) no-repeat 0 0;
  background-size:7vw 7vw;
  margin-right: 4.5vw;
}

.lc{
  width: 7vw;
  height: 7vw;
  background:url(../icon/lc.png) no-repeat 0 0;
  background-size:7vw 7vw;
  margin-right: 4.5vw;
}

.wt{
  width: 7vw;
  height: 7vw;
  background:url(../icon/wt.png) no-repeat 0 0;
  background-size:7vw 7vw;
  margin-right: 4.5vw;
}

.comment_area{
  padding: 4vw 3.5vw 4vw 3.5vw;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 0 5px #e5e5e5;
  margin-bottom: 3vw;
  border-radius: 1.5vw;
}

.comment_line1{
  height: 14vw;
  width: 100%;
}

.comment_img{
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.comment_line2{
  margin-top: 3vw;
  /*color: #666666;*/
  color: #333333;
  font-size: 3.8vw;
}

#wrap{
  padding-bottom: 15vw;
  box-sizing: border-box;
}

#footer{
  height: 13vw;
  width: 100vw;
  padding: 0 3.5vw 0 3.5vw;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 5px #e5e5e5;
  font-size: 4vw;
}

.footer_btn1{
  width: 44vw;
  height: 9vw;
  color: #309dfa;
  border: 1px solid #309dfa;
  border-radius: 4.5vw;
}

.footer_btn2{
  width: 44vw;
  height: 9vw;
  border-radius: 4.5vw;
  background: linear-gradient(#0391ff, #0165d0);
  color: #ffffff;
}
