#wrap2{
  min-height: 100vh;
  background-color: #f2f4f5;
}

.down_icon{
  width: 3vw;
  height: 3vw;
  background: url(../icon/down.png) no-repeat;
  background-size:100% 100%;
  margin-left: 0.3vw;
}

.icon{
    width: 5vw;
    height: 5vw;
    overflow: hidden;
}

.icon_del{
  background-size:5vw 5vw;
  width: 5vw;
  height: 5vw;
  display: inline-block;
}

.img{
    position: relative;
    left: -5vw;
    border-right: 5vw solid transparent;
    -webkit-filter:drop-shadow(5vw 0 #000000);
    filter:drop-shadow(5vw 0 #000000);
}

.menu_nav{
  display: flex;
  /*width: 23vw;*/

  align-items: center;
}

.school_area{
  width: 93vw;
  height: 24vw;
  display: flex;
  margin-top: 2.8vw;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3.333vw;
  margin-left: 6vw;
  margin-bottom:2.8vw;
 
}

.school_img{
  width:24vw;
  height: 24vw;
  background-color: #f2f2f2;
  border-radius: 1.5vw;
  overflow: hidden;
  border: 0;
  margin-right: 4vw;
}

.school_right{
  width: 53vw;
  padding-left: 2vw;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.school_line1{
  width: 100%;
 


  align-items: flex-end;
}



.school_line2{
  width: 100%;
  height: 3.6vw;
  display: flex;
  margin-bottom:1.467vw;
 
}

/* .line2_item{
 
 height: 100%;
 
 background-color: #2397ff;
 border-radius: 0.933vw;

} */





.school_line3{
   font-size:2.933vw;
   color: #666666;
   white-space:nowrap;
   text-overflow:ellipsis;
   word-break:break-all;
   overflow:hidden;
   margin-left: 1.867vw;
   float: left;
   height: 100%;
}

.xingzhi  {
  height: 3.067vw;
  width: 100%;
  white-space: nowrap;
  overflow-y:auto;
}

.list {
  height: 3.067vw;
  color: #2397ff;
  line-height:3.067vw;
  box-sizing: border-box;
  float: left;
  font-size: 1.867vw;
 padding-left: 1.067vw;
 padding-right: 1.067vw;
 margin-right:1.333vw;
 box-sizing: border-box;
 border: 0.133vw solid  #2397ff;
 border-radius: 1.067vw;
}


.line2 {
  float: left;
  line-height: 3.6vw;
  font-size:2.667vw;
  height: 100%;
  float: left; 
 margin-right:1.067vw;
   padding: 0 0.667vw;
   background-color: #2397ff;
   border-radius: 0.933vw; color: #fff;
   text-align: center;
}


.school {
  width: 100%;
  height: 3.6vw;
  white-space:nowrap;
  text-overflow:ellipsis;
  word-break:break-all;
  overflow:hidden;
  font-size:2.933vw;
  color: #666666;
  margin-bottom: 1.467vw;
}