input::-webkit-input-placeholder {
    padding-left: 2vw;
    box-sizing: border-box;
}

#wrap{
  min-height: 100vh;
  background-color: #f2f4f5;
}

.header1{
  background-color: #ffffff;
}

.main_page{
  width: 100vw;
  padding: 2vw 3.5vw 0 3.5vw;
  box-sizing:border-box;
}

.line1{
  height: 10vw;
  font-size: 4.2vw;
  color: #999999;
}

.ljt_icon{
  background: url(../icon/ljt.png) no-repeat;
}


.icon{
    width: 5vw;
    height: 5vw;
    overflow: hidden;
}

.icon_del{
  background-size:4.2vw 4.2vw;
  width: 5vw;
  height: 5vw;
  display: inline-block;
}

.img{
    position: relative;
    left: -5vw;
    border-right: 5vw solid transparent;
    -webkit-filter:drop-shadow(5vw 0 #999999);
    filter:drop-shadow(5vw 0 #999999);
}

.line2{
  display: flex;
  flex-wrap: wrap;
}

.line2_item{
  margin: 0 4vw 2vw 4vw;
  font-size: 4vw;
  color: #666666;
}
