.mask{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:#000;
  opacity:0.4;
  overflow:hidden;
  z-index:1000;
  color:#fff;
}

 .my_s_wrap{
  position: fixed;
  z-index: 9999;
  top: 25vw;
  border: none;
  box-shadow: none;
}
.curriculum_home_sign_line{
  width: 1vw;
  height: 5vw;
  background-color: #fff;
  margin: auto;
}
.curriculum_home_sign_cha{
  width: 5vw;
  height: 5vw;
  margin: auto;
  background:  url(../image/cha.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
 .my_s_btn{
  background-color: #fff;
  margin: 0;
  padding: 5vw 0;
}
 .my_s_top{
  background-color: #fff;
}
 .my_s_content{
  background-color: #fff;
}
/*我的签到*/
.my_signin{
  background-color: #fff;
  overflow: hidden;
}
.my_signin #header{
  border-bottom: 1px solid #eee;
}
.my_s_wrap{
  width: 90%;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  border: 1px solid #eee;
  /*box-shadow: 0 0 3px #eee;*/
  border-radius: 4vw;
  overflow: hidden;
}
.my_s_top{
  width: 100%;
  position: relative;
  color: #fff;

}
.my_s_top img{
  width: 100%;

  height: 100%;
}
.my_s_top span{
  position: absolute;
  top: 34%;
  left: 35%;

  font-size: 5vw;
}
.my_s_content{

}

.my_s_week{
  display: flex;
  text-align: center;
  height: 15vw;
  align-items: center;
  justify-content: space-between;
}
.my_s_week span{
  font-weight: bold;
  color: #010101;
  font-size: 3.73vw;
  margin: 2vw;
  font-weight: normal;
  flex: 1;
}
/*.my_s_time{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.my_s_time span{
  margin: 2vw 3.5vw;
  font-size: 3.73vw;
  font-weight: normal;
  color: #000;
  flex: 1;
  display: inline-block;
  line-height: 5.6vw;
  width: 5.6vw;
}
.my_s_time span.my_s_active{
  background:  url(../image/my-signin-icon1.png) 0 0 no-repeat;
  padding-top: 1.47vw;
  background:  url(../image/my-signin-icon12.png) 0 0 no-repeat;
  background-size: auto 5.6vw;
  padding: 0!important;
  height: 5.6vw;
}
.my_s_sign{
  border: solid 0.13vw #0c77ec;
  border-radius: 50%;
}*/
.my_s_time{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.my_s_time span{
  width: 7.87vw;
	height: 6.8vw;
  margin: 2vw 2.13vw;
  font-size: 3.73vw;
  font-weight: normal;
  color: #000;
  flex: 1;
  display: inline-block;
  line-height: 6.66vw;
  padding-top: 1.5vw;
}
.my_s_time span.my_s_active{
  position: relative;
}
.my_s_time span.my_s_active::before {
  content: "";
  background:  url(../image/108.png) 0 0 no-repeat;
  background-size: 100% auto;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;/*-1 可以当背景*/
  /* -webkit-filter: blur(3px);
  filter: blur(3px); */
}

.my_s_time span.my_s_sign{
  position: relative;
}
.my_s_time span.my_s_sign::after{
  content: '';
  position: absolute;
  top: 1.2vw;
  left: 1.135vw;
  width: 5.6vw;
  height: 5.6vw;
  /*border: solid 0.13vw #0c77ec;
  border-radius: 50%;*/
}

.circle{
  /*position: absolute;
  left: 1.155vw;
  width: 5.6vw;
  height: 5.6vw;
  border: solid 1px #0c77ec;
  border-radius: 50%;*/
  color:#4D76C9;
}

.my_s_btn{
  text-align: center;


}
.my_s_btn .aui-btn{
  /*width: 55vw;
  height:8vw;
  line-height: 8vw;
  background-color: #9ac4f2;
  color: #fff;*/

  width: 66.67vw;
	height: 10.67vw;
  /*background-color: #9ac7f7;*/
  background-image: linear-gradient(0deg,
		#0164cf 0%,
		#037cff 99%);
	border-radius: 5.33vw;
  line-height: 10.67vw;
  color: #fff;
}
.sign_model{
  width: 60vw;
  height:40vw;
  background-color: #fff;
  text-align: center;
  position: fixed;
  z-index: 1111;
  top: 50%;
  left: 50%;
  margin-left: -30vw;
  margin-top: -15vw;
  border-radius: 4px;
}
.sign_model_conent img{
  width: 5vw;
  height: 4.5vw;
  margin: auto;
  padding-top: 5vw;
}
.sign_model_conent{
  height: 30vw;

}
.sign_model_conent h4{
  padding: 2vw 0;
}
.sign_model_save{
  border-top: 1px solid #ccc;
  height: 10vw;
  line-height: 10vw;
}
