.top_area{
  width: 100vw;
  padding-top: 8vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.true{
  position: absolute;
  top: 50%;
  left: -10vw;
  color: #0280ec;
  font-size: 4.2vw;
}

.false{
  position: absolute;
  top: 50%;
  right: -10vw;
  color: #f56e00;
  font-size: 4.2vw;
}

.line2{
  font-size: 4vw;
  margin-top: 5vw;
}

.true_icon{
  width: 5vw;
  height: 4vw;
  background:url(../icon/true.png) no-repeat 0 0;
  background-size:5vw 4vw;
  margin-right: 1.5vw;
}

.close_icon{
  width: 4vw;
  height: 4vw;
  background:url(../icon/close.png) no-repeat 0 0;
  background-size:4vw 4vw;
  margin-right: 1.5vw;
}

.line3{
  font-size: 3.8vw;
  height: 13vw;
  width: 85vw;
}

.questions{
  width: 100vw;
  padding: 3.5vw;
  box-sizing: border-box;
}

#wrap2{
  padding-bottom: 15vw;
  box-sizing: border-box;
}

#footer{
  height: 13vw;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 5px #e5e5e5;
  font-size: 4vw;
  background-color: #ffffff;
  opacity: 1.0;
}

.footer_btn2{
  width: 80vw;
  height: 9vw;
  border-radius: 4.5vw;
  background: linear-gradient(#0391ff, #0165d0);
  color: #ffffff;
}
