#wrap2{
  min-height: 100vh;
  background-color: #f2f4f5;
}

.textboox_line1{
  padding: 2vw 2vw 0 2vw;
  box-sizing: border-box;
  font-size: 4.2vw;
}

.course_item2{
  box-shadow: 0 0 5px #e5e5e5;
}
