 <widget id="A6047008267089"  version="0.0.1">

    <name>考研通学员版</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="wrap.html" />

    <access origin="*" />

    <preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>

  <preference name="windowBackground" value="#ffffff"/>

	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

  <preference name="AllowInlineMediaPlayback" value="true" />

	<preference name="hScrollBarEnabled" value="false"/>

	<preference name="vScrollBarEnabled" value="false"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true" />

	<preference name="smartUpdate" value="false" />

	<preference name="debug" value="true"/>

	<preference name="statusBarAppearance" value="true"/>

  <preference name="softInputMode" value="pan"/>

  <preference name="useWKWebView" value="true" />

	<permission name="readPhoneState" />

	<permission name="camera" />

	<permission name="record" />

	<permission name="location" />

	<permission name="fileSystem" />

	<permission name="internet" />

	<permission name="bootCompleted" />

	<permission name="hardware" />

  <feature name="aliPayPlus">
      <param name="urlScheme" value="AliPayPlusA6007334659623" />
  </feature>

  <feature name="wxPayPlus">
    <param name="urlScheme" value="wx1e2c98de81a5e5e7"/>
    <param name="apiKey" value="wx1e2c98de81a5e5e7"/>
    <param name="apiSecret" value="22ed79702b894fa15df97e56d85686be"/>
    <param name="universalLink" value="https://www.kytapp.com/"/>
  </feature>

  <feature name="wxPlus">
    <param name="urlScheme" value="wx1e2c98de81a5e5e7"/>
    <param name="apiKey" value="wx1e2c98de81a5e5e7"/>
    <param name="apiSecret" value="22ed79702b894fa15df97e56d85686be"/>
    <param name="universalLink" value="https://www.kytapp.com/"/>
  </feature>
    <feature name="QQPlus">
        <param name="urlScheme" value="tencent101552883" />
        <param name="apiKey" value="101552883" />
    </feature>
   	<feature name="ajpush">
        <param name="app_key" value="be397d99e14db0e0d9ee27ec" />
        <param name="channel" value="mydeng" />
    </feature>
</widget>
