
[v-cloak] {
  display:none !important;
}

.b_btn{
  background-color:#1D78D7;
  color: #fff;
  width: 92vw;
  border-radius: 5vw;
  height: 10vw;
}
.b_footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 14vw;
  background-color: #ffffff;
}

.bcr{
  background-color: red;
}

.fill{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fit{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.b_btn{
  background-image: linear-gradient(#1e8cfd, #0368d2);
  height: 12vw;
  border-radius: 6vw;
  width: 92vw;
  color: #fff;
  font-size: 4.2vw;
}

  .hide{
		display: none;
	}

	.pad_b{
		padding: 0 4vw;
	}

	.b_l{
		width: 100vw;
		height: 2vw;
		background-color: #f6f6f6;
	}

	.flex{
	  display: flex;
	}

	.fcc{
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.fec{
	  display: flex;
	  justify-content: flex-end;
	  align-items: center;
	}

	.fce{
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.fsbc{
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}

	.fsb{
	    display: flex;
	    justify-content: space-between;
	}

	.fsac{
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
	}

	.f_c{
	    display: flex;
	    align-items: center;
	}

	.f_e{
	    display: flex;
	    align-items: flex-end;
	}

	.fd{
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	}

	.fd_c{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}

	.fdcc{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	}

	.fdsbc{
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    align-items: center;
	}

	.fdsp{
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	}


	.one_lines{
	  word-break: break-all;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 1;
	  overflow: hidden;
	}

	.two_lines{
	  word-break: break-all;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 2;
	  overflow: hidden;
	}

	.three_lines{
	  word-break: break-all;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 3;
	  overflow: hidden;
	}

  .six_lines{
	  word-break: break-all;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 6;
	  overflow: hidden;
	}

	.color3{
	  color: #333333;
	}

	.color6{
	  color: #666666;
	}

	.color9{
	  color: #999999;
	}

	.colorr{
		color: #f10201;
	}

  .add_c_img{
    position: relative;
  }

  .add_c_pay{
    font-size: 3vw;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    color:#fff;
  }

  .colorg{
    color: green;
  }

  .price_item{
    width: 26vw;
    height: 9vw;
    border: 1px solid #eeeeee;
    font-size: 4.2vw;
    margin-bottom: 2vw;
    border-radius: 4.5vw;
  }

  .price_item_mr{
    margin-right: 4vw;
  }

  .price_active{
    color: #f10201;
    border: 1px solid #f10201;
  }

  .price_btn{
    width: 92vw;
    height: 13vw;
    border-radius: 1.5vw;
    background-color: #f10201;
    color: #ffffff;
    margin-top: 4vw;
  }

  .tx_btn{
    padding: 0 3vw;
    border-radius: 1vw;
    color: #ffffff;
    background-color: blue;
    position: absolute;
    top: 3vw;
    right: 3vw;
  }

  .tx_b_btns{
    background-color: #ffffff;
    padding: 4vw;
  }
