#wrap2{
  overflow-x: hidden;
}
.data_area{
  width: 100vw;
  padding: 0 3.5vw 0 3.5vw;
  box-sizing: border-box;
}

.data_area .course_item{
  width: 100vw;
  padding: 5vw 0 5vw 0;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
}

.data_area .course_img{
  width: 33vw;
  height: 22vw;
  background-color: #f2f2f2;
  border-radius: 1.5vw;
}

.data_area .course_right{
  width: 60vw;
  height: 22vw;
  padding: 0.5vw 0 0.5vw 2.5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.data_area .course_line1{
  font-size: 4.2vw;
  position: relative;
}

.data_area .cancel{
  color: #d51212;
  font-size: 3.6vw;
}

.data_area .course_line2{
  font-size: 3.8vw;
  color: #666666;
  line-height: 4vw;
}

.data_area .course_line3{
  font-size: 3.6vw;
  color: #666666;
  white-space:nowrap;
  text-overflow:ellipsis;
  word-break:break-all;
  overflow:hidden;
}

.right_icon{
  background: url(../icon/right.png) no-repeat;
}

.icon{
    width: 5vw;
    height: 5vw;
    overflow: hidden;
}

.icon_del{
  background-size:4.2vw 4.2vw;
  width: 5vw;
  height: 5vw;
  display: inline-block;
}

.img{
    position: relative;
    left: -5vw;
    border-right: 5vw solid transparent;
    -webkit-filter:drop-shadow(5vw 0 #000000);
    filter:drop-shadow(5vw 0 #000000);
}

#footer{
  height: 13vw;
  width: 100vw;
  padding: 0 3.5vw 0 3.5vw;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 4.2vw;
}

.confirm_btn{
  background: linear-gradient(#0391ff, #0165d0);
  width: 35vw;
  height: 9vw;
  color: #ffffff;
  border-radius: 4.5vw;
  line-height: 9vw;
}
