.index{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #e5eeff;
  margin-right: 2.5vw;
  line-height: 5vw;
}

.question_area{
  padding:0 3.5vw 0 3.5vw;
  box-sizing: border-box;
  font-size: 3.8vw;
}

.question{
  padding: 5vw 0 3.5vw 0;;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;;
}

.answer{
  display: flex;
  padding-left: 7vw;
  box-sizing: border-box;
  color: #999999;
  margin-bottom: 1.5vw;
  line-height: 5vw;
}

.success{
  color: #0280ec;
}

.error{
  color: #d51212;
}

.line3{
  padding-left: 7vw;
  box-sizing: border-box;
  height: 9vw;
  padding-right: 3vw;
}

.line4{
  padding-left: 7vw;
  box-sizing: border-box;
  font-size: 4.2vw;
}

.line5{
  padding-left: 7vw;
  box-sizing: border-box;
  color: #999999;
  line-height: 7vw;
}
