.header1{
  color: #ffffff;
}

#wrap{
  max-height: 208vw;
  background-color: #f2f4f5;
  box-sizing: border-box;
}

.top_img{
  width: 100vw;
  height: 84vw;
  background:url(../image/find_top.jpg) no-repeat 0 0;
  background-size:100vw 84vw;
  padding: 25vw 0 0 9vw;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 5vw;
  position: relative;
  top:0;
  left: 0;
}

.choose_area{
  width: 100%;
  padding: 0 8vw 0 8vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position:relative;
  top: -33vw;
}

.choose_item{
  width: 40vw;
  height: 46vw;
  background-color: #ffffff;
  border-radius: 2vw;
  font-size: 5.2vw;
  margin-top: 3vw;
}

.find_icon1{
  width: 17vw;
  height: 17vw;
  background: url(../image/find_icon1.png) no-repeat;
  background-size:17vw 17vw;
}

.find_icon2{
  width: 17vw;
  height: 17vw;
  background: url(../image/find_icon2.png) no-repeat;
  background-size:17vw 17vw;
}

.find_icon3{
  width: 17vw;
  height: 17vw;
  background: url(../image/find_icon3.png) no-repeat;
  background-size:17vw 17vw;
}

.find_icon4{
  width: 17vw;
  height: 17vw;
  background: url(../image/find_icon4.png) no-repeat;
  background-size:17vw 17vw;
}

.find_icon5{
  width: 17vw;
  height: 17vw;
  background: url(../image/find_icon5.png) no-repeat;
  background-size:17vw 17vw;
}

.find_icon6{
  width: 17vw;
  height: 17vw;
  background: url(../image/find_icon6.png) no-repeat;
  background-size:17vw 17vw;
}
.find_banner{
  padding: 0 4vw;
}
.find_banner img{
  width: 100%;
}
.revising_item{
  display: flex;
  height: 25vw;
  margin: 3vw 3.5vw 4vw 3.5vw;
  border-bottom: 1px solid #eee;
  padding-bottom: 2vw;
}
.revising_left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    color: #666;
    width: 70%;
}
.revising_title{
  color: #000;
  font-weight: bold;
}
.revising_con{
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.revising_tip{
  color: #8ec3ff;
  margin-right: 20px;
}
.revising_img{
  width: 30%;
  height: 100%;
}
.revising_b{
  font-size: 3.5vw;
}
.revising_img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
