#wrap2{
  min-height: 100vh;
  background-color: #f2f4f5;
}

.score_area{
  padding: 4vw 3.5vw 4vw 3.5vw;
  box-sizing: border-box;
  background-color: #ffffff;
  border-top: 3vw solid #f2f4f5;
}

.item_line1{
  font-size: 4.5vw;
  display: flex;
  align-items: center;
}

.item_line2{
  height: 14vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4vw;
  border-bottom: 1px solid #f2f2f2;
}

.progress_bar{
  width: 50vw;
  height: 3vw;
  border-radius: 1.75vw;
  background-color: #f2f4f5;
}

.in_bar{
  height: 100%;
  border-radius: 1.75vw;
  background-color: #1860f0;
}
