.item{
  padding: 3.5vw;
  box-sizing: border-box;
}

.item_line1{
  font-size: 4.5vw;
  display: flex;
  align-items: center;
}

.item_line2{
  height: 13vw;
  font-size: 4.2vw;
  border-bottom: 1px solid #f2f2f2;
}

.item_line3{
  font-size: 4.2vw;
  margin-top: 3vw;
}
