#wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bac_img{
  width: 45vw;
  height: 32vw;
  background:url(../icon/share.png) no-repeat 0 0;
  background-size:50vw 32vw;
}

.bac_img1{
  width: 45vw;
  height: 32vw;
  background:url(../icon/pay.png) no-repeat 0 0;
  background-size:50vw 32vw;
}

.top_img{
  margin-top: 34vw;
}

.img1{
  width: 21vw;
  height: 21vw;
  background:url(../icon/h_share.png) no-repeat 0 0;
  background-size:21vw 21vw;
  border-radius: 50%;
}

.img2{
  width: 21vw;
  height: 21vw;
  background:url(../icon/h_true.png) no-repeat 0 0;
  background-size:21vw 21vw;
  border-radius: 50%;
}

.img3{
  width: 21vw;
  height: 21vw;
  background:url(../icon/h_error.png) no-repeat 0 0;
  background-size:21vw 21vw;
  border-radius: 50%;
}

.img4{
  width: 40vw;
  height: 40vw;
  background:url(../icon/leida.png) no-repeat 0 0;
  background-size:40vw 40vw;
}

.line1{
  font-size: 4.5vw;
  margin-top: 2vw;
}

.line2{
  font-size: 5vw;
  color: #999999;
  margin-top: 5vw;
}

.line3{
  width: 50vw;
  height: 10vw;
  color: #0280ed;
  border: 1px solid #0280ed;
  font-size: 5vw;
  border-radius: 5vw;
  margin-top: 10vw;
}
