html,body { height:100%;  }
.hover{ opacity: .8; }

.flex-wrap{ display: -webkit-box;	display: -webkit-flex;	display: flex; }
.flex-con{     -webkit-box-flex: 1;     -webkit-flex: 1;    flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}

.border-t,
.border-b{ position:relative;  }
.border-t:before,
.border-b:after{     content: '';     position: absolute;     left: 0;  top:0;     background: #ddd;   right:0;    height: 1px;     -webkit-transform: scaleY(0.5);             transform: scaleY(0.5);     -webkit-transform-origin: 0 0;             transform-origin: 0 0; }
.border-b:after{ top:auto; bottom:0;  }
i{
  font-style: normal;
}
#wrap{ height: 100%; }
/*公众和头部*/
.aui-content{
  padding-bottom: 20vw;

}
.deleimg{
  width: 5vw!important;
  height: 5vw!important;
  position: absolute;
  top: 0;
  right: 0;
}
.oncolor999{
  color: #999;
  font-size: 3.73vw;
}
.oncolor000{
  color: #000;
  /*font-weight: bold;*/
  font-weight: 600;
  font-size: 3.8vw;
  margin-bottom: 0.2vw;
}
.oncolorRed{
  color: red;

}
.span_line{
  padding-left: 3vw;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 4.5vw;
  position: relative;
}
.span_line::after{
  content: '';
  width: 0.8vw;
  height: 4.5vw;
  background:linear-gradient(-30deg,#0265d0 0%,#1e8cfc 100%);
  position: absolute;
  top:-0.26vw;
  left: 0;
  border-radius: 0.5vw;
}
.oncurrent{
  border-bottom: 1px solid #0379fb;
  color: #0379fb;
}
.oncolor{
  color: #027fec;
}

.on_xx{
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background:  url(../image/star0.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size:100% 100%;
  margin:0 0.665vw;
}
.on_xx1{
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background:  url(../image/star1.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size:100% 100%;
  margin:0 0.665vw;
}
.on_xx2{
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background:  url(../image/star2.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size:100% 100%;
  margin:0 0.665vw;
}
.on_h1{
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background:  url(../image/h1.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size:100% 100%;
  margin:0 0.665vw;
}
.on_h2{
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background:  url(../image/h2.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size:100% 100%;
  margin:0 0.665vw;
}
.on_h3{
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background:  url(../image/h3.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size:100% 100%;
  margin:0 0.665vw;
}
.on_h4{
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background:  url(../image/h4.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  -webkit-background-size:100% 100%;
  margin:0 0.665vw;
}
.line{
  height: 2vw;
  background-color: #f5f5f5;
}
.i_arrow{
    width: 2vw;
    height: 2vw;
    display: inline-block;
    vertical-align: middle;
    background: #fff url(../image/arrow.png) 0 0 no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.aui-bar-nav{
  background-color: #fff;
  color: #000;
}
.aui-bar-nav .aui-btn .aui-icon-left{
  color: #037afb;
}
.aui-bar-nav .aui-pull-right .edit{
  width: 4vw;
  height: 4vw;
  background:  url(../image/edit.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.mask{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:#000;
  opacity:0.2;
  overflow:hidden;
  z-index:1000;
  color:#fff;
}
.bottom_window{
  text-align: center;
  position: fixed;
  background-color: #fff;
  width: 100%;
  bottom: -33vw;
  z-index: 2222;

}
.bottom_window_hover{
  bottom:0;
  transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
}
.bottom_window p{
  padding: 5vw 0;
}
/*教师端首页*/
.curriculum_home{

}
.swiper-container{

}
.swiper-container .swiper-slide{
  width: 80%!important;
  padding: 0 4%;

}
.swiper-container .swiper-slide img{
  width: 100%;
  border-radius: 2vw;
}
.curriculum_h_tab{
  display: flex;
  text-align: center;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
.curriculum_h_tab li span{
  padding: 2vw 0;
}
.curriculum_h_tab li{
  flex:1;
}
.curriculum_h_content{
  padding: 0 5vw;
}
.curriculum_h_wrap{

  background-color: #fff;
  padding: 2vw;
}
.curriculum_h_body{
  display: flex;
  /*padding: 3vw 0;*/
  border-bottom: 1px solid #eee;
}
.curriculum_h_img{
  width: 40vw;
  height: 28vw;
  border-radius: 2vw;
  overflow: hidden;
}
.curriculum_h_img img{
  width: 100%;
  height: 100%;
}
.curriculum_h_hot {
  flex: 1;
  display: flex;
  padding-left: 2vw;
  flex-direction: column;
  justify-content: space-between;
}
.curriculum_h_hotTop{
  display: flex;
  font-size: 4vw;
  align-items: center;
  justify-content: space-between;
}
.curriculum_h_hotTop  i{
color: #999;
}
.curriculum_h_tip{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0;
}
.curriculum_h_tip .oncolor999{
  font-size: 3vw;
}
.curriculum_h_tip .oncolor{
  background-color: #edf3ff;
  margin-right: 2vw;

}
/*创建课程*/
.buildCurriculum{

}
.buildCurriculum_wrap{
  padding: 0 5vw;
  background-color: #fff;
}
.buildCurriculum_wrap .aui-form-list .aui-list-item{
  padding-bottom: 2vw;
  padding-left: 0;
}
.buildCurriculum_wrap  .aui-list-item-label{
  color: #000;
}
.buildCurriculum_wrap .aui-form-list .aui-list-item-input{
border: 1px solid #eee;
}
.buildCurriculum_w_ask{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: flex-end;
}
.buildCurriculum_w_ask i{
  width: 3vw;
  height: 3vw;

  background:  url(../image/ask.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.buildCurriculum_w_ask span{
  padding-left: 2vw;
}
.buildCurriculum_w_text{
  border: 1px solid #eee;
}
.buildCurriculum_w_upload span{

  width: 44vw;
  height: 26.67vw;
  margin-bottom: 2vw;
}
.buildCurriculum_w_upload img{
  width: 100%;
  height: 100%;
}
.buildCurriculum_w_btn{
  text-align: center;

  padding:  5vw 0;
}
.buildCurriculum_w_btn .aui-btn{
  width: 50vw;
  color: #fff;
  background-color: #0276f2;
}
/*课程大纲*/
.curriculum_outline_wrap{
  background-color: #fff;
  padding-bottom: 10vw;
}
.curriculum_h_tab{
  border-bottom: 1px solid #eee;
}
/*课程大纲-题目*/
.couse_topic_example{
  padding: 0 5vw;
}
.couse_topic_example .couse_topic_x{
  display: flex;
  justify-content: space-between;
}
.couse_topic_example .couse_topic_t{
  padding: 2vw 0;
}
/*课程大纲-评价*/
.course_comment{
    background-color: #fff;

}
.course_comment_wrap{
  padding: 0 5vw;
}
.course_comment_wrap h3{
  display: flex;
  padding: 2vw 0;
  justify-content: space-between;
  align-items: center;
}
.course_comment_wrap h3 p{
  text-align: right;
}
.course_comment_wrap h3 span{

    flex: 1;
}
.course_comment_wrap ul li{
  margin:  2vw 0;
  border: 1px solid #eee;
  border-radius: 2vw;
  padding: 2vw;
  box-shadow: 0 0 1px #eee;
}
.course_comment_t{
  display: flex;
  height: 15vw;
  align-items: center;
  justify-content: space-between;
}
.course_comment_img{
  display: flex;
  align-items: center;
}
.course_comment_img span{
  padding-left: 2vw;
}
.course_comment_img img{
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
.course_comment_time{
      text-align: right;
}
/*课程大纲-资料*/
.course_data{
  background-color: #fff;
}
.course_data_Handout{
  padding: 2vw 5vw;

}

.course_data_h_t{

}
.course_data_Handout ul li{
  display: flex;
  justify-content: space-between;
  padding: 2vw 0;
  border-bottom: 1px solid #eee;
}
.course_data_h_right{

}
.course_data_Paper{
  padding: 2vw 5vw;
}

.course_data_Paper_wrap{
  padding: 2vw 0;
  border-bottom: 1px solid #eee;
}
.course_data_p_t{
  display: flex;
  justify-content: space-between;
}
.course_data_p_t span{
  color: red;
}
.course_data_p_c{
  display: flex;
  justify-content: space-between;
}
.course_data_hotData{
  padding: 0 5vw;
}
.course_data_hotData h3{
  padding: 2vw 0;
}
.course_data_hotData ul{
    display: flex;
}
.course_data_listWrap{
    width: 48%;

    margin-right: 4%
}
.course_data_listWrap:nth-child(2n){
  margin-right: 0;
}
.course_data_liImg{

}
.course_data_listWrap img{
  width: 100%;
  display: block;
}
.course_data_libox{
  padding: 2vw;
}
.course_data_libox h5{
  display: flex;
  justify-content: space-between;

}
.course_data_libox h5 i{
  color: red;
}
.course_data_libox p{
  margin-top: 1vw;
}
.curriculum_outline_H_btn{
  text-align: center;
  margin: 5vw 0;
}
.curriculum_outline_H_btn .aui-btn{
  color: #026ee4;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 3px #eee;
  width: 30vw;

}
/*课程大纲-大纲*/
.curriculum_outline_lastab{
  padding: 0 5vw;
}
.curriculum_o_listLi{
  display: flex;
  padding: 4vw 0;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
}
.curriculum_outline_l_btn{
  text-align: center;
  padding: 5vw 0;
}
.curriculum_outline_l_btn .aui-btn{
  width: 50vw;

  background-color: #026ee4;
  color: #fff;
}
/*公开课*/
.openclass_wrap{
  padding: 0 5vw;
  margin-top: 2vw;
}
.openclass_w_box .swiper-slide{
  margin-right: 4%;
  width: 48% !important;

  background-color: #fff;
  border-radius: 2vw;
}
.openclass_w_box .swiper-slide:last-child{
  margin-right: 0;
}
.openclass_w_box img{
  width: 100%;
  display: block;
}
.openclass_w_box .slide_img{
  position: relative;
}
.openclass_w_box .slide_mask{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6vw;
  opacity: 0.8;
  background-color: #000;
}
.openclass_w_box .slide_img p{
  position: absolute;
  bottom: 0;
  height: 6vw;
  line-height: 6vw;
  font-size: 3vw;
  left: 2vw;
  color: #fff;
}
.openclass_w_box .slide_wrap{
    padding: 2vw;
}
.openclass_w_box .slide_wrap h3 {
    display: flex;
    height: 7vw;
    font-size: 4vw;
    line-height: 7vw;
    color: #000;
    justify-content: space-between;
}
.openclass_w_box .silde_time{
  font-size: 3vw;
  color: #999;
}
/*创建公开课*/
.createCourse{
  background-color: #fff;
}
.createCourse .aui-form-list{
    padding: 0 5vw;
}
.createCourse .aui-form-list .aui-list-item{
  margin-bottom: 2vw;
  padding-left: 0;
}
.createCourse .aui-form-list .aui-list-item-input{
  border: 1px solid #eee;
}
/*课程编辑*/
.editCourse{
  background-color: #fff;
}
.editCourse .aui-form-list{
    padding: 0 5vw;
}
.editCourse .aui-form-list .aui-list-item{
  margin-bottom: 2vw;
  padding-left: 0;
}
.editCourse .aui-form-list .aui-list-item-input{
  border: 1px solid #eee;
}
.editCourse .aui-form-list .aui-list-item:first-child .aui-list-item-input{
  border: 0;
}
/*上课*/


/*费用分配说明*/
.viptext{
  background-color: #fff;
}
.viptext_title{
  padding: 0 5vw;
  display: flex;
  height: 8vw;
  align-items: center;
}
.viptext_title h3{
  text-align: center;
  flex: 1;
  border: 1px solid #eee;
}
.viptext_p1{
  padding: 0 5vw;
  display: flex;
  height: 8vw;
  align-items: center;

}
.viptext_p1 p{
  text-align: center;
  flex: 1;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.viptext_Explain{
    padding: 0 5vw;
}
/*上传视频*/
.uplandvideo{

}
.uplandvideo .aui-form-list .aui-btn{
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 1px #eee;

}
/*我的*/
.my{
  margin-bottom: 5vw;
}
.my .bottom_window_hover{
  /*bottom: 17.2vw;*/
}
.my .bottom_window p{
  padding: 1vw 0;
}
.my_Showmask{
  display: flex;
  align-items: center;
  padding: 2vw 0;
  border-bottom: 1px solid #eee;
}
.my_s_close{
  text-align: center;
  padding: 2vw 0;
}
.my_s_row{
  flex: 1;

}
.my_s_row img{
  width: 10vw;
  height: 10vw;
  margin: auto;
}
.my-newsico{
  width: 4vw;
  height: 4vw;
  background:  url(../image/my_news.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_bg{
  width: 100%;

  background:  url(../image/my-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my #header{
  background-color: transparent;
}
.my .aui-btn{
  color: #fff;
}
.my_head{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 0 5vw;
  position: relative;
  top: 30vw;
  border-radius: 2vw;

}
.my_headimg{
  width: 20vw;
  height: 20vw;
  position: absolute;;
  top: -10vw;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px #0276f2;
}
.my_headimg img{
  width: 100%;
  height: 100%;

}
.my_name{
  text-align: center;
  padding-top: 15vw;
}

.my_name i{
  width: 4.5vw;
  height: 3.5vw;
  display: inline-block;
  /*vertical-align: 1.2vw;*/
  margin-left: 2vw;
  background:  url(../image/vip.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_sign{
   /* display: flex;
   align-items: center; */
}
.my_sign i{
  width: 4vw;
  height: 4vw;
  display: inline-block;
  vertical-align: -.2vw;
  background:  url(../image/my_edit.png) 0 0 no-repeat;
  background-size: 100% 100%;
  margin-left: 2vw;
}
.my_order{
  display: flex;
  width: 100%;
  padding: 3vw 0;
}
.my_order li{
  flex:1;
  text-align: center;
}
.my_order li:nth-child(2){
  border-left: 0.1vw solid #F2F4F5;
  border-right: 0.1vw solid #F2F4F5;
}
.my_order li:nth-child(1) i{
  width: 15vw;
  height: 15vw;
  display: inline-block;
  background:  url(../image/my1.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_order li:nth-child(2) i{
  width: 15vw;
  height: 15vw;
  display: inline-block;
  background:  url(../image/my2.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_order li:nth-child(3) i{
  width: 15vw;
  height: 15vw;
  display: inline-block;
  background:  url(../image/my3.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_acconut{
  background-color: #fff;
  border-radius: 2vw;
  margin:0  5vw;
  padding: 3vw;
  margin-bottom: 2vw;
  margin-top: 32vw;
}
.my_account_wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 1.8vw 0vw 1.8vw;
  box-sizing: border-box;
}
.my_account_wrap h3{

}
.my_more{
  background-color: #fff;
  margin:0  5vw;
  padding: 2vw;
  border-radius: 2vw;
}
.my_more h3{
  padding: 0vw 0vw 0vw 2.8vw;
  margin: 3vw 0vw 5vw 0vw;
}
.my_m_wrap{
  display: flex;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #eee;

}
.my_m_border{
  display: flex;
  text-align: center;
  align-items: center;
  border-right: 1px solid #eee;
  width: 33%;
}
.my_m_border_67{
  border: 0;
  width: 67%;
}
.my_m_row{
  flex: 1;
  padding: 4vw 0;
}

.my_m_p1:nth-child(1) i{
  width: 7vw;
  height: 7vw;
  display: inline-block;
  background:  url(../image/my_1.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.my_m_p1:nth-child(2) {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.my_m_p1:nth-child(2) i{
  width: 7vw;
  height: 7vw;
  display: inline-block;
  background:  url(../image/my_2.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_m_p1:nth-child(3) i{
  width: 7vw;
  height: 7vw;
  display: inline-block;
  background:  url(../image/my_3.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_m_p2:nth-child(1) i{
  width: 7vw;
  height: 7vw;
  display: inline-block;
  background:  url(../image/my4.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.my_m_p2:nth-child(2) {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.my_m_p2:nth-child(2) i{
  width: 7vw;
  height: 7vw;
  display: inline-block;
  background:  url(../image/my5.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_m_p2:nth-child(3) i{
  width: 7vw;
  height: 7vw;
  display: inline-block;
  background:  url(../image/my6.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_m_p3:nth-child(1) i{
  width: 7vw;
  height: 7vw;
  display: inline-block;
  background:  url(../image/my7.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.my_m_p3:nth-child(2) {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.my_m_p3:nth-child(2) i{
  width: 11vw;
  height: 7vw;
  display: inline-block;
  background:  url(../image/abu.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_m_p3:nth-child(3) i{
  width: 7vw;
  height: 7vw;
  display: inline-block;
  background:  url(../image/my9.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_m_p4:nth-child(2) {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.my_m_p4:nth-child(1) i{
  width: 8vw;
  height: 8vw;
  display: inline-block;
  background:  url(../image/my_address.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_m_p4:nth-child(2) i{
  width: 8vw;
  height: 8vw;
  display: inline-block;
  background:  url(../image/card.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.my_m_p4:nth-child(3) i{
  width: 8vw;
  height: 8vw;
  display: inline-block;
  background:  url(../image/my_setup.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
/*关于我们*/
.about{
  padding: 0 5vw;
  background-color: #fff;
}
.about p{
  padding: 2vw 0;
  text-align: justify;
  text-indent:2em;
  letter-spacing:1px;
}
/*设置*/
.setop{
  text-align: center;
  background-color: #fff;
}
.setop_img img{
  width:10vw;
  height:10vw;
  border-radius: 50%;
}
.setop .aui-list-in .aui-list-item{
  /*border-bottom: 1px solid #eee;*/
  min-height: 2.4rem;
}
.setop .aui-btn{
  /* background-color: #027fec;
  width: 50vw;
  color: #fff;
  margin: 4vw 0;
  border-radius: 4vw; */
}
/*订单*/
.order{
  background-color: #fff;
}
.order_content{

}
.order_c_tip{
  font-size: 3.5vw;
  padding: 2vw 5vw;
}

.order_c_top{
  display: flex;
  height: 8vw;
  padding: 0 5vw;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-content: space-between;
}
.order_content .curriculum_h_body{
  padding: 4vw 5vw;
}
.order_c_top span{
  flex: 1;
}
.order_c_top p  i{
  padding-right: 2vw;
  border-right: 1px solid #999;
}
.order_c_top p strong{
  width: 4vw;
  height: 4vw;
  display: inline-block;
  margin-left: 2vw;
  vertical-align: -0.3vw;
  background:  url(../image/dele.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.order_content .curriculum_h_wrap{
  padding: 2vw 0;
}
.order_money{
  display: flex;
  font-size: 3.3vw;
}
.order_money i{
  flex: 1;
}
/*消息*/
.news{
  background-color: #fff;
}
.news_wrap{

}
.news_wrap li{
  padding: 2vw 4vw;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}
.news_w_img img{
  width: 100%;
  height: 100%;

}
.news_w_content{
  padding-left: 2vw;
  box-sizing: border-box;
  flex: 1;
  min-width: 0
}
.news_w_name{
  display: flex;

  justify-content: space-between;
}
.news_w_name span{

}
/*意见反馈*/
.opinion{
  text-align: center;
  background-color: #fff;
}
.opinion_wrap{
  padding: 2vw 5vw;
}
/*.opinion_wrap input{
  border-radius: 2vw;
  width: 100%;
  margin:  2vw 0;
  background-color: #f5f5f5;
}
.opinion_wrap textarea{
  border-radius: 2vw;
  width: 100%;
  height: 35vw;
  margin:  2vw 0;
  background-color: #f5f5f5;
}*/
.opinion_wrap input{
  width: 100%;
	height: 14.13vw;
	background-color: #f5f5f5;
	border-radius: 1.33vw;
  margin: 6vw 0 2.67vw 0;
  padding-left: 4vw;
}
.opinion_wrap textarea{
  width: 100%;
	height: 66.67vw;
	background-color: #f5f5f5;
	border-radius: 1.33vw;
  padding-left: 4vw;
  padding-top: 5.33vw;
}
/*.opinion .aui-btn{
  width: 50vw;
  margin: 5vw 0;
  background-color: #1e8cfc;
  color: #fff;
}*/
.opinion .aui-btn{
  width: 92vw;
	height: 10.67vw;
	background-image: linear-gradient(-30deg,
		#0265d0 0%,
		#1e8cfc 100%);
	box-shadow: 0vw 0.27vw 1.07vw 0vw
		rgba(45, 112, 243, 0.2);
	border-radius: 5.33vw;
  margin: 11.07vw 0;
  color: #fff;
  line-height: 10.67vw;
}
/*消费记录*/
.newsRecord{

}
.newsRecord_tab{

}
.newsRecord_tab .curriculum_h_tab{
  justify-content: flex-start;
    padding: 0 5vw;
}
.newsRecord_tab .curriculum_h_tab li{
  flex: initial;
  width: 25vw;
}
.newsRecord_wrap .curriculum_h_body{
  border: none;
}
.newsRecord_wrap{
  padding: 0 5vw;
}
.newsRecord_w_money{
  background-color: #fff;
}
.newsRecord_w_money ul li{
  padding: 2vw 5vw;
  border-bottom: 1px solid #eee;
}
.newsRecord_w_top{
  display: flex;
  justify-content:space-between;
}
.newsRecord_w_top h4{
  padding: 2vw 0;
}
 /*账户*/
 .account{
  background-color: #fff;
 }
.account .account_card{
  width: 4vw;
  height: 4vw;
  background:  url(../image/my-account-card.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
 .account_wrap{
   padding: 0 4vw;
 }
 .account_w_bg{
   text-align: center;
   position: relative;
    height: 45vw;
    margin: 4vw 0;
    overflow: hidden;
   background:  url(../image/my-account.png) 0 0 no-repeat;
   background-size: 100% 100%;
 }
 .account_w_bg p{
  margin-top: 10vw;
  margin-bottom: 2vw;
  color: #fff;
 }
 .account_w_bg h3{
   font-size: 10vw;
 }
 .account_btn{
   padding: 4vw;
 }
 .account_btn .aui-btn{
   width: 100%;
   height:  10vw ;
   line-height: 10vw;
   border-radius: 5vw;
 }
 .account_Recharge{
  background-color: #fff;
  color: #0e75e2;
  border: 1px solid #eee;
  box-shadow: 0 0 3px #eee;
 }
 .account_carry{
   background-color: #0e75e2;
   color: #fff;
 }


 .my_s_wrap{
   margin-top: 2vw;
 }
 .on_color{
   background-color: #027fec;
 }
 /*我的签到*/
 .my_signin{
   background-color: #fff;
   overflow: hidden;
 }
 .my_signin #header{
   border-bottom: 1px solid #eee;
 }
 .my_s_wrap{
   margin: 0 5vw;
   margin-top: 5vw;
   border: 1px solid #eee;
   box-shadow: 0 0 3px #eee;
   border-radius: 4vw;
   overflow: hidden;
 }
 .my_s_top{
   width: 100%;
   position: relative;
   color: #fff;

 }
 .my_s_top img{
   width: 100%;

   height: 100%;
 }
 .my_s_top span{
   position: absolute;
   top: 34%;
   left: 35%;

   font-size: 5vw;
 }
 .my_s_content{

 }

 .my_s_week{
   display: flex;
   text-align: center;
   height: 15vw;
   align-items: center;
   justify-content: space-between;
 }
 .my_s_week span{
   font-weight: bold;
   color: #010101;
   font-size: 3.73vw;
   margin: 2vw;
   font-weight: normal;
   flex: 1;
 }
 /*.my_s_time{
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: space-between;
 }
 .my_s_time span{
   margin: 2vw 3.5vw;
   font-size: 3.73vw;
   font-weight: normal;
   color: #000;
   flex: 1;
   display: inline-block;
   line-height: 5.6vw;
   width: 5.6vw;
 }
 .my_s_time span.my_s_active{
   background:  url(../image/my-signin-icon1.png) 0 0 no-repeat;
   padding-top: 1.47vw;
   background:  url(../image/my-signin-icon12.png) 0 0 no-repeat;
   background-size: auto 5.6vw;
   padding: 0!important;
   height: 5.6vw;
 }
 .my_s_sign{
   border: solid 0.13vw #0c77ec;
   border-radius: 50%;
 }*/
 .my_s_time{
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: space-between;
 }
 .my_s_time span{
   width: 7.87vw;
   height: 6.8vw;
   margin: 2vw 2.13vw;
   font-size: 3.73vw;
   font-weight: normal;
   color: #000;
   flex: 1;
   display: inline-block;
   line-height: 6.66vw;
   padding-top: 1.5vw;
 }
 .my_s_time span.my_s_active{
  position: relative;
 }
 .my_s_time span.my_s_active::before {
  content: "";
  background:  url(../image/108.png) 0 0 no-repeat;
  background-size: 100% auto;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;/*-1 可以当背景*/
  /* -webkit-filter: blur(3px);
  filter: blur(3px); */
}
 .my_s_time span.my_s_sign{
   position: relative;
 }
 .my_s_time span.my_s_sign::after{
   content: '';
   position: absolute;
   top: 1.2vw;
   left: 1.135vw;
   width: 5.6vw;
   height: 5.6vw;
   /*border: solid 0.13vw #0c77ec;
   border-radius: 50%;*/
 }

 .circle{
   /*position: absolute;
   top: 1.2vw;
   left: 1.155vw;
   width: 5.6vw;
 	 height: 5.6vw;
   border: solid 1px #0c77ec;
   border-radius: 50%;*/
   color:#4D76C9;
 }

 .my_s_btn{
   text-align: center;
   margin: 5vw 0;

 }
 .my_s_btn .aui-btn{
   /*width: 55vw;
   height:8vw;
   line-height: 8vw;
   background-color: #9ac4f2;
   color: #fff;*/

   width: 66.67vw;
   height: 10.67vw;
   /*background-color: #9ac7f7;*/
   background-image: linear-gradient(0deg,
     #0164cf 0%,
     #037cff 99%);
   border-radius: 5.33vw;
   line-height: 10.67vw;
   color: #fff;
 }
.my_s_series{
  padding: 3vw 0;
  margin:0 5vw;
}
.my_s_series_box{
  padding: 2vw 0;
  display: flex;
  text-align: center;
  align-items: center;
}
.my_s_series_list{
  flex: 1;
}
.my_s_s_list_store{
  width: 8vw;
  height: 8vw;
  font-size: 3vw;
  line-height: 8vw;
  border-radius: 50%;
  color: #027fec;
  box-shadow: 0 0 1px #000;
}
.my_s_series_list p{
  margin: 3vw 0;
  height: 1px;
  background-color: #eee;
}
.my_s_s_list_round{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  position: relative;
  top: -2.5vw;
  border: 1px solid #027fec;

}
/*教材详情 添加*/
.find_course_add{

}
.find_course_add .aui-list-item{
  padding-left: 0;
}
.find_c_a_wrap{
  padding: 0 5vw;
  background-color: #fff;
}
