#wrap2{
  min-height: 100vh;
}

.answer{
  position: relative;
  width: 92vw;
  display: flex;
  align-items: flex-start;
}

#footer{
  height: 13vw;
  width: 100vw;
  padding: 0 3.5vw 0 3.5vw;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 5px #e5e5e5;
  font-size: 4vw;
}

.btn{
  height: 9vw;
  width: 40vw;
  color: #ffffff;
  font-size: 4.2vw;
}

.foot_btn1{
  background-color: #57a7fe;
  border-radius: 4.5vw 0 0 4.5vw;
}

.foot_btn2{
  background-color: #0265d0;
  border-radius: 0 4.5vw 4.5vw 0;
}

.foot_btn3{
  width: 80vw;
  height: 9vw;
  background: linear-gradient(#0391ff, #0165d0);
  border-radius: 4.5vw;
  color: #ffffff;
}
