<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <title>我是教师</title>
  <link rel="stylesheet" type="text/css" href="../css/api.css" />
  <link rel="stylesheet" href="../css/aui.css">
  <link rel="stylesheet" href="../css/add.css">
  <link rel="stylesheet" href="../css/vant.css">
  <style>
    body {
      background: #fff;
    }

    #header {
      height: 12.5vw;
      position: fixed;
      top: 0;
      left: 0;
    }

    #header {
      background-image: linear-gradient(to right, #5bbbff, #289bff);

      border-bottom: 1px solid #eee;
    }

    #header .aui-title {
      color: #000;
    }

    #header .aui-icon-left {
      color: #000
    }

    .info_title {
      width: 30vw;
    }

    .info_input {
      width: 62vw;
    }

    .info_line {
      height: 11vw;
      border-bottom: 1px solid #f6f6f6;
    }

    .info_img {
      padding-top: 3vw;
    }

    .pic_area {
      width: 92vw;
      height: 50vw;
      border: 1px solid #f6f6f6;
      border-radius: 2vw;
      margin-top: 3vw;
    }

    .add_icon {
      width: 7vw;
      height: 7vw;
    }

    [v-cloak] {
      display: none !important;
    }
  </style>
</head>

<body>
  <div id="app">
    <header id="header" class="aui-bar aui-bar-nav">
      <div class="aui-pull-left aui-btn" @click='back'>
        <span class="aui-iconfont aui-icon-left"></span>
      </div>
      <div class="aui-title">实名认证</div>
      <div class="aui-pull-right aui-btn">
        <div v-if="step==0" class="color9 fcc" style="height:13vw;">未认证</div>
        <div v-if="step==1" class="colorg fcc" style="height:13vw;">审核通过</div>
        <div v-if="step==2" class="colorr fcc" style="height:13vw;">审核中</div>
        <div v-if="step==3" class="colorr fcc" style="height:13vw;">未通过审核</div>
      </div>
    </header>
    <div id="main" class="main" v-cloak>
      <div style="height:12.5vw"></div>
      <div v-if="step==3" class="color6" v-if="step==3" style='padding:4vw'>审核备注：{{remark}}</div>
      <div v-if="step==3" class="b_l"></div>
      <div v-if="step==0" v-cloak>
        <div class="info_line f_c pad_b">
          <div class="info_title">姓名<span class="colorr">*</span></div>
          <input class="info_input" type="text" placeholder="请输入姓名" v-model="name">
        </div>
        <div class="info_line f_c pad_b">
          <div class="info_title">身份证号<span class="colorr">*</span></div>
          <input class="info_input" type="text" placeholder="请输入身份证号" v-model="num">
        </div>
        <div class="info_img pad_b">
          <div>上传身份证正面<span class="colorr">*</span></div>
          <div>
            <div v-if="!pic1" @click="addPic(1)" class="pic_area fcc color9">
              <img class="add_icon" src="../image/add.png" />
            </div>
            <div v-if="pic1" @click="addPic(1)" class="fcc color9" style="width:92vw;height:40vw">
              <img class="fill" :src="pic1.path" />
            </div>
          </div>
        </div>
        <div class="info_img pad_b">
          <div>上传身份证反面<span class="colorr">*</span></div>
          <div>
            <div v-if="!pic2" @click="addPic(2)" class="pic_area fcc color9"><img class="add_icon"
                src="../image/add.png" /></div>
            <div v-if="pic2" @click="addPic(2)" class="fcc color9" style="width:92vw;height:40vw">
              <img class="fill" :src="pic2.path" />
            </div>
          </div>
        </div>
        <div class="b_btn fcc" style="margin:3vw 4vw 0 4vw;" @click="confirm">确认</div>
      </div>
      <div v-if="step!=0" v-cloak>
        <div class="info_line f_c pad_b">
          <div class="info_title">姓名<span class="colorr">*</span></div>
          <div class="info_input">{{name}}</div>
        </div>
        <div class="info_line f_c pad_b">
          <div class="info_title">身份证号<span class="colorr">*</span></div>
          <div class="info_input">{{num}}</div>
        </div>
        <div class="info_img pad_b">
          <div>上传身份证正面<span class="colorr">*</span></div>
          <div>
            <div class="fcc color9" style="width:92vw;height:40vw">
              <img class="fill" :src="pic1.path" />
            </div>
          </div>
        </div>
        <div class="info_img pad_b">
          <div>上传身份证反面<span class="colorr">*</span></div>
          <div>
            <div class="fcc color9" style="width:92vw;height:40vw">
              <img class="fill" :src="pic2.path" />
            </div>
          </div>
        </div>
        <div class="b_btn fcc" style="margin:3vw 4vw 0 4vw;" @click="stepChange">重新认证</div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script src="../script/jquery.min.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/util.js"></script>
<script src="../script/configUtil.js" charset="utf-8"></script>
<script type="text/javascript" src="../script/vant.min.js"></script>
<script type="text/javascript">
  apiready = function () {
    api.setStatusBarStyle({
      style: 'dark',
    })
    var header = document.querySelector('#header');
    var main = document.querySelector('#main');
    $api.fixStatusBar(header);
    $api.fixStatusBar(main);
    var vm = new Vue({
      el: '#app',
      data: {
        name: '',
        num: '',
        pic1: '',
        pic2: '',
        step: 0,
        real_card_back: '',
        real_card_just: '',
        remark: ''
      },
      mounted: function () {
        // alert(this.pic1)
        // alert(this.pic2)
        var that = this;
        this.initData();
        api.addEventListener({
          name: 'keyback'
        }, function (ret, err) {
          api.sendEvent({
            name: 'root_data',
            extra: '刷新'
          });
          that.closeW()
        });
      },
      methods: {
        back() {
          api.sendEvent({
            name: 'root_data',
            extra: '刷新'
          });
          this.closeW();
        },
        stepChange() {
          this.step = 0;
        },
        initData() {
          var that = this;
          var param = {
            applytype: 1
          }
          that.ajaxpost('post', globalData.getMemberApplyStatus, param).then((res) => {
            var res = $.parseJSON(res);
            // alert(JSON.stringify(res))
            if (res.code == 1) {
              that.step = res.data.status;
              that.remark = res.data.remark;
              if (res.data.status != 0) {
                that.ajaxpost('post', globalData.getMemberRealInfo, param).then((res) => {
                  var res = $.parseJSON(res);
                  alert(JSON.stringify(res))
                  if (res.code == 1) {
                    that.name = res.data.name;
                    that.num = res.data.real_card;
                    that.pic2 = res.data.real_card_back;
                    that.pic1 = res.data.real_card_just;
                  }
                  // name:this.name,
                  // real_card:this.num,
                  // real_card_just:this.pic1.id,
                  // real_card_back:this.pic2.id,
                  applytype: 1
                }).catch((ret) => {
                  loginfo(ret)
                })
              }
            }
          }).catch((ret) => {
            loginfo(ret)
          })
        },
        confirm() {
          var that = this;
          var param = {
            name: this.name,
            real_card: this.num,
            real_card_just: this.pic1.id,
            real_card_back: this.pic2.id,
            applytype: 1
          }
          if (!isNotNull(param.name)) {
            that.toast('请输入姓名')
            return
          }
          if (!isIDCard(param.real_card)) {
            that.toast('请输入正确身份证号')
            return
          }
          if (!param.real_card_just) {
            that.toast('上传身份证正面')
            return
          }
          if (!param.real_card_back) {
            that.toast('上传身份证反面')
            return
          }
          that.ajaxpost('post', globalData.realApply, param).then((res) => {

            var res = $.parseJSON(res);
            // alert(JSON.stringify(res))
            if (res.code == 1) {
              that.toast('提交成功')
              setTimeout(function () {
                that.initData();
              }, 1000)
            }
          }).catch((ret) => {
            loginfo(ret)
          })
        },
        addPic(a) {
          var that = this;
          that.uploadfirst((res) => {

            if (res.code == 1) {
              if (a == 1) {
                that.pic1 = res.data;
              } else {
                that.pic2 = res.data;
              }
            } else {
              loginfo(res)

            }
          }, globalData.upload, 'pic')
        }
      }
    })
  };
</script>

</html>