<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css">
      <link rel="stylesheet" type="text/css" href="../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../css/coupon.css"/>
      <style>
          body{

          }
          [v-cloak]{
            display: none!important ;
          }
          #header{
            background-color: #fff;
          }
          #header .aui-title{
            color: #000;
          }
          #header .aui-icon-left{
            color: #000
          }
          .my_btn_tuic div{
            text-align: center;
            width: 50vw;
            height: 10.67vw;
            background-image: linear-gradient(0deg,
              #0163ce 0%,
              #1f8dfe 100%);
            border-radius: 5.33vw;
            border: solid 0.13vw #f5f5f5;
            color: #fff;
            line-height: 10.67vw;
            margin: auto;
          }
          .ze{
            font-size: 16px;

          }
      </style>
  </head>
  <body>
    <div id='wrap2'>

      <div class="space_border" style="height:3.5vw;"></div>
      <p style="text-align:center;color:#666;font-size:4vw;" v-if='Coupon.data&&Coupon.data.length==0'>暂无数据</p>
      <div class="coupon" v-for="(item,index) in Coupon.data" @click='Choice(index)'>
        <div class="border">
          <div class="big"></div>
          <div class="small" v-for="count in 13"></div>
          <div class="big"></div>
        </div>
        <div class="item item1 f_middle"><div class="money f_middle"><span style="font-size:4vw;"></span>{{item.backtype==1?'￥'+item.deduct:item.discount}}<span v-if='item.backtype!=1' class="ze">折</span></div></div>
        <div class="item item2">
          <div class="item2_line1">{{item.couponname}}</div>
          <div class="item2_line2">{{item.enough}}</div>
          <div class="item2_line3">有效日期截止：{{item.timeend}}</div>
        </div>
        <div class="item item3" @click='save(index)'><span style="width: 10px;">{{type==1?'已领取':'立即领取'}}</span></div>
      </div>
      <div class="my_btn_tuic" v-if='type==1&&Coupon.data.length!=0' @click='Choice(-1)'>
        <div>不使用优惠劵</div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var vm = new Vue({
          el: "#wrap2",
          data: {
            type:api.pageParam.type,
            title:api.pageParam.title,
            scoupe:api.pageParam.scoupe,
            Coupon:{
              data:[],
              page:1
            },
          },
          mounted: function () {
            var header = document.querySelector('#header');
            $api.fixStatusBar(header);

            this.initdata();
            this.scrolltobottom()
          },
          methods: {
            //上拉
            scrolltobottom() {
              var that =this;
                api.addEventListener({
                    name: 'scrolltobottom',
                    extra: {
                        threshold: 50 //距离底部距离
                    }
                }, function(ret, err) {
                    // listAjax(true);
                    console.log(JSON.stringify(ret))
                    that.Coupon.page =that.Coupon.page+1;
                    that.initdata()
                });
            },
            //选择
            Choice(index){
              var that =this;
              if(that.type==2){
                return;
              }
              if(index==-1){
                api.sendEvent({
                    name: 'juan',
                    extra: {
                        yes: '2',
                    }
                });
              }else{
                api.sendEvent({
                    name: 'juan',
                    extra: {
                        yes: '1',
                        data:that.Coupon.data[index]
                    }
                });
              }

              that.closeW()

            },
            save(index){
              var that =this;
              if(that.type==1){
                return
              }
              var data ={

                couponid:that.Coupon.data[index].id,
              }
              that.ajaxpost('post',globalData.drawCoupon,data).then((res)=>{
                var res =$.parseJSON(res);
                console.log(JSON.stringify(res))
                if(res.code ==1){
                  that.toast('领取成功')
                }
              }).catch((ret)=>{
                loginfo(ret)
              })
            },
            //劵
            initdata(){
              var that =this;
              var data ={
                page:that.Coupon.page,
                page_size:10,
                scoupe:that.type==1?that.scoupe:''
              }

              that.ajaxpost('post',that.type==1?globalData.getMyCouponList:globalData.getCouponList,data).then((res)=>{
                var res =$.parseJSON(res);
                console.log(JSON.stringify(res))

                if(that.type==1){
                  res.data.map((item)=>{
                    item.timeend =that.formatTime(item.timeend)
                    item.deduct =parseInt(item.deduct)
                  })
                  that.Coupon.data=that.Coupon.data.concat(res.data);
                }else{
                  res.data.data.map((item)=>{
                    item.timeend =that.formatTime(item.timeend)
                    item.deduct =parseInt(item.deduct)
                  })
                  that.Coupon.data=that.Coupon.data.concat(res.data.data);
                }


              }).catch((ret)=>{
                loginfo(ret)
              })
            },
          }
        });
      };
  </script>
  </html>
