<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css">
      <link rel="stylesheet" type="text/css" href="../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../css/public_class.css"/>

      <style>
          body{

          }
          #header{
            background-color: #fff;
          }
          #header .aui-title{
            color: #000;
          }
          #header .aui-icon-left{
            color: #000
          }
          #header .aui-pull-right span{
            width: 5vw;
            height: 5vw;
            background:  url(../image/addcourse.png) 0 0 no-repeat;
            background-size: 100% 100%;
            margin-left: 2vw;
          }
          .dele{
            width: 5vw;
            height: 5vw;
            background:  url(../image/dele.png) 0 0 no-repeat;
            background-size: 100% 100%;
            display: inline-block;
          }
          .menu_navs{
            position: relative;
            display: -webkit-box;
            overflow-x: scroll;
            line-height: 13vw;
          }
          .textboox_line1{
            margin-bottom: 1vw;
            padding: 2.2vw 0vw 0vw 0vw;
            box-sizing: border-box;
          }
          .f_row_sb_t{
            margin-top: -0.5vw;
          }
          .course_item2{
            width: 48%;
          }
      </style>
  </head>
  <body>
    <div id="wrap2">

      <div class="menu_navs" style="border-top:1px solid #f2f2f2;">
        <div class="menu_nav" @click="toggle(index ,item)" v-for="(item,index) in navs" :class="{active:active==index}">
          {{item.title}}
        </div>
      </div>
      <p style="text-align:center;color:#666;font-size:4vw;" v-if='course.datalist&&course.datalist.length==0'>暂无数据</p>
      <div class="course_area2">

        <div class="course_item2" v-for="(item,index) in course.datalist" @click='mavpaly(index)'>
          <div class="course_img2"><img :src="item.path" alt=""></div>
          <div class="textboox_line1 f_row_sb">
            <div class="course_time" style="color:#333333;font-size:4vw;overflow: hidden;
            white-space: nowrap;
            text-overflow:ellipsis;">{{item.title}}</div>
            <div style="color:#d51212; margin-right:3.4vw; font-size:3.7vw;">￥{{item.price}}</div>
          </div>
          <div class="course_time" style="font-size:3.6vw;">{{item.category_name}}</div>
          <div class="course_time f_row_sb_t" style="font-size:3.1vw;">
            {{item.createtime}}
            <!-- <i class="dele" @click.stop='dele(index)'></i> -->
          </div>
        </div>
      </div>
      <p style="text-align:center;color:#666;font-size:4vw;" v-if='course.datalist&&course.datalist.length!=0'>已经到底了~</p>
    </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var vm = new Vue({
          el: "#wrap2",
          data: {
            navs:[],
            active: 0, // 切换TABclass

            course:{
              datalist:[],
              page:1,
            },
            userinfo:$api.getStorage('userinfo')==null?'':$api.getStorage('userinfo')
          },
          mounted: function () {
            var that =this;
            var header = document.querySelector('#header');
            $api.fixStatusBar(header);
            this.bindpaperFl();
            that.$nextTick(() => {
                api.addEventListener({
                    name: 'jiaoc_add'
                }, function(ret, err) {
                  if(ret.value.yes==1){
                    that.course.page =1;
                    that.bindpaperlist(that.active)
                  }
                });
                that.scrolltobottom();
           })
          },
          methods: {
            mavpaly(index){
              var data ={
                type:2,
                info_jiaoc:this.course.datalist[index]
              }
              this.openW('buy_course_frm',data,true);
            },
            //上拉
            scrolltobottom() {
              var that =this;
                api.addEventListener({
                    name: 'scrolltobottom',
                    extra: {
                        threshold: 50 //距离底部距离
                    }
                }, function(ret, err) {
                    // listAjax(true);
                    console.log(JSON.stringify(ret))
                    that.course.page =that.course.page+1;
                    that.bindpaperlist(that.active)
                });
            },
            toggle: function (i, v) {
              console.log(i);
              this.active = i;
              this.course.page=1;
              this.bindpaperlist(i);
            },
            //删除
            dele(index){
              var that =this;
              var data ={

                book_ids:that.course.datalist[index].id
              }
              api.confirm({
                  title: '提示',
                  msg: '确定删除',
                  buttons: ['确定', '取消']
              }, function(ret, err){
                  if( ret.buttonIndex==1){
                    that.ajaxpost('post',globalData.delTextBook,dat).then((res)=>{
                      var res =$.parseJSON(res);
                      that.course.datalist.splice(index,1);
                    }).catch((ret)=>{
                      loginfo(ret)
                    })
                  }else{

                  }
              });


            },


            //教材list
            bindpaperlist(index){
              var that =this;
              console.log(that.course.page)
              if(that.course.page==1){
                that.course.datalist=[];
              }
              var data ={

                category_id:that.navs[index].id,
                page:that.course.page,
                page_size:10
              }
              console.log(JSON.stringify(data))
              that.ajaxpost('post',globalData.getStudentTextBookList,data).then((res)=>{

                var res =$.parseJSON(res);
                    console.log(JSON.stringify(res))
                for (var i = 0; i < res.data.data.length; i++) {
                  res.data.data[i].createtime =that.formatTime(res.data.data[i].createtime)
                }
                var resdata =that.course.datalist.concat(res.data.data)
                that.course.datalist=resdata;

              }).catch((ret)=>{
                loginfo(ret)
              })
            },
            //分类
            bindpaperFl(){
              var that =this;
              that.ajaxpost('post',globalData.getBookCategoryAll).then((res)=>{
                var res =$.parseJSON(res);
                var whole ={
                  id:'0',
                  title:'全部'
                }
                res.data.unshift(whole)
               console.log(JSON.stringify(res))
                that.navs=res.data;
                that.bindpaperlist(0);
              }).catch((ret)=>{
                loginfo(ret)
              })
            },

            //添加
            navAddcourse(){
              this.openW('find_jiaoc_add',{},true);
            },
          }
        });
      };
  </script>
  </html>
