<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>title</title>
    <!-- <link rel="stylesheet" type="text/css" href="../css/api.css" /> -->
    <link rel="stylesheet" href="../css/aui.css">
    
    <link rel="stylesheet" href="../css/vant.css">
    <!-- <link rel="stylesheet" type="text/css" href="../css/common.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/school_guide.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/former_years_scores.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/school_guide_dtl.css" /> -->
    <style>
        body {
            background-color: #fff;
        }
        .line2_item {
            margin: 0;
            font-size: 3vw;
            margin-right: 1vw;
        }
        #header{
          height: 11.733vw;
          position: fixed;
          top:0;
          left:0;
          background-image: linear-gradient(to right, #5bbbff, #289bff); 
          padding:0 5.867vw;
          box-sizing: border-box;
          

        }
        /*#header {
            background-color: transparent;
        }*/

        #header .aui-title {
            color: #fff;
            font-size: 4.267vw;
        }

        #header .aui-icon-left {
            color: #fff
        }

        #main   .img {
            height: 60vw;
            width: 100%;
            border: 0;
        }

        .i_arrow {
            width: 2vw;
            height: 2vw;
            display: inline-block;
            vertical-align: middle;
            background: #fff url(../image/arrow.png) 0 0 no-repeat;
            background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
        }

        #footer {
            height:13.067vw;
            width: 100vw;
            box-sizing: border-box;
            position: relative;
            bottom: 0;
            z-index: 5;
            opacity: 1.0;
            background-color: #ffffff;
            font-size: 4vw;
            left: 0;
            position: fixed;
            bottom: 0;
            box-shadow: 0px 0px 10px #e8e8e8;
        }

        /* #footer input {
            height: 9vw;
            background-color: #f2f4f5;
            padding-left: 1vw;
            width: 80vw;
            border-radius: 4.5vw;
        }

        .f_row_sb .aui-btn {
            margin: auto;
            background-color: #0165d0;
            color: #fff;
            border-radius: 3.5vw;

        } */

        .f_row_sb .ative {
           
            background-color: #3ba7ff;
            color: #fff;
        } 

      

        .between {
            margin-top:4.267vw;
            font-size: 2.933vw;
            color: #9b9b9b;
            margin-bottom: 4vw;
        }

        .fenshu .fenshu_list {
            width: 100%; 
             margin-top:2.667vw
        }

        .fenshu .fenshu_list p {
            height: 7.733vw;
            width: 100%;
            text-align: center;
            line-height:7.733vw ;
            font-size: 3.2vw;
            font-weight: 400;         
        }
        .fenshu .fenshu_list .list {
            display: flex;
            justify-content:space-around;
            font-size: 2.933vw;
            
          
        }

        .fenshu .fenshu_list .list .lis {
            padding:2.533vw 0;
            width: 30%;
            padding-left:1.333vw;
            box-sizing: border-box;
            background-color: #dfeffd;
            border-radius: 2.4vw;

        }


        .lis span {
            padding: 0 2.667vw;
            box-sizing: border-box;
        }

        .yuanxiao .ul {
            margin-top:4vw;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .yuanxiao .ul .li {
            width:15%;
            
        }

        .kefu {
           float: left;
            width: 29.2vw;
            height: 9.333vw;
            background-color: #3ba7ff;
            margin:1.867vw 9.333vw 0 16.133vw;
            color: #fff;
            line-height: 9.333vw;
            font-size: 3.467vw;
            border-radius: 2.667vw;
        }

        .baokao {
            float: left;
            width: 29.2vw;
            height: 9.333vw;
            border:0.4vw solid #3ba7ff;
            margin-top:1.867vw;
            color: #3ba7ff;
            line-height: 9.333vw;
            font-size: 3.467vw;
            border-radius: 2.667vw;
        }

        .baokao div {
            background: url(../image/iconimg/bkgx.png) no-repeat;
            background-size: 100%;
        }

      

        
       
    </style>
</head>

<body>
    <div id="wrap">
        <!-- 头部 -->
        <header id="header" class="aui-bar aui-bar-nav">
            <div class="aui-pull-left aui-btn" @click='closew' style="margin: 0;padding: 0;">
                <span class="" style="width: 2.267vw;height: 4.133vw;"><img src="../image/iconimg/fhj.png" alt=""></span>
            </div>
            <div class="aui-title">{{schooldata.data.school_name}}</div>
            <div class="aui-pull-right aui-btn" @click="shareSchool"  style="margin: 0;padding: 0;">
                <img style="widows: 4.667vw;height:4.667vw" src="../image/iconimg/fenxiang.png" alt="">
            </div>
        </header>

        <!-- 图片 -->
        <div class="top_img main" id="main" style="margin-top:  11.733vw;">
            <img class='img' :src="schooldata.data.school_picture_text" alt="">
            <!-- <div class="school_area">
                <div class="shadow"></div>
                <div class="school_line1 f_row_sb">
                    <div style="font-size:4.3vw;">{{schooldata.data.school_name}}</div>
                    <div style="font-size:3.5vw;color:#666666;">{{schooldata.data.school_area_text}}</div>
                </div>
                <div style="font-size: 3.2vw;color: #999999;">{{schooldata.data.school_theme}}</div>
                <div class="school_line2 f_row_sb">
                    <div class="f_middle">
                        <div class="line2_item f_middle">
                            <div class="diamond"></div>
                            <div style="font-size:3.8vw;" v-for='item in schooldata.data.school_system_text'>{{item}}
                            </div>
                        </div>
                    </div>
                    <div class="f_middle">
                        <div class="line4_items line4_items1 f_middle" v-for='item in schooldata.data.school_type_text'>
                            {{item}}
                        </div>

                    </div>
                </div>
            </div> -->
        </div>

        <!-- 内容区域 -->
        <div class="content" >
            <van-tabs v-model="active" swipeable  lazy-render  color="#2397ff" font-size="3.467vw" offset-top="26.667vw">
                <van-tab title=简介 class="tab_one" >
                    <div class="cont" style="padding:0 6.667vw;">
                        <div class="top" style="margin-top:4vw;width: 100%;height: 3.733vw;box-sizing: border-box;">
                            <span style="font-size: 4vw;font-weight: 600;">{{schooldata.data.school_name}}</span>
                            <span style="font-size: 2.933vw;font-weight: 600;margin-right: 5.333vw;">商学院</span>
                            <div style="font-size:2.667vw;color:#666666;float: right;position: relative;top:1.333vw"><p style="padding-right: 1.333vw;font-size: 2.667vw;color: #9b9b9b;">{{schooldata.data.school_area_text}}</p> <img src="../image/iconimg/you.png" alt="" style="float: right;width: 0.933vw;height: 1.733vw;position: absolute;top: 50%;transform: translateY(-50%);right: 0;"> </div>
                        </div>
                        <div class="between">                           
                                {{schooldata.data.major}}                       
                        </div>
                        <div class="bottom" style="height: 3.333vw;width: 100%;overflow: hidden;margin-bottom: 3.067vw;">
                            <img src="../image/iconimg/zzzm.png" alt="" style="float: left;height: 100%;margin-right: 1.333vw;">
                            <div style="font-size:2.667vw;color: #2397ff;padding:0 1.067vw;float: left;" v-for='item in schooldata.data.school_system_text'>{{item}}
                            </div>
                            <div style="float: left;margin-left:1.333vw;font-size: 1.867vw;height: 3.067vw;padding:0 1.333vw;border: 0.133vw solid #2397ff;color: #2397ff;box-sizing: border-box;border-radius: 0.667vw;" class="line4_items line4_items1 f_middle" v-for='item in schooldata.data.school_type_text'>
                                {{item}}
                            </div>


                        </div>
                        <div class="jianjie" style="font-size: 3.667vw;line-height: 1.5;">{{schooldata.data.school_theme}}</div>
                    </div>
                  
                </van-tab>
                <van-tab title="分数线" class="tab_two">
                    <ul class="fenshu" style="padding: 0 6.667vw;">
                        <li class="fenshu_list">
                            <p>2020年分数线</p>
                            <div class="list">
                                <div class="lis">
                                    <span style="border-right: 0.133vw solid #a5d5ff;">总分</span>
                                    <span >{{Fens.total_score}}</span>
                                </div>
                                <div class="lis">
                                    <span  style="border-right: 0.133vw solid #a5d5ff;">外语</span>
                                    <span>{{Fens.english_score}}</span>
                                </div>
                                <div class="lis">
                                    <span style="border-right: 0.133vw solid #a5d5ff;">综合</span>
                                    <span>{{Fens.colligate_score}}</span>
                                </div>
                            </div>          
                        </li>
                        <li class="fenshu_list">
                            <p>2019年分数线</p>
                            <div class="list">
                                <div class="lis">
                                    <span style="border-right: 0.133vw solid #a5d5ff;">总分</span>
                                    <span >{{Fens.total_score}}</span>
                                </div>
                                <div class="lis">
                                    <span  style="border-right: 0.133vw solid #a5d5ff;">外语</span>
                                    <span>{{Fens.english_score}}</span>
                                </div>
                                <div class="lis">
                                    <span style="border-right: 0.133vw solid #a5d5ff;">综合</span>
                                    <span>{{Fens.colligate_score}}</span>
                                </div>
                            </div>          
                        </li>
                        <li class="fenshu_list">
                            <p>2018年分数线</p>
                            <div class="list">
                                <div class="lis">
                                    <span style="border-right: 0.133vw solid #a5d5ff;">总分</span>
                                    <span style="padding: 0 0 0 2.667vw;" >{{Fens.total_score}}</span>
                                </div>
                                <div class="lis">
                                    <span  style="border-right: 0.133vw solid #a5d5ff;">外语</span>
                                    <span style="padding: 0 0 0 2.667vw;">{{Fens.english_score}}</span>
                                </div>
                                <div class="lis">
                                    <span style="border-right: 0.133vw solid #a5d5ff;">综合</span>
                                    <span style="padding: 0 0 0 2.667vw;">{{Fens.colligate_score}}</span>
                                </div>
                            </div>          
                        </li>
                    </ul>
                </van-tab>
                <van-tab title="院校相关" class="tab_three">
                    <div class="yuanxiao" style="padding:0 6.667vw;">
                        <ul class="ul">
                            <li class="li" @click='navgauge'>
                                <img src="../image/iconimg/zsjz.png" alt=""  style="width: 100%;margin-bottom:2.667vw;">
                                <p style="width: 100%;text-align: center;font-size: 3.2vw;">招生简章</p>
                            </li>
                            <li class="li" @click='navpaeach'>
                                <img src="../image/iconimg/xjsp.png" alt=""  style="width: 100%;margin-bottom:2.667vw;">
                                <p style="width: 100%;text-align: center;font-size: 3.2vw;">宣讲视频</p>
                            </li>
                            <li class="li" @click='navApply'><img src="../image/iconimg/sqlc.png" alt=""  style="width: 100%;margin-bottom:2.667vw;">
                                <p style="width: 100%;text-align: center;font-size: 3.2vw;">申请流程</p>
                            </li>
                            <li class="li" @click='navproblem'><img src="../image/iconimg/cjwt.png" alt=""  style="width: 100%;margin-bottom:2.667vw;">
                                <p style="width: 100%;text-align: center;font-size: 3.2vw;">常见问题</p>
                            </li>
                        </ul>
                        <div class="bd" style="padding:2.933vw 6.8vw;background-color: #f7f7f7;box-sizing: border-box;margin-top:5.333vw;border-radius: 3.333vw;">
                            <ul style="width: 100%;">
                                <li style="width: 100%;border-bottom: 0.133vw solid #cfcfcf;height: 6.4vw;font-size: 2.933vw;color: #8d8d8d;">
                                    <span style="line-height: 6.4vw; float: left;width: 50%;box-sizing: border-box;border-right:0.133vw solid  #cfcfcf;text-align: center;">学制</span>
                                    <span style="line-height: 6.4vw;float: left;width: 50%;box-sizing: border-box;text-align: center;">
                                      
                                        学制
                                    </span>

                                </li>
                                <li style="width: 100%;border-bottom: 0.133vw solid #cfcfcf;height: 6.4vw;font-size: 2.933vw;color: #8d8d8d;">
                                    <span style="line-height: 6.4vw; float: left;width: 50%;box-sizing: border-box;border-right:0.133vw solid  #cfcfcf;text-align: center;">项目类型</span>
                                    <span style="line-height: 6.4vw;float: left;width: 50%;box-sizing: border-box;text-align: center;" v-for='item in schooldata.data.school_system_text'> {{item}}</span>
                            
                                </li>
                                <li style="width: 100%;border-bottom: 0.133vw solid #cfcfcf;height: 6.4vw;font-size: 2.933vw;color: #8d8d8d;">
                                    <span style="line-height: 6.4vw; float: left;width: 50%;box-sizing: border-box;border-right:0.133vw solid  #cfcfcf;text-align: center;">招生指标</span>
                                    <span style="line-height: 6.4vw;float: left;width: 50%;box-sizing: border-box;text-align: center;">学制</span>

                                </li>
                                <li style="width: 100%;border-bottom: 0.133vw solid #cfcfcf;height: 6.4vw;font-size: 2.933vw;color: #8d8d8d;">
                                    <span style="line-height: 6.4vw; float: left;width: 50%;box-sizing: border-box;border-right:0.133vw solid  #cfcfcf;text-align: center;">是否有提前面试</span>
                                    <span style="line-height: 6.4vw;float: left;width: 50%;box-sizing: border-box;text-align: center;">是</span>

                                </li>
                                <li style="width: 100%;height: 6.4vw;font-size: 2.933vw;color: #8d8d8d;">
                                    <span style="line-height: 6.4vw; float: left;width: 50%;box-sizing: border-box;border-right:0.133vw solid  #cfcfcf;text-align: center;">是否接受调剂</span>
                                    <span style="line-height: 6.4vw;float: left;width: 50%;box-sizing: border-box;text-align: center;">否</span>

                                </li>
                            </ul>

                        </div>
                    </div>
                </van-tab>
                <van-tab title="院校公告" class="tab_four">
                    <ul class="gonggao" style="width: 83.467vw;margin:5.333vw auto;background-color: #f5f5f5;padding:2.133vw;border-radius: 3.333vw;" v-if="tips.length > 0">
                        <li style="height: 20vw;border-bottom: 0.133vw solid #d1d1d1;padding-top:2.267vw"  v-for="(item,index) in tips" @click="turnTipsDtl(item)" >
                            <div class="left" style="float: left;height: 100%;">
                                <p style="font-size: 2.667vw;line-height: 4.667vw;width: 47.2vw;overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;">{{item.title}}</p>
                                <div style="margin-top:3.533vw;font-size: 2.133vw;">
                                    <span style="background-color: #2397ff;color: #fff;padding:0.4vw 0.8vw;margin-right: 6.667vw;border-radius: 0.667vw;">最新</span>
                                    <span style="color: #9d9d9d;">{{item.cratetime}}</span>
                                </div>
                            </div>
                            <div class="right" style="float: right;width: 27.6vw;height: 15.867vw;">
                                <img src="../image/iconimg/ceshi.png" alt="" style="width: 100%;height: 100%;">
                            </div>
                        </li>
                        <div class="f_middle" style="color:#999999;font-size:3.5vw;width: 100%;text-align: center;margin-top:10px" @click='getMore'>加载更多</div>
                    </ul>
                    <div style="width: 100%;text-align: center;" v-if="tips.length == 0">暂无公告</div>                   
                </van-tab>
              </van-tabs>
          
        </div>

 
     
        <div class="ma" style="width: 100%;height: 13.067vw;">

        </div>

<!--       

        <div class="score_area" style="border:none;margin-top: 17vw;">
            <div class="item_line1">
                <div class="blue_icon"></div>
                <div style="flex:1; font-weight:bold;">往年录取分数线</div>
                <div class="i_arrow" @click='Fens_more'></div>
            </div>
            <p style="text-align:center;color:#666;font-size:4vw;" v-if='Fens&&Fens==""'>暂无录取分数</p>
            <div class="item_line2" v-if='Fens!=""'>
                <div>英语</div>
                <div>{{Fens.english_score}}</div>
                <div class="f_middle">
                    <div class="progress_bar">
                        <div class="in_bar" v-bind:style="'width:'+Fens.english_rate+'%'"></div>
                    </div>
                    <div style="margin-left:1vw;color:#666666;">{{Fens.english_rate}}%</div>
                </div>
            </div>
            <div class="item_line2" v-if='Fens!=""'>
                <div>综合</div>
                <div>{{Fens.colligate_score}}</div>
                <div class="f_middle">
                    <div class="progress_bar">
                        <div class="in_bar" v-bind:style="'width:'+Fens.colligate_rate+'%'"></div>
                    </div>
                    <div style="margin-left:1vw;color:#666666;">{{Fens.colligate_rate}}%</div>
                </div>
            </div>
            <div class="item_line2" v-if='Fens!=""'>
                <div>总分</div>
                <div>{{Fens.total_score}}</div>
                <div class="f_middle">
                    <div class="progress_bar">
                        <div class="in_bar" v-bind:style="'width:'+Fens.total_rate+'%'"></div>
                    </div>
                    <div style="margin-left:1vw;color:#666666;">{{Fens.total_rate}}%</div>
                </div>
            </div>
        </div>

        <div class="b_l"></div>
        <div class="score_area" style="border:none;">
            <div class="item_line1">
                <div class="blue_icon"></div>
                <div style="font-weight:bold;">院校相关</div>
            </div>
            <div class="item_line4 f_middle" style="margin-top:3vw;">
                <div class="line4_item f_middle" @click='navgauge'
                    style="border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;">
                    <div class="zsjz"></div>
                    <div>招生简章</div>
                </div>
                <div class="line4_item f_middle" @click='navpaeach' style="border-bottom:1px solid #f2f2f2;">
                    <div class="gkk"></div>
                    <div>宣讲视频</div>
                </div>
            </div>
            <div class="item_line4 f_middle">
                <div class="line4_item f_middle" @click='navApply' style="border-right:1px solid #f2f2f2;">
                    <div class="lc"></div>
                    <div>申请流程</div>
                </div>
                <div class="line4_item f_middle" @click='navproblem'>
                    <div class="wt"></div>
                    <div>常见问题</div>
                </div>
            </div>
        </div> -->

        <!-- <div class="space_border"></div v-if="tips.length > 0"> -->
        <!-- <div class="score_area" style="border:none;" v-if="tips.length > 0">
            <div class="item_line1" style="margin-bottom:5.5vw;">
                <div class="blue_icon"></div>
                <div style="font-weight:bold;">院校公告<span style="color:#999999;"></span>
                </div>
            </div> -->
            <!-- <div class="tips_add">
              <div v-for="(item,index) in tips" @click="turnTipsDtl(item)" class="f_c one_lines" style="height:8vw;">{{index + 1}}.{{item.title}}</div>
            </div>
            <div class="f_middle" style="color:#999999;font-size:3.5vw;" @click='getMore'>加载更多</div>
        </div> -->

        <!-- <div class="space_border"></div>
        <div class="score_area" style="border:none;">
            <div class="item_line1" style="margin-bottom:5.5vw;">
                <div class="blue_icon"></div>
                <div style="font-weight:bold;">教师推荐<span style="color:#999999;">（{{comment.infodata.total||0}}）</span>
                </div>
            </div> -->
            <!-- <div class="comment_area" v-for="item in comment.data">
                <div class="comment_line1 f_row_sb">
                    <div class="f_middle">
                        <div><img class="comment_img" :src="item.avatar" alt=""></div>
                        <div style="margin-left:1.5vw;font-size:4.2vw;">{{item.username}}</div>
                    </div>
                    <div style="color:#666666;font-size:3.4vw;">{{item.create_time_text}}</div>
                </div>
                <div class="comment_line2">{{item.content}}</div>
            </div>
            <div class="f_middle" style="color:#999999;font-size:3.5vw;" @click='addmore'>加载更多</div>
        </div> -->
        <div id='footer' class="f_row_sb" >
            <!-- <div class="aui-btn" @click='bindsub(1)' :class="want==0?'ative':''">{{want==1?'我已报考意愿':'我有报考意愿'}} </div> -->
            <div class="kefu" @click='kefu(schooldata.data.baidu_url)'><img src="../image/iconimg/bkzx.png" alt="" style="float: left;width: 5.733vw;height: 5.733vw;margin:2.4vw 1.867vw 0 3.2vw"> 报考咨询</div>
            <div class="baokao" @click='bindsub()' :class="exam==1?'':'ative'" style="position: relative;padding-left: 10.667vw;box-sizing: border-box;"><img src="../image/iconimg/bm.png" alt="" style="width: 5.6vw;height: 5.6vw;position: absolute;top: 1.8vw;left: 3.333vw;" v-if="exam==1"><img src="../image/iconimg/bkgx.png" alt="" style="width: 5.6vw;height: 5.6vw;position: absolute;top: 1.8vw;left: 3.333vw;" v-if="exam!==1">{{exam==1?'我要报考':'取消报考'}} </div>
        </div>
        <!-- <div id='footer' class="f_row_sb"  @click='bindAddcomment'>
        <input type="text" readonly='false' placeholder='说点什么...'>
        <div style="color:#005faf;">发送</div>
      </div> -->
    </div>
    </div>
 
</body>

<script type="text/javascript" src="../script/api.js"></script>
<script src="../script/jquery.min.js"></script>

<script type="text/javascript" src="../script/vue.js"></script>
<script src="../script/vant.min.js"></script>
<script src="../script/configUtil.js" charset="utf-8"></script>

<script type="text/javascript">
    setTimeout(function () {
        if (typeof api == 'undefined') {
            api = {
                pageParam: {}
            }
            apiready();
        }
    }, 500);
    apiready = function () {
      api.setStatusBarStyle({
          style: 'dark',
      })
        var header = document.querySelector('#header');
        var main = document.querySelector('#main');
        $api.fixStatusBar(header);
        $api.fixStatusBar(main);
        var vm = new Vue({
            el: "#wrap",
            data: {
                school_id: api.pageParam.school_id || '',
                schooldata: {
                    data: ''
                },
                active: 0,
                more_tit: '加载更多',
                want: 0,
                exam: 0,
                comment: {
                    data: [],
                    page: 1,
                    infodata: ''
                },
                Fens: '',
                tip_page:1,
                tips:[],
            },
            mounted: function () {
                var header = document.querySelector('#header');
                $api.fixStatusBar(header);
                this.schoolInfo();
                this.bindFenslist();
                this.bindcommentlist();
                this.initStudent();
                this.getTips();
                
            },
            methods: {
   
   
                shareSchool(){

                  var sharedModule = api.require('shareAction');
                  var phonetype = api.systemType;
                  if (phonetype == 'android') {
                    sharedModule.share({
                      text: '考研通',
                      type: 'url',
                      path: school_url + this.school_id,
                    });
                  } else {
                    sharedModule.share({
                      text: '考研通',
                      type: 'url',
                      path: school_url + this.school_id,
                      thumbnail: 'widget://image/108.png',
                    });
                  }
                },
                turnTipsDtl(item){
                  this.openW('tip_dtl',item,true,null,false);
                },
                getMore(){
                  var that = this;
                  var param = {
                     page:that.tip_page + 1,
                     school_id: that.school_id,
                     limit:5
                  }
                  that.ajaxpost('post', globalData.schoolNoticeList, param).then((res) => {
                    var res = $.parseJSON(res);
                    alert(JSON,stringify(res))
                    if(!res.data){
                      that.toast('没有更多了')
                      return
                    }
                    if(res.data.length > 0){
                      that.tip_page = param.page;
                      that.tips=that.tips.concat(res.data);
                    }else{
                      that.toast('没有更多了')
                    }
                  }).catch((ret) => {
                    loginfo(ret)
                  })
                },
                getTips(){
                  var that = this;
                  var param = {
                     page:that.tip_page,
                     school_id: that.school_id,
                     limit:5
                  }
                  that.ajaxpost('post', globalData.schoolNoticeList, param).then((res) => {
                    var res = $.parseJSON(res);
                        alert(JSON.stringify(res))
                        // var time=res.data.createtime
                        // function formatNumber (time) {
                        //        n = n.toString()
                        //        return n[1] ? n : '0' + n;
                        // }
                        // formatTime(time, 'Y-M-D h:m:s')

                   that.tips=res.data
                  }).catch((ret) => {
                    loginfo(ret)
                  })
                },
                kefu(url) {
                    var that = this;
                    var data = {
                        type: 1,
                        school_id: that.school_id
                    }
                    console.log(JSON.stringify(data))
                    that.ajaxpost('post', globalData.becomeStudent, data).then((res) => {
                        var res = $.parseJSON(res);
                        console.log(JSON.stringify(res))
                        this.openW('kefu_win', { url: url }, true)
                    }).catch((ret) => {
                        loginfo(ret)
                    })

                    // var mq = api.require('meiQia');
                    // //设置title以及按钮颜色
                    // var titleColor = {
                    //   color: "#000000"
                    // };
                    // mq.setTitleColor(titleColor);

                    // mq.show({showAvatar:false});

                },
                //是否报考
                initStudent() {
                    var that = this;
                    var data = {
                        school_id: that.school_id,
                        type: 1
                    }
                    that.ajaxpost('post', globalData.isStudent, data).then((res) => {

                        var res = $.parseJSON(res);
                        console.log(JSON.stringify(res))
                        that.want = res.data.want;
                        that.exam = res.data.exam;
                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
                //报考
                bindsub() {
                    var that = this;
                    var data = {

                        school_id: that.school_id
                    }
                    console.log(JSON.stringify(data))
                    that.ajaxpost('post', globalData.becomeStudent, data).then((res) => {

                        var res = $.parseJSON(res);
                        console.log(JSON.stringify(res))
                        if (res.code == 1) {
                            if (that.exam == 1) {
                                that.exam = 0
                            } else {
                                that.exam = 1
                            }
                            that.toast(res.msg)
                        }

                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
                //招生
                navgauge() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_school_gauge_win', data, true);
                },
                //往年分数
                Fens_more() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_school_score', data, true);
                },
                //宣讲
                navpaeach() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_school_preach_win', data, true);
                },
                //流程
                navApply() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_school-Apply_win', data, true);
                },
                //问题
                navproblem() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_problem_win', data, true);
                },
                //关闭
                closew() {
                    this.closeW()
                },
                //学校
                schoolInfo() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.ajaxpost('post', globalData.schoolInfo, data).then((res) => {
                        var res = $.parseJSON(res);
                        // alert(JSON.stringify(res))
                        that.schooldata.data = res.data;
                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
                //添加评论
                bindAddcomment() {
                    var that = this;
                    var UIChatBox = api.require('UIChatBox');
                    UIChatBox.open({
                        placeholder: '评论',
                        maxRows: 4,
                        autoFocus: true,
                        isClose: true
                    }, function (ret, err) {
                        if (ret) {
                            console.log(JSON.stringify(ret));
                            if (ret.eventType == 'send') {
                                var data = {
                                    school_id: that.schooldata.data.school_id,
                                    content: ret.msg
                                }
                                if (data.content == '') {
                                    that.toast('请输入内容')
                                    return
                                }
                                that.ajaxpost('post', globalData.addschoolpl, data).then((res) => {

                                    var res = $.parseJSON(res);
                                    if (res.code == 1) {
                                        UIChatBox.close();
                                        that.bindcommentlist(true);
                                        that.content = '';
                                        that.toast('评论成功')
                                    } else if (res.code == 0) {
                                        that.toast(res.msg)
                                    } else {
                                        loginfo(ret)
                                    }

                                    console.log(JSON.stringify(res))
                                }).catch((ret) => {
                                    loginfo(ret)
                                })
                            }
                        } else {
                            console.log(JSON.stringify(err));
                        }
                    });

                },
                //更多
                addmore() {
                    this.comment.page = this.comment.page + 1;
                    this.bindcommentlist()
                },
                //评论
                bindcommentlist(state) {
                    var that = this;
                    if (state) {
                        that.comment.page = 1;
                        that.comment.data = [];
                    }
                    var data = {
                        page: that.comment.page,
                        limit: 5,
                        school_id: that.school_id
                    }
                    that.ajaxpost('post', globalData.evaluateList, data).then((res) => {

                        var res = $.parseJSON(res);

                        if (res.code == 1) {
                            if (res.data.data == null) {
                                that.more_tit = '暂无更多'
                                return;
                            }
                            that.comment.infodata = res.data
                            var add = that.comment.data.concat(res.data.data)
                            that.comment.data = add;

                        }

                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
                //分数
                bindFenslist(index) {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.ajaxpost('post', globalData.scoreInfo, data).then((res) => {
                        console.log(JSON.stringify(res))
                        var res = $.parseJSON(res);
                        that.Fens = res.data;

                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
            }
        });
    };
</script>

</html>
