<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>账户</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css">
      <link rel="stylesheet" href="../css/style2.css">
      <link rel="stylesheet" href="../css/vant.css">
      <link rel="stylesheet" href="../css/add.css">
      <link rel="stylesheet" type="text/css" href="../css/test_shop.css" />
      <style>
          body{
            background: #fff;
          }
          #header{
            height: 12.5vw;
            position: fixed;
            top:0;
            left:0;
          }
          #header{
            background-color: #fff;
          }
          #header .aui-title{
            color: #000;
          }
          #header .aui-icon-left{
            color: #000
          }
          .account_quer{

          }
          .account_mod{
            position: fixed;
            padding: 0 4vw;
            z-index: 99999;
            top:50%;
            width: 80vw;
            padding-bottom: 2vw;
            left: 50%;
            border-radius: 10px;
            margin-left: -44vw;
            margin-top: -25vw;
            background-color: #fff;
          }
          .account_mod_tit{
            display: -webkit-box;
            width: 100%;
            overflow-x: scroll;
            height: 15vw;
            line-height: 15vw;


          }
          .account_mod_tit div{
            display: flex;
            align-items: center;
          }
          .account_name{
            width: 100%;
            display: flex;
            height: 10vw;
            align-items: center;

          }
          .account_name span{
            width: 25%;
            display:inline-block;

          }
          .account_name input{
            border: 1px solid #eee;
            border-radius: 10px;
            flex: 1;
            height: 8vw;
          }


          .account_mod .account_btn{
            padding: 0;
            margin-top: 2vw;

            text-align: center;
            background-color: #fff;
          }
          .account_mod .account_btn .aui-btn{
            width: 80%;
          }
      </style>
  </head>
  <body>
      <div id="app">
        <div class="account">
          <header id="header" class="aui-bar aui-bar-nav">
              <div class="aui-pull-left aui-btn" @click='this.closeW'>
                  <span class="aui-iconfont aui-icon-left"></span>
              </div>
              <div class="aui-title">账户</div>
              <div class="aui-pull-right aui-btn">
                  <span @click='navtx'>提现明细</span>
              </div>
          </header>
          <div id="main" class="main">
            <div style="height:12.5vw;"></div>
            <div class="line"></div>
            <van-popup v-model="show" position="bottom">
              <div class="tx_b_btns">
                <div class="price_btn fcc" style="background-color:#1D78D7;" @click='addAli'>提现到支付宝</div>
                <div class="price_btn fcc" style="background-color:#1D78D7;" @click='addCard'>提现到银行卡</div>
              </div>
            </van-popup>
            <div class="account_wrap">
              <div class="account_w_bg" style="position:relative;">
                <div class="tx_btn" @click="showChange">提现</div>
                <p>账户总金额</p>
                <h3 style="color:#fff;">￥{{money}}</h3>
              </div>
              <div class="f_c" style="font-size:4vw;height:10vw;">充值金额</div>
              <div style="display:flex;flex-wrap: wrap;">
                <div @click="choosePrice(index)" class="price_item fcc color6" v-for="(item,index) in pricelist" :class="{price_item_mr:index%3!=2,price_active:price_index==index}">{{item}}</div>
              </div>
              <div class="f_c" style="font-size:4vw;height:10vw;">充值方式</div>
              <!-- <div class="line3_item fsbc">
                  <div class="f_c">
                      <div class="weixin_icon"></div>
                      <div style="margin-left:5vw;">微信</div>
                  </div>
                  <input class="aui-radio" value="3" v-model='pay_type' type="radio" name="radio">
              </div> -->
              <div class="line3_item fsbc">
                  <div class="f_c">
                      <div class="zhifubao_icon"></div>
                      <div style="margin-left:5vw;">支付宝</div>
                  </div>
                  <input class="aui-radio" value="1" v-model='pay_type' type="radio" name="radio">
              </div>
              <div class="fcc">
                <div class="price_btn fcc" style="margin-top:12vw;" @click='paly'>立即支付</div>
              </div>
              <!-- <div class="account_btn">
                <div class="aui-btn account_Recharge" @click='paly'>充值</div>
              </div> -->
              <!-- <div class="account_btn">
                <div class="aui-btn account_carry" @click='addTX'>提现到支付宝</div>
              </div>
              <div class="account_btn">
                <div class="aui-btn account_carry" @click='addCard'>提现到银行卡</div>
              </div> -->
            </div>
            <div class="mask" @click='accountshow=false' :style="accountshow?'display:block':'display:none'" ></div>
            <div class="account_mod" v-if='accountshow'>
              <div class="account_mod_tit">
                <div v-for='item in bank'><input class="aui-radio" type="radio" @change='cheng_type' :value='item.id' name="demo" checked><span style="margin-right: 1vw;">{{item.bank}}</span></div>
              </div>
              <div class="account_name">
                <span>姓名<span style="color:red;">*</span></span><input v-model='name' placeholder="请输入姓名" type="text">
              </div>
              <!-- <div class="account_name" v-if="bink_id!=1">
                <span>开户行<span style="color:red;">*</span></span><input v-model='openbank' placeholder="请输入开户行" type="text">
              </div> -->
              <div class="account_name">
                <span>账号<span style="color:red;">*</span></span><input v-model='card'  placeholder="请输入账号/卡号" type="number">
              </div>
              <div class="account_name">
                <span>金额<span style="color:red;">*</span></span><input v-model='amount' placeholder="请输入金额" type="number">
              </div>
              <div class="account_btn">
                  <div class="aui-btn account_carry" @click='save'>确定</div>
              </div>
            </div>
        </div>
        </div>
      </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script src="../script/vue.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script type="text/javascript" src="../script/vant.min.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var header = document.querySelector('#header');
        var main = document.querySelector('#main');
        $api.fixStatusBar(header);
        $api.fixStatusBar(main);
        var vm = new Vue({
            el: '#app',
            data: {

              title: '',
              money:'',
              accountshow:false,
              bank:[],
              bink_id:1,
              card:'',
              amount:'',
              name:'',
              openbank:'',
              flag:false,
              rate:0,
              pricelist:[],
              price_index:0,
              pay_type:1,
              show:false
            },
            mounted: function () {
              var that = this;
              var header = document.querySelector('#header');
              $api.fixStatusBar(header);
              this.accoutinfo();
              this.bankinit()
              this.priceinit()
              this.getUserTxRate();
              api.addEventListener({
                  name: 'root_data'
              }, function(ret, err){
                  that.accoutinfo();
              });
              api.setRefreshHeaderInfo({
                visible: true,
                bgColor: '#F0F0F0',
                textDown: '下拉刷新...',
                textUp: '松开刷新...',
                showTime: true
              }, function(ret, err) {
                that.accoutinfo();
              });
            },
            methods:{
              choosePrice(index){
                this.price_index = index;
              },
              priceinit(){
                var that = this;
                that.ajaxpost('post', globalData.getChargePrice, {}).then((res) => {
                  var res = $.parseJSON(res);
                  if(res.code==1){
                    that.pricelist = res.data.pricelist.split(',');
                    that.pricelist.push('自定义')
                  }else{
                    loginfo(res)
                  }
                }).catch((ret) => {
                  loginfo(ret)
                })
              },
              getUserTxRate(){
                var that = this;
                that.ajaxpost('post', globalData.getUserTxRate, {}).then((res) => {
                  var res = $.parseJSON(res);
                  if(res.code==1){
                    that.flag = true;
                    that.rate = res.data.rate;
                  }else{
                    that.flag = false;
                  }
                }).catch((ret) => {
                  that.flag = false;
                })
              },
              showChange(){
                this.show = !this.show;
              },
              addAli(){
                this.showChange();
                var that = this;
                if(this.flag){
                  var param = {
                    applytype:1
                  }
                  that.ajaxpost('post',globalData.getMemberApplyStatus,param).then((res)=>{
                    var res =$.parseJSON(res);
                    if(res.data.status!=1){
                      that.toast('请完成实名认证').
                      return
                    }
                    this.openW('card_al',{money:this.money,rate:this.rate},true,null,false);
                  }).catch((ret)=>{
                    loginfo(ret)
                  })
                }else{
                  this.toast('不可提现')
                }
              },
              addCard(){
                this.showChange();
                var that = this;
                if(this.flag){
                  var param = {
                    applytype:1
                  }
                  that.ajaxpost('post',globalData.getMemberApplyStatus,param).then((res)=>{
                    var res =$.parseJSON(res);
                    if(res.data.status!=1){
                      that.toast('请完成实名认证').
                      return
                    }
                    this.openW('card_tx',{money:this.money,rate:this.rate},true,null,false);
                  }).catch((ret)=>{
                    loginfo(ret)
                  })
                }else{
                  this.toast('不可提现')
                }
              },
              addTX(){
                this.showChange();
                if(!this.flag){
                  this.toast('不可提现')
                  return
                }
                var that = this;
      					var param = {
      						applytype:1
      					}
      					that.ajaxpost('post',globalData.getMemberApplyStatus,param).then((res)=>{
      						var res =$.parseJSON(res);
      						if(res.data.status!=1){
      							that.toast('请完成实名认证').
      							return
      						}
      						that.accountshow=true;
      					}).catch((ret)=>{
      						loginfo(ret)
      					})
              },
              bankinit(){
                var that =this;
                var data ={

                }
                that.ajaxpost('post',globalData.bank,data).then((res)=>{
                  var res =$.parseJSON(res);
                    console.log(JSON.stringify(res))
                  if(res.code==1){
                    that.bank =[res.data[0]]
                  }
                }).catch((ret)=>{
                  loginfo(ret)
                })
              },
              cheng_type(){
                // alert(1)
              },
              navtx(){
                this.openW('my_tx_win',{},true)
              },
              txBefore(money,func){
                if(!money){
                  this.toast('请输入提现金额')
                  return
                }
                money = (money * this.rate / 100).toFixed(2)
                this.$dialog.confirm({
                  title: '提示',
                  message: '手续费'+ this.rate + '%(' + money +')元，是否提现？',
                }).then(function(){
                  func();
                }).catch(function(){

                });
              },
              save(){
                this.accountshow = false;
                var that =this;
                var data ={
                  name:that.name,
                  bank_id:that.bink_id,
                  card:that.card,
                  openbank:that.openbank,
                  amount:that.amount
                }
                this.txBefore(data.amount,function(){
                  that.ajaxpost('post',globalData.xuey_tx,data).then((res)=>{
                    var res =$.parseJSON(res);
                      console.log(JSON.stringify(res))
                    if(res.code==1){
                      api.sendEvent({
                          name: 'root_data',
                          extra: '刷新'
                      });
                     that.toast('提交成功，等待平台审核')
                     setTimeout(function(){
                      that.closeW()
                     },2000)
                    }
                  }).catch((ret)=>{
                    loginfo(ret)
                  })
                });
              },
              paly(){
                var that =this;
                var arr = ['确定','取消'];
                var num = 1;
                if (api.systemType == 'ios'){
                  arr = ['取消','确定']
                  num = 2;
                }
                if(this.price_index != this.pricelist.length-1){
                  var data ={
                    order_type:4,
                    money:this.pricelist[this.price_index],
                    pay_type:2
                  }
                  that.aliPay(data)
                }else{
                  api.prompt({
                    title:'金额',
                    type:'number',
                    buttons: arr
                  }, function(res, err){
                    console.log(JSON.stringify(res))
                    var data ={
                      order_type:4,
                      money:res.text,
                      pay_type:2
                    }
                    if(res.buttonIndex==num){
                      that.aliPay(data)
                    }
                  });
                }
              },
              aliPay(data){
                var that = this;
                var aliPayPlus = api.require('aliPayPlus');
                that.ajaxpost('post',globalData.createorder,data).then((resorder)=>{
                  var resorder =$.parseJSON(resorder);
                  console.log(JSON.stringify(resorder))
                  if(resorder.code==0){
                      that.toast(resorder.msg)
                      return
                  }
                  var param = {
                    out_trade_no:resorder.data.order_sn,
                    subject:'充值',
                    total_amount:resorder.data.total_fee,
                    body:'充值',
                  }
                  console.log(JSON.stringify(param))
                  that.ajaxpost('post', globalData.zfbpay, param).then((res) => {
        						var res = $.parseJSON(res)
        						if (res.code == 1) {
                      var aliPayPlus = api.require('aliPayPlus');
                      console.log('111')
                      console.log(res.data.payinfo)
                      aliPayPlus.payOrder({
                          orderInfo: res.data.payinfo
                      }, function(ret, err) {
                        if (ret.code == 9000) {
                          api.alert({
                              title: '提示',
                              msg: '支付成功',
                          }, function(ret, err){
                              if(ret.buttonIndex==1){
                                  that.accoutinfo();
                              }
                          });

                        } else if (ret.statusCode == 4000) {
                            that.toast('系统异常')
                        } else if (ret.statusCode == 4003) {
                            that.toast('该用户绑定的支付宝账户被冻结或不允许支付')
                        } else if (ret.statusCode == 4006) {
                            that.toast('订单支付失败')
                        } else if (ret.statusCode == 6001) {
                            that.toast('取消支付')
                        }
                      });
        						}
        					}).catch((ret) => {
        						loginfo(ret)
        					})
                  return
                  aliPay.config({
                      partner: '2088431641950803',
                      seller: '	39222033@qq.com',
                      rsaPubKey: 'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB',
                      rsaPriKey: 'MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBALQ/1qJs+h2d09z4jSoCOT/8rm/cA4c5NKQP6h2fXo+Xpy2CWb/J3BhDXiLOPq6nh7j4E5yu8UZWM5WC1tFCKF+ZRpaWU32cJ+x9l6rLcnRbp2tPmqfbSXnv8bA7mYkdHTiuNHFNcuTMyB3ekxCAZBNGzmc3kC09S3JP9Hh3ICXbAgMBAAECgYBP1CoZ24vWTA0Fw2q5nSx/w0f6MIW7gMFom8fDAM8fZznaNO3Mu/jnIgbyAUfPkFDSwcPl07D1xr2nzL+ZA+Te24uydpgl6BEQeoC5WDaD6/3dsdgJITyrRbfWVFCDbeUCjYUx0n36kLgWXhtroH/fq1u9CB2Dalsx1kpuM+c1OQJBAOCe270LluzQPGOT5c40O4E40BUy93yDwnS3ZhKLQ974c8yya8kqP010zA+m3lcJhNE5PC/eqh7ysiFbMyrORz8CQQDNbiBhvz+q99PYEOCYqUTe04cBqN5s/e5JCoCqoanZQ/8mW+GELgA0aV5myXcXJRaX/GBHD2ewhhDqdkTGWXZlAkBt5Gp+96+UFmClGxOAKb++/cuXw4KfMVsufRd8FRRUftswl03yci/cNjsroSkADhEjx0ux4875KyWI+jRzSc5DAkEAkUi6NAb6syI0O1GsVasYnvJAP8c7DyADPrrjxkkxAwwYzfsbIc0arfZ7IfyHceHz+acuO/NEJM6b9gWQnCq3FQJBALRTtOQpOJIHfwv5U0MUltxIIZvCYBnSCkQmz+DCyS1SplJoA1wHXyDgOGDVufhdG0gg5yPhpUgqJ+3qOoGKm00=',
                      notifyURL: 'http://kyt.wh66.cn/api/PayNotify/aliyun_notify'
                  }, function(ret, err) {
                      if(ret.status){
                        console.log(JSON.stringify(ret))
                        aliPay.pay({
                            subject: '充值',
                            body: resorder.data.order_sn,
                            amount: data.money,
                            tradeNO: resorder.data.order_sn
                        }, function(ret, err) {
                          if(ret.code==9000){
                            api.alert({
                                title: '提示',
                                msg: '支付成功',
                            }, function(ret, err){
                                if(ret.buttonIndex==1){
                                    that.accoutinfo();
                                }
                            });


                          }
                        });

                      }
                  });
                }).catch((ret)=>{
                  loginfo(ret)
                })
              },
              //info
              accoutinfo(){
                var that =this;
                var data ={

                }
                that.ajaxpost('post',globalData.getUserBalance,data).then((res)=>{

                  var res =$.parseJSON(res);
                    console.log(JSON.stringify(res))
                  if(res.code==1){
                      that.money=res.data
                  }else{
                    that.toast(res.msg)
                  }
                }).catch((ret)=>{
                  loginfo(ret)
                })
              },
            },


        })
      };
  </script>
  </html>
