<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <title>title</title>
  <link rel="stylesheet" type="text/css" href="../css/api.css" />
  <link rel="stylesheet" href="../css/aui.css">
  <link rel="stylesheet" href="../css/add.css">
  <link rel="stylesheet" type="text/css" href="../css/common.css" />
  <link rel="stylesheet" type="text/css" href="../css/attention_teacher.css" />
  <style>
    body {}

    .atteneion {
      width: 16vw;
      font-size: 3vw;
      text-align: center;
    }

    .on_xx {
      width: 2.5vw;
      height: 2.5vw;
      display: inline-block;
      background: url(../image/star0.jpg) 0 0 no-repeat;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      margin: 0;
    }

    .on_xx1 {
      width: 2.5vw;
      height: 2.5vw;
      display: inline-block;
      background: url(../image/star1.jpg) 0 0 no-repeat;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      margin: 0;
    }

    .on_xx2 {
      width: 2.5vw;
      height: 2.5vw;
      display: inline-block;
      background: url(../image/star2.jpg) 0 0 no-repeat;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      margin: 0;
    }

    .on_h1 {
      width: 2.5vw;
      height: 2.5vw;
      display: inline-block;
      background: url(../image/h1.jpg) 0 0 no-repeat;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      margin: 0;
    }

    .on_h2 {
      width: 2.5vw;
      height: 2.5vw;
      display: inline-block;
      background: url(../image/h2.jpg) 0 0 no-repeat;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      margin: 0;
    }

    .on_h3 {
      width: 2.5vw;
      height: 2.5vw;
      display: inline-block;
      background: url(../image/h3.jpg) 0 0 no-repeat;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      margin: 0;
    }

    .on_h4 {
      width: 2.5vw;
      height: 2.5vw;
      display: inline-block;
      background: url(../image/h4.jpg) 0 0 no-repeat;
      background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      margin: 0;
    }
  </style>
</head>

<body>
  <div id='wrap2'>

    <div class="space_border"></div>
    <p style="text-align:center;color:#666;font-size:4vw;" v-if='followList.data&&followList.data.length==0'>暂无数据</p>
    <div class="teacher_area" v-for="item,index in followList.data" @click="turnTD(item)">
      <div class="top_area">
        <div class="teacher_img"><img :src="item.avatar" style='width:100%;height:100%;' alt=""></div>
        <div class="teacher_right">
          <div class="right_line1 f_row_sb">
            <div style="font-size:3.5vw; " v-cloak>{{item.nickname}}
              <div class="f_c" v-if="item.level==1">
                <span class="on_xx2"></span>
              </div>
              <div class="f_c" v-if="item.level==2">
                <span class="on_xx"></span>
              </div>
              <div class="f_c" v-if="item.level==3">
                <span class="on_xx"></span>
                <span class="on_xx2"></span>
              </div>
              <div class="f_c" v-if="item.level==4">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
              </div>
              <div class="f_c" v-if="item.level==5">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx2"></span>
              </div>
              <div class="f_c" v-if="item.level==6">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
              </div>
              <div class="f_c" v-if="item.level==7">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx2"></span>
              </div>
              <div class="f_c" v-if="item.level==8">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
              </div>
              <div class="f_c" v-if="item.level==9">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx2"></span>
              </div>
              <div class="f_c" v-if="item.level==10">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
              </div>
              <div class="f_c" v-if="item.level==11">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx2"></span>
              </div>
              <div class="f_c" v-if="item.level==12">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
              </div>
              <div class="f_c" v-if="item.level==13">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx2"></span>
              </div>
              <div class="f_c" v-if="item.level==14">
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
                <span class="on_xx"></span>
              </div>
              <div class="f_c" v-if="item.level==15">
                <span class="on_h1"></span>
              </div>
              <div class="f_c" v-if="item.level==16">
                <span class="on_h1"></span>
                <span class="on_h1"></span>
              </div>
              <div class="f_c" v-if="item.level==17">
                <span class="on_h1"></span>
                <span class="on_h1"></span>
                <span class="on_h1"></span>
              </div>
              <div class="f_c" v-if="item.level==18">
                <span class="on_h2"></span>
              </div>
              <div class="f_c" v-if="item.level==19">
                <span class="on_h2"></span>
                <span class="on_h2"></span>
              </div>
              <div class="f_c" v-if="item.level==20">
                <span class="on_h2"></span>
                <span class="on_h2"></span>
                <span class="on_h2"></span>
              </div>
              <div class="f_c" v-if="item.level==21">
                <span class="on_h3"></span>
              </div>
              <div class="f_c" v-if="item.level==22">
                <span class="on_h3"></span>
                <span class="on_h3"></span>
              </div>
              <div class="f_c" v-if="item.level==23">
                <span class="on_h3"></span>
                <span class="on_h3"></span>
                <span class="on_h3"></span>
              </div>
              <div class="f_c" v-if="item.level==24">
                <span class="on_h4"></span>
              </div>
              <div class="f_c" v-if="item.level==25">
                <span class="on_h4"></span>
                <span class="on_h4"></span>
              </div>
              <div class="f_c" v-if="item.level==26">
                <span class="on_h4"></span>
                <span class="on_h4"></span>
                <span class="on_h4"></span>
              </div>
            </div>
            <div>
              <span style="color:#999999;font-size: 3vw;">粉丝:<span
                  style="color:#ff8542;">{{item.follow_num}}</span></span>
              <span class="atteneion" @click.stop='follow(index)'
                :style='item.text==1?"background-color: #017be3;color:#fff;":""'>{{item.text==1?'已关注':'关注'}}</span>
            </div>
          </div>
          <div class="right_line2">
            {{item.signature}}
          </div>
        </div>
      </div>
      <div class="bottom_area">
        <div class="bottom_item" @click='navCourse(index)'>
          <div class="icon"><i class="icon_del kc_icon img"></i></div>
          <div style="margin-left:3vw;">他的课程</div>
          <div style="color:#999999">（{{item.course_num}}个）</div>
        </div>
        <div class="bottom_item" style="border:none;" @click='navtopic(index)'>
          <div class="icon" style="margin-left:2vw;"><i class="icon_del kc_icon img"></i></div>
          <div style="margin-left:2vw;">他的试卷</div>
          <div style="color:#999999">（{{item.paper_num}}个）</div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script src="../script/jquery.min.js"></script>
<script src="../script/configUtil.js" charset="utf-8"></script>
<script src="../script/util.js" charset="utf-8"></script>
<script type="text/javascript">
  apiready = function () {
    api.setStatusBarStyle({
      style: 'dark',
    })
    var vm = new Vue({
      el: "#wrap2",
      data: {
        followList: {
          page: 1,
          data: []
        },
        userinfo: $api.getStorage('userinfo') == null ? '' : $api.getStorage('userinfo'),
      },
      mounted: function () {
        var header = document.querySelector('#header');
        $api.fixStatusBar(header);
        this.initdata();
        this.scrolltobottom();
      },
      methods: {
        openW(name, param, slidBack, reload, bounces) {

          api.openWin({
            useWKWebView: true,
            name: name,
            url: 'widget://html/' + name + '.html',
            pageParam: param,
            slidBackEnabled: slidBack,
            reload: reload != undefined ? reload : false,
            bounces: bounces != undefined ? bounces : true,
            allowEdit: true
          })
        },
        getteachertype(type) {
          if (type == 1) {
            return ' 学士'
          }
          if (type == 2) {
            return ' 硕士'
          }
          if (type == 3) {
            return ' 博士'
          }
        },
        getteacherdip(type) {
          if (type == 1) {
            return ' 教师资质'
          }
          if (type == 2) {
            return ' 考研通教师资质'
          }
        },
        turnTD(item) {
          var that = this;
          var data = {
            teacher_id: item.teacher_id
          }
          that.ajaxpost('post', globalData.teacherFollow, data).then((res) => {
            var res = $.parseJSON(res);
            res.data.status1 = that.getteacherdip(res.data.teachertype);
            res.data.status2 = that.getteachertype(res.data.dip);
            if (res.data.is_real_teacher == 1) {
              res.data.status = '已认证';
            }
            res.data.status.level = item.level;
            console.log(JSON.stringify(res.data))
            that.openW('teacher_dtl', {
              info: res.data
            }, true, null, false);
            // api.openWin({
            //     name: name,
            //     url: 'widget://html/teacher_dtl.html',
            //     pageParam: {info:res.data},
            //     slidBackEnabled:true,
            //     reload:false,
            //     bounces:false,
            //     allowEdit:true
            // })
          }).catch((ret) => {
            loginfo(ret)
          })
        },
        //上拉
        scrolltobottom() {
          var that = this;
          console.log(22)
          api.addEventListener({
            name: 'scrolltobottom',
            extra: {
              threshold: 50 //距离底部距离
            }
          }, function (ret, err) {
            // listAjax(true);
            console.log(JSON.stringify(ret))
            that.followList.page += 1;
            that.initdata()
          });
        },
        //试卷
        navtopic(index) {
          var data = {
            teacher_id: this.followList.data[index].teacher_id,
          }
          this.openW('find_testPaper_win', data, true)
        },

        //老师课程
        navCourse(index) {
          var data = {
            teacher_id: this.followList.data[index].teacher_id
          }
          this.openW('course_h', data, true)
        },
        //关注
        follow(index) {
          var that = this;
          console.log(11)
          var data = {

            teacher_id: that.followList.data[index].teacher_id
          }
          if (that.followList.data[index].text == 1) {
            that.followList.data[index].follow_num -= 1
            that.followList.data[index].text = 0;
            that.ajaxpost('post', globalData.follow, data).then((res) => {
              var res = $.parseJSON(res);
              console.log(JSON.stringify(res))
              if (res.code == 1) {
                that.toast(res.msg)
              }
            }).catch((ret) => {
              loginfo(ret)
            })
          } else {
            that.followList.data[index].follow_num += 1
            that.followList.data[index].text = 1;
            api.confirm({
              title: '提示',
              msg: '是否向该老师公开手机号',
              buttons: ['确定', '取消']
            }, function (ret, err) {
              var index = ret.buttonIndex;
              if (index == 1) {
                data.is_show_mobile = 1;
                that.ajaxpost('post', globalData.follow, data).then((res) => {
                  var res = $.parseJSON(res);
                  console.log(JSON.stringify(res))
                  if (res.code == 1) {
                    that.toast(res.msg)
                  }
                }).catch((ret) => {
                  loginfo(ret)
                })
              } else {
                data.is_show_mobile = 0;
                that.ajaxpost('post', globalData.follow, data).then((res) => {
                  var res = $.parseJSON(res);
                  console.log(JSON.stringify(res))
                  if (res.code == 1) {
                    that.toast(res.msg)
                  }
                }).catch((ret) => {
                  loginfo(ret)
                })
              }
            })
          }

        },
        //
        initdata() {
          var that = this;
          var data = {

            page: that.followList.page,
            limit: 10
          }
          that.ajaxpost('post', globalData.followList, data).then((res) => {

            var res = $.parseJSON(res);
            if (res.code == 1 && res.data.data) {
              var list = res.data.data;
              for (let i = 0; i < list.length; i++) {
                getLevel(list[i].score, function (level) {
                  list[i].level = level;
                  if (i == list.length - 1) {
                    that.followList.data = that.followList.data.concat(list)
                  }
                })
              }
            }

          }).catch((ret) => {
            loginfo(ret)
          })
        },
      }
    });
  };
</script>

</html>