<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../css/api.css"/>
        <link rel="stylesheet" href="../css/aui.css">
        <link rel="stylesheet" href="../css/style2.css">
        <style>
            body{
               background: #fff;
            }
            #header{
              background-color: #fff;
            }
            #header .aui-title{
              color: #000;
            }
            #header .aui-icon-left{
              color: #000
            }
            .aui-list-item input{
              width: 30vw;
              text-align: right!important;
            }
            .setop_call input{
              width: 30vw;
              text-align: left;
            }
            .setop_sex{
              width:30vw;
              direction: rtl;
            }
            .setop .aui-btn{
            background-color:#1D78D7;
            color: #fff;
            width: 80%;
            margin:10vw auto;
            border-radius: 4vw;

          }
        </style>
    </head>
    <body>
        <div id="app">
          <header id="header" class="aui-bar aui-bar-nav">
              <div class="aui-pull-left aui-btn" @click='this.closeW'>
                  <span class="aui-iconfont aui-icon-left"></span>
              </div>
              <div class="aui-title">地址添加</div>
              <!-- <div class="aui-pull-right aui-btn">
                  <span>创建课程</span>
              </div> -->
          </header>
          <div class="setop">
            <ul class="aui-list aui-list-in">

              <li class="aui-list-item">
                  <div class="aui-list-item-inner ">
                      <span>收件人<span style="color:red;">*</span></span>
                      <div class="setop_call">
                        <input type="text" placeholder='请输入' v-model='address.name' name="" value="">

                      </div>
                  </div>
              </li>
              <li class="aui-list-item">
                  <div class="aui-list-item-inner">
                      <span>收件人手机号<span style="color:red;">*</span></span>
                      <div class="setop_call">
                        <input type="Number" placeholder='请输入' v-model='address.phone' name="" value="">

                      </div>
                  </div>
              </li>
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                      <span>省<span style="color:red;">*</span></span>
                      <div class="setop_sex">
                        <select class=""   v-model='address.provinceid' @change='chengearea(1)' name="">
                          <option  v-for='item in address.province' v-bind:disabled="item.disabled" v-bind:value="item.area_id" >{{item.area_name}}</option>
                        </select>
                      </div>
                  </div>
              </li>
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                      <span>市<span style="color:red;">*</span></span>
                      <div class="setop_sex">
                        <select class=""  v-model='address.cityid' @change='chengearea(2)' name="" >
                          <option v-for='item in address.city' v-bind:disabled="item.disabled" v-bind:value="item.area_id" >{{item.area_name}}</option>
                        </select>
                      </div>
                  </div>
              </li>
              <li class="aui-list-item">
                  <div class="aui-list-item-inner aui-list-item-arrow">
                      <span>区<span style="color:red;">*</span></span>
                      <div class="setop_sex">
                        <select class=""  v-model='address.areaid' name="">
                          <option v-for='item in address.area' v-bind:disabled="item.disabled" v-bind:value="item.area_id" >{{item.area_name}}</option>
                        </select>
                      </div>
                  </div>
              </li>
              <li class="aui-list-item">
                  <div class="aui-list-item-inner">
                      <div class="aui-list-item-label">
                          <span>详细地址<span style="color:red;">*</span></span>
                      </div>
                      <div class="aui-list-item-input">
                          <textarea placeholder="请输入" v-model='address.address_detail'></textarea>
                      </div>
                  </div>
              </li>
              <li class="aui-list-item">
                  <div class="aui-list-item-inner">
                      <span>设为默认地址<span style="color:red;">*</span></span>
                      <div class="setop_age">
                        <input class="aui-switch" style='width:12vw;' @click='bindstatus' type="checkbox" name="demo2" :checked="isdefault">
                      </div>
                  </div>
              </li>
            </ul>
            <div class="aui-btn " @click='save'>保存</div>

          </div>
        </div>
    </body>
    <script type="text/javascript" src="../script/api.js"></script>
    <script src="../script/jquery.min.js"></script>
    <script type="text/javascript" src="../script/vue.js"></script>
    <script src="../script/configUtil.js" charset="utf-8"></script>
    <script type="text/javascript">
        apiready = function(){
          api.setStatusBarStyle({
              style: 'dark',
          })
          var vm = new Vue({
              el: '#app',
              data: {
                  eventHub: new Vue(),
                  title: '',
                  imgs:'',
                  address_id:api.pageParam.address_id||'',
                  address:{
                    name:'',
                    phone:'',
                    province:[],
                    city:[],
                    area:[],
                    provinceid:'',
                    cityid:'',
                    areaid:'',
                    status:false,
                    address_detail:''
                  },
                  isdefault:false
              },
              mounted: function () {
                var header = document.querySelector('#header');
                $api.fixStatusBar(header);

                if(this.address_id!=''){
                    this.initEdit()
                }else{
                    this.initprovince(0);
                }

              },
              methods:{
                bindstatus(){
                    this.isdefault =!this.isdefault
                },
                //编辑
                initEdit(){
                  var that =this;
                  var data ={

                    id:that.address_id
                  }
                  that.ajaxpost('post',globalData.addressdetail,data).then((res)=>{

                    var res =$.parseJSON(res);
                    this.initprovince(0,res);


                    that.address.name=res.data.name
                    that.address.phone=res.data.phone
                    that.address.address_detail=res.data.detail
                    if(res.data.isdefault==1){
                      that.isdefault = true;
                    }
                  }).catch((ret)=>{
                    loginfo(ret)
                  })
                },
                //地区
                initprovince(status,resdata){
                  var that =this;
                  console.log(resdata)
                  var data ={
                    province:that.address.provinceid,
                    city:that.address.cityid
                  }
                  console.log(JSON.stringify(data))
                  that.ajaxpost('post',globalData.area,data).then((res)=>{
                    var res =$.parseJSON(res);
                    if(status==0){
                      var whole={
                        area_name:'请选择',
                        disabled:true,
                        area_id:'-1'
                      }
                      res.data.unshift(whole);
                      that.address.province =res.data

                      that.address.provinceid=-1
                      if(resdata instanceof Object){
                        console.log('执行')
                        that.address.provinceid=resdata.data.province_id

                        that.initprovince(1,resdata);

                      }
                    }
                    if(status==1){
                      var whole={
                        area_name:'请选择',
                        disabled:true,
                        area_id:'-1'
                      }
                      res.data.unshift(whole);
                      that.address.city =res.data

                      that.address.cityid=-1
                      console.log(typeof resdata)
                      if(resdata instanceof Object){
                        console.log('执行')
                        that.address.provinceid=resdata.data.province_id
                        that.address.cityid=resdata.data.city_id
                        that.initprovince(2,resdata);

                      }

                    }
                    if(status==2){
                      var whole={
                        area_name:'请选择',
                        disabled:true,
                        area_id:'-1'
                      }
                      res.data.unshift(whole);
                      that.address.area =res.data
                      that.address.areaid=-1

                      if(resdata instanceof Object){
                        console.log('执行')
                        that.address.areaid=resdata.data.region_id

                      }
                    }
                    console.log(JSON.stringify(res))
                  }).catch((ret)=>{
                    loginfo(ret)
                  })
                },
                //选择
                chengearea(index){
                  if(index==1){
                    this.address.area=[];
                    this.address.areaid='';
                    this.address.city=[];
                    this.address.cityid='';
                  }
                  if(index==2){
                    this.address.area=[];

                  }
                  this.initprovince(index)
                },
                //保存
                save(){
                  var that =this;
                  var data={
                    id:that.address_id,
                    name:that.address.name,
                    phone:that.address.phone,
                    province_id:that.address.provinceid,
                    city_id:that.address.cityid,
                    region_id:that.address.areaid,
                    detail:that.address.address_detail,
                    isdefault:0
                    // address_is_default:that.address.status==true?1:0
                  }
                  if(that.isdefault){
                    data.isdefault = 1;
                  }
                  if(data.name==''){
                    that.toast('请填写名字')
                    return
                  }
                  if(testFunction.isMobile(data.phone)!=true){
                    that.toast('请填写正确手机号')
                    return
                  }
                  if(data.province_id==''||data.province_id==-1){
                    that.toast('请填写省')
                    return
                  }
                  if(data.city_id==''||data.city_id==-1){
                    that.toast('请填写市')
                    return
                  }
                  if(data.region_id==''||data.region_id==-1){
                    that.toast('请填写地区')
                    return
                  }
                  if(data.detail==''){
                    that.toast('请填写地址详情')
                    return
                  }
                  that.ajaxpost('post',that.address_id==''?globalData.addAddress:globalData.addressedit,data).then((res)=>{
                    console.log(JSON.stringify(res))
                    var res =$.parseJSON(res);
                    if(res.code==1){
                        api.alert({
                            title: '提示',
                            msg: res.msg,
                        }, function(ret, err){
                            if(ret.buttonIndex==1){
                              api.sendEvent({
                                  name: 'address',
                                  extra: {
                                      yes: '1',
                                  }
                              });
                              that.closeW();
                            }
                        });

                    }else{
                      that.toast(res.msg)
                    }
                  }).catch((ret)=>{
                    loginfo(ret)
                  })
                }
              },

          })
        };
    </script>
    </html>
