<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css">
      <link rel="stylesheet" type="text/css" href="../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../css/public_class.css"/>
      <link rel="stylesheet" href="../css/swiper.css">
      <style>
          body{

          }
          [v-cloak]{
      			display: none!important ;
      		}

          .swiper-transverse{
            box-sizing: border-box;
            overflow: hidden;
          }
          .course_img2{
            width: 100%;
            height: 32vw;
          }
      </style>
  </head>
  <body>
    <div id='wrap2'>

      <div class="space_border"></div>
      <div class="top_area">

        <div class="home_course">
          <div class="home_course_t">
            <p>热门推荐</p>
            <!-- <div>更多<i class="i_arrow"></i></div> -->
          </div>
          <div class="swiper-transverse">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for='(item,index) in course.data'  @click='turnLive(item)'><div class="slide_img"><img :src="item.image_text[0]" alt=""><p></p><span>{{item.state_text}}</span></div> <div class="slide_wrap"><h3>{{item.name}}</h3><div class="silde_time">{{item.start_time}}开播</div></div></div>
              </div>

          </div>
        </div>
      </div>
      <div class="space_border"></div>
      <div class="menu_navs" style="position: relative;display: -webkit-box;overflow-x: scroll;">
        <div class="menu_nav" @click="toggle(index)" v-for="(item,index) in navs" :class="{active:active==index}">
          {{item.category_name}}
        </div>
      </div>
      <p style="text-align:center;color:#666;font-size:4vw;" v-if='courselist.data&&courselist.data.length==0'>暂无数据</p>
      <div class="course_area2">

        <div class="course_item2" v-for="(item,index) in courselist.data" @click='turnLive(item)'>
          <div class="course_img2"><img style='width:100%;height:100%;' :src="item.image_text[0]" alt=""><p></p><span>{{item.state_text}}</span></div>
          <div class="course_name">{{item.name}}</div>
          <div class="course_time">{{item.start_time}}开播</div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script type="text/javascript" src="../script/swiper1.js"></script>
  <script src="../script/moment.js" charset="utf-8"></script>
  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var vm = new Vue({
          el: "#wrap2",
          data: {
            course:{
              data:[]
            },

            courselist:{
              data:[],
              page:1
            },
            navs:[],
            active: 0, // 切换TABclass
          },
          mounted: function () {
            var header = $api.byId('header');
            $api.fixStatusBar(header);
            var that =this
            this.initFl();
            this.hotDirectList()
            this.$nextTick(function(){
                this.swoperinit()
                this.scrolltobottom()
            }.bind(this))
            api.setRefreshHeaderInfo({
                bgColor:'#ffffff'
              }, function(ret, err) {
                  that.courselist.data =[]
                  that.courselist.page =1
                  that.hotDirectList()
                  that.publicList(that.active)
              });
              api.addEventListener({
                  name: 'root_live'
              }, function(ret, err){
                that.courselist.data =[]
                that.courselist.page =1
                that.hotDirectList();
                that.publicList(that.active)
              });

          },
          methods: {
            turnLive(item){
              if(item.state==1){
                var that =this;
                that.ajaxpost('post',globalData.userInfo,{}).then((res)=>{
                  var res =$.parseJSON(res);
                  if(res.code==1){
                    var param = {};
                    if (api.systemType != 'ios'){
                      param = {
                        code:item.student_code,
                        prefix:item.prifex,
                        name:res.data.nickname,
                        avatar:res.data.avatar,
                        action:"edulive"
                      }
                    }else{
                      param = {
                        extra:{
                          code:item.student_code,
                          prefix:item.prifex,
                          name:res.data.nickname,
                          avatar:res.data.avatar,
                        },
                        name:"edulive"
                      }
                    }
                    console.log(JSON.stringify(param))
                    api.accessNative(param,function(ret,err){

                    });
                  }else{
                    loginfo(res)
                  }
                }).catch((ret)=>{
                  loginfo(ret)
                })
              }else{
                this.openW('live_dtl',{info:item},true,null,false);
              }
            },
            //上拉
            scrolltobottom() {
              var that =this;
                api.addEventListener({
                    name: 'scrolltobottom',
                    extra: {
                        threshold: 50 //距离底部距离
                    }
                }, function(ret, err) {
                    // listAjax(true);
                    console.log(JSON.stringify(ret))
                    that.courselist.page =that.courselist.page+1;
                    that.publicList(that.active)
                });
            },
            //进入直播
            openlive(id){
              var that =this;
              that.ajaxpost('post',globalData.entryDirect,{house_id:id}).then((res)=>{
                var res =$.parseJSON(res);
                console.log(JSON.stringify(id))
                console.log(JSON.stringify(res))
                if(res.code==1){
                    that.urllive(id,res.data.username)
                }else{
                  loginfo(res)
                }
              }).catch((ret)=>{
                loginfo(ret)
              })

            },
            //直播地址
            urllive(id,username){
              var that =this
              that.ajaxpost('post',globalData.pullDirect,{house_id:id}).then((res)=>{
                var res =$.parseJSON(res);
                console.log(JSON.stringify(res))
                if(res.code==1){
                    that.openW('Inclass',{'url':res.data.live_flv_url,'house_id':id,'username':username},false)
                }else{
                  that.toast(res.msg)
                }
              }).catch((ret)=>{
                loginfo(ret)
              })
            },


            toggle: function (i) {
              console.log(i);
              this.active = i;
              this.courselist.data =[]
              this.courselist.page =1
              this.publicList(i)
            },
            //公开课list
            publicList(index){
              var that =this;
              var data ={
                category_id:parseInt(that.navs[index].category_id),
                page:that.courselist.page,
                limit:6
              }

              that.ajaxpost('post',globalData.directList,data).then((res)=>{
                var res =$.parseJSON(res);
  console.log(JSON.stringify(res))
                  api.refreshHeaderLoadDone()
                if(res.data.data==null){

                  return
                }
                for (var i = 0; i < res.data.data.length; i++) {
                  //res.data.data[i].start_time=that.formatTime(res.data.data[i].start_time)
                  res.data.data[i].start_time = moment.unix(res.data.data[i].start_time).format('YYYY-MM-DD HH:mm:ss')
                }
                that.courselist.data=that.courselist.data.concat(res.data.data)

              }).catch((ret)=>{
                loginfo(ret)
              })
            },
            //公开课推荐
            hotDirectList(){
              var that =this;

              that.ajaxpost('post',globalData.hotDirectList).then((res)=>{
                var res =$.parseJSON(res);

                for (var i = 0; i < res.data.data.length; i++) {
                  //res.data.data[i].start_time=that.formatTime(res.data.data[i].start_time)
                  res.data.data[i].start_time = moment.unix(res.data.data[i].start_time).format('YYYY-MM-DD HH:mm:ss')
                }
                that.course.data=res.data.data

              }).catch((ret)=>{
                loginfo(ret)
              })
            },
            //swiper
            swoperinit(){

                var transverse = new Swiper('.swiper-transverse', {
                  freeMode:true,
                  slidesPerView: "auto",
                  paginationClickable: true,
                  observer:true,
                  observeParents:true
                })
            },
            //分类
            initFl(){
              var that =this;
                console.log(11)
              var data ={
                type:1
              }
              that.ajaxpost('post',globalData.category,data).then((res)=>{
                var res =$.parseJSON(res);
                console.log(JSON.stringify(res))
                that.navs=res.data;
                this.publicList(0)
              }).catch((ret)=>{
                loginfo(ret)
              })
            },
          }
        });
      };
  </script>
  </html>
