<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css">
      <link rel="stylesheet" type="text/css" href="../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../css/question_bank.css"/>
      <style>
          body{

          }

          [v-cloak]{
            display: none;
          }
          #header{
            background-color: #fff;
          }
          #header .aui-title{
            color: #000;
          }
          #header .aui-icon-left{
            color: #000
          }
          #header .aui-pull-right span{
            width: 5vw;
            height: 5vw;
            background:  url(../image/addcourse.png) 0 0 no-repeat;
            background-size: 100% 100%;
            /*margin-lefti: 2vw;*/
          }
          .question_navs{
            display: flex;
            justify-content: space-between;
            height: 8vw;
            align-items: center;
            border-bottom: 1px solid #eee;
            background-color: #fff;
            padding: 0  8vw;
          }
          .menu_nav{
            flex: 1;
          }
      </style>
  </head>
  <body>
    <div id='wrap'>
      <div class="question_navs">
        <div class="question_nav" @click="toggle(index,item)" v-for="(item,index) in Tablist" :class="{active:active==index}">
          {{item.title}}
        </div>
      </div>
      <div class="question_ioc">
          <div class="question_ioc_item" @click='navtopic(mians.id,mians.title)'>
            <img src="../image/ioc_1.png" alt="">
            <p>{{mians.title}}</p>
          </div>
          <div class="question_ioc_item">
            <img src="../image/ioc_2.png" @click='navtopic(Tablist[active].id,Tablist[active].title)' alt="">
            <p>套卷练习</p>
          </div>
          <div class="question_ioc_item" @click='naverrTopic2'>
            <img src="../image/ioc_3.png" alt="">
            <p>做题历史</p>
          </div>
          <div class="question_ioc_item" @click='naverrTopic'>
            <img src="../image/ioc_4.jpg" alt="">
            <p>错题集</p>
          </div>
      </div>
      <div class="question_conent">
        <div class="question_con_title">专项练习</div>
        <div class="question_conent_item" v-for='item in TopicList.data'>
          <div class="question_con_left">
            <div class="question_con_left_img"><img src="../image/ioc_5.png" alt=""><span>{{item.name}}</span></div>
            <div class="question_con_left_text"><span class="question_con_l_line"></span><strong>{{item.error_num}}/{{item.itemCount}}</strong></div>
          </div>
          <div class="question_con_right" @click='navInfoTopic(item.id)'>
            <div class="question_con_r_img"><img src="../image/ioc_4.png" alt=""></div>
          </div>
        </div>
        <div style="text-align:center;color:#666;font-size:4vw;" v-if='TopicList.data.length==0'>暂无数据</div>
      </div>
      <!-- <div class="quention_area">
        <div class="quention_item" v-for='(item,index) in Tablist' @click='navtopic(item.id,item.title)'>
          <div class="quention_left">
            <div class="quention_line1"><span class="blue_btootm">{{item.title}}</span></div>
            <div class="quention_line2">{{item.describe}}</div>
          </div>
          <div class="quention_right">
            <div class="icon">
              <img class="icon_del  " :src="item.path" alt="">
              <i class="icon_del ms_icon blue_icon"></i>
            </div>
          </div>
        </div>

      </div> -->
    </div>
  </body>

  <script type="text/javascript" src="../script/api.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script type="text/javascript">
        apiready = function(){
          api.setStatusBarStyle({
              style: 'dark',
          })
          api.parseTapmode();
          var header = $api.byId('header');
          $api.fixStatusBar(header);


          var vm = new Vue({
            el: "#wrap",
            data: {
              Tablist:[],
              active:0,
              mians:'',
              TopicList:{
                data:[],
                page:1
              }
            },

            mounted: function () {
              var that = this;
              api.addEventListener({
                  name: 'initData'
              }, function(ret, err){
                that.bindcourseFengl();
                that.scrolltobottom()
              });
              this.bindcourseFengl();
              this.scrolltobottom()
            },
            methods: {
              //上拉
            scrolltobottom() {
              var that =this;
                api.addEventListener({
                    name: 'scrolltobottom',
                    extra: {
                        threshold: 50 //距离底部距离
                    }
                }, function(ret, err) {
                    // listAjax(true);
                    console.log(JSON.stringify(ret))
                    that.TopicList.page =that.TopicList.page+1;
                    that.initTopicList(that.active)
                });
            },
              navtopic(id,title){
                var data={
                  category_id:id,
                  title:title
                }
                this.openW('question_audition_win',data,true)
              },
              naverrTopic(){
                this.openW('error_record_win',{},true)
              },
              naverrTopic2(){
                this.openW('question_record_h',{},true)
              },
              toggle(index,item){
                this.active =index
                this.TopicList.page=1
                this.initTopicList(index)
              },
              navInfoTopic(id){
                this.openW('question_test_win',{testpaper_id:id},true)
              },
              //课程分类
              bindcourseFengl(){

                var that =this;
                var data ={
                  limit:3
                }
                that.ajaxpost('post',globalData.getPapersCategoryAll,data).then((res)=>{

                  var res =$.parseJSON(res);
                  console.log(JSON.stringify(res))

                  that.mians=res.data.shift()
                  that.Tablist=res.data
                  that.initTopicList(0)

                }).catch((ret)=>{
                  loginfo(ret)
                })
              },
              //测试试卷
              initTopicList(index){
                var that =this;
                if(that.TopicList.page==1){
                  that.TopicList.data =[]
                }

                var data ={

                  categoryid:that.Tablist[index].id,
                  // testpaper_type:type,
                  page:that.TopicList.page,
                }


                that.ajaxpost('post',globalData.getMyPaperList,data).then((res)=>{

                  var res =$.parseJSON(res);
                  console.log(JSON.stringify(res))
                  if(!res.data.data){
                    return
                  }
                  res.data.data.map((item)=>{
                    item.accuracy =parseInt(item.accuracy)
                  })
                  that.TopicList.data=that.TopicList.data.concat(res.data.data)

                }).catch((ret)=>{
                  loginfo(ret)
                })
              },
            },
          });
        };
  </script>
  </html>
