<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<title>title</title>
	<link rel="stylesheet" type="text/css" href="../css/api.css" />
	<link rel="stylesheet" href="../css/aui.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../css/error_record.css" />
	<link rel="stylesheet" type="text/css" href="../css/test.css" />
	<link rel="stylesheet" type="text/css" href="../css/add.css" />
	<style>

		#header{
			height: 12.5vw;
			position: fixed;
			top:0;
			left:0;
		}

		#header {
			background-color: #fff;
			border-bottom: 1px solid #eee;
		}

		#header .aui-title {
			color: #000;
		}

		#header .aui-icon-left {
			color: #000
		}

		#header .aui-pull-right span {
			color: #000;
		}

		.aui-radio {
			width: 5vw;
			height: 5vw;
		}
	</style>
</head>

<body>
	<div id='wrap2'>
		<header id="header" class="aui-bar aui-bar-nav">
				<div class="aui-pull-left aui-btn" @click='this.closeW'>
						<span class="aui-iconfont aui-icon-left"></span>
				</div>
				<div class="aui-title"><span v-if="!top_title">开始测试</span><span v-if="top_title">{{top_title}}</span></div>
				<div class="aui-pull-right aui-btn">
						<span></span>
				</div>
		</header>
		<div id="main" class="main">
			<div>
				<div style="height:12.5vw;"></div>
				<div v-if="description" class="color6" style='padding:4vw' v-html='description'>

				</div>
				<div v-if="description" class="b_l"></div>
				<div class="question_area" v-for="(item,index) in topic.data" v-show='current==index'>
					<div class="question">
						<div class="index f_middle">{{index+1}}</div>
						<div style="width:86vw;">{{item.stem}}</div>
					</div>
					<div class="answer" v-for="(ans,index_) in item.question_list" v-if="item.type!='translate'">
						<div style="margin-right:2vw;">{{ans.option}}</div>
						<div style="width:75vw;" v-html="ans.title"></div>
						<input :checked='ans.checked' @click='bindcheck(index,index_,item.type)' class="aui-radio"
							type="checkbox" name="radio" style="position: absolute;right: 0;top:0;">
						<!-- //<input v-else type='checkbox' :checked='ans.checked' @click='bindcheck(index,index_,item.type)' class="aui-radio"  name="radio" style="position: absolute;right: 0;top:0;"> -->
					</div>
					<div v-if="item.type=='translate'">
						<textarea style="width:88vw;height:50vw;border:1px solid #f6f6f6;font-size:4vw;padding:2vw;" placeholder="请输入答案" v-model="item.textarea_info"></textarea>
					</div>
					<div v-if="item.type=='translate'" @click="showAnswer" style="color: #57cbd9;font-size:4vw;margin:2vw 0;">查看解析及答案</div>
					<div v-if="item.type=='translate'&&show==true">
						<div class="question">
							<div style="width:10vw;font-size:3vw;color:#fff" class="index f_middle">解析</div>
							<div style="width:80vw;" v-html='item.analysis'></div>
						</div>
						<div class="question">
							<div style="width:10vw;font-size:3vw;color:#fff;" class="index f_middle">答案</div>
							<div style="width:80vw;" v-html='item.answer'></div>
						</div>
					</div>
				</div>
				<div style="height:15vw;"></div>
				<div id='footer' class="f_middle" style="background-color:#ffffff">
					<div class="btn foot_btn1 f_middle" @click='lowerTopic(2)'>{{current==0?'退出':'上一题'}}</div>
					<div class="btn foot_btn2 f_middle" @click='lowerTopic(1)' v-if='current!=topic.data.length-1'>下一题</div>
					<div class="btn foot_btn2 f_middle" v-else @click='save'>提交</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script src="../script/jquery.min.js"></script>
<script src="../script/configUtil.js" charset="utf-8"></script>
<script type="text/javascript">
	setTimeout(function () {
		if (typeof api == 'undefined') {
			api = {
				pageParam: {}
			}
			apiready();
		}
	}, 500);
	apiready = function () {
		api.setStatusBarStyle({
				style: 'dark',
		})
		var header = document.querySelector('#header');
		var main = document.querySelector('#main');
		$api.fixStatusBar(header);
		$api.fixStatusBar(main);
		var vm = new Vue({
			el: "#wrap2",
			data: {
				current: 0,
				maxtime: 10 * 60,
				max_all: 10 * 60,
				type: api.pageParam.type || '',
				category_id: api.pageParam.category_id || '',
				testpaper_id: api.pageParam.testpaper_id || '',
				qg_id: api.pageParam.qg_id || '',
				answer_id: api.pageParam.answer_id || '',
				timemsg: '',
				topic: {
					data: [],
					id: ''
				},
				description:'',
				show:false,
				top_title:''
			},
			mounted: function () {
				var that = this;
				api.parseTapmode();
				var header = $api.byId('header');
				$api.fixStatusBar(header);
				that.bindcourselist();
				that.time();
			},
			methods: {
				showAnswer(){
					this.show = !this.show;
				},
				save: function () {
					var that = this;
					var msg
					var answer_arr = [];
					for (var i = 0; i < that.topic.data.length; i++) {
						answer_arr.push({ question_id: that.topic.data[i].id, answer: [] })
						if(that.topic.data[i].type=='translate'){
							answer_arr[i].answer = that.topic.data[i].textarea_info;
						}else{
							for (var j = 0; j < that.topic.data[i].question_list.length; j++) {
								if (that.topic.data[i].question_list[j].checked == true) {

									answer_arr[i].answer.push(that.topic.data[i].question_list[j].option)
								}
							}
						}
					}
					// console.log(JSON.stringify(answer_arr))
					// return
					for (var i = 0; i < answer_arr.length; i++) {
						if (answer_arr[i].answer.length == 0) {
							msg = '有题目未选择，是否提交'
						} else {
							msg = '是否提交'
						}
					}
					var data = {
						//
						answer_id: that.topic.id,
						answer_arr: answer_arr,
					}
					if(that.qg_id){
						data.type = 3;
						data.qg_id = that.qg_id;
						data.answer_id = that.answer_id;
					}
					api.confirm({
						title: '提示',
						msg: msg,
						mask: true,
						buttons: ['确定', '取消']
					}, function (ret, err) {
						if (ret.buttonIndex == 1) {
							console.log(JSON.stringify(data));
							that.ajaxpost('post', globalData.submitAnswer, data).then((res) => {
								var res = $.parseJSON(res);
								if (res.code == 1) {
									var param = { Resultdata: res.data, timemsg: that.timemsg }
									if(that.qg_id){
										// param.all = api.pageParam.all;
										// param.now = api.pageParam.now;
										param.type = 3;
										//param.arr = api.pageParam.arr;
										param.qg_id = that.qg_id;
										param.answer_id = that.answer_id;
										param.title = api.pageParam.title;
										param.testpaper_id = api.pageParam.testpaper_id;
									}
									that.openW('test_result_frm', param, true, true)
								}
							}).catch((ret) => {
								loginfo(ret)
							})
						} else {

						}
					});



				},
				//倒计时
				time() {
					var that = this;
					var tiem = setInterval(function () {

						if (that.maxtime >= 0) {
							var time = that.max_all - that.maxtime;
							var minutes = Math.floor(time / 60);
							var seconds = Math.floor(time % 60);
							if(minutes<10){
								minutes = '0' + minutes;
							}
							if(seconds<10){
								seconds = '0' + seconds;
							}
							console.log(minutes + ":" + seconds)
							that.timemsg = minutes + ":" + seconds;
							--that.maxtime;
						} else {
							clearInterval(tiem);
							api.alert({
								title: '提示',
								msg: '时间到，结束!',
							}, function (ret, err) {
								if (ret.buttonIndex == 1) {
									that.closeW()
								} else {
									that.toast(JSON.stringify(err));
								}
							});


						}
					}, 1000)
				},
				//题目
				bindcheck(index, index_, leib) {
					var that = this;
					console.log(index)

					if (leib == 'single_choice') {
						for (var j = 0; j < that.topic.data[index].question_list.length; j++) {
							that.topic.data[index].question_list[j].checked = false
						}

						that.topic.data[index].question_list[index_].checked = true;
						console.log(JSON.stringify(that.topic.data[index].question_list))

					} else {
						that.topic.data[index].question_list[index_].checked = !that.topic.data[index].question_list[index_].checked;
					}
				},
				//下一题
				lowerTopic(index) {
					var that = this;
					that.show = false;
					if (index == 1) {
						if (that.current == that.topic.data.length - 1) {
							return;
						}
						that.current = that.current + 1;
					} else {
						if (that.current < 1) {
							that.closeW();
							return;
						}
						that.current = that.current - 1;
					}
				},
				//题list
				bindcourselist() {
					var that = this;
					var data = {
						type: this.type,
						//
						testpaper_id: that.testpaper_id,
						category_id: that.category_id,
						answer_id: that.answer_id,
						qg_id: that.qg_id,
					}
					var url = globalData.testGetPaperQuestionList;
					if(data.qg_id){
						url = globalData.testGetPaperGroupQuestionList
					}
					that.ajaxpost('post', url, data).then((res) => {
						var res = $.parseJSON(res);
						if (res.code == 0) {
							setTimeout(function () {
								that.closeW()
							}, 2000)
							that.toast(res.msg)
							return
						}
						if(that.qg_id){
							that.top_title = res.data.title;
							that.description = res.data.stem;
						}else{
							that.description = res.data.description;
						}
						for (var i = 0; i < res.data.data.length; i++) {
							res.data.data[i].textarea_info = "";
							for (var j = 0; j < res.data.data[i].question_list.length; j++) {
								res.data.data[i].question_list[j].checked = false
							}

						}

						that.topic.id = res.data.answer_id
						that.topic.data = res.data.data
						that.maxtime = res.data.test_limit_time
						that.max_all = res.data.test_limit_time

					}).catch((ret) => {
						loginfo(ret)
					})
				},
			}
		});

	};
</script>

</html>
