<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title></title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css">
      <link rel="stylesheet" href="../css/add.css">
      <link rel="stylesheet" href="../css/vant.css">
      <style>
        body{
          background: #fff;
        }
        #header{
          height: 12.5vw;
          position: fixed;
          top:0;
          left:0;
        }
        #header{
          font-size: 4vw;
          background-color: #fff;
          color: #000;
        }
        #header .aui-title{
          color: #000;
        }
        #header .aui-icon-left{
          color: #000
        }
        .swipe_item{
          width: 100%;
          height: 100%;
          background-color: #000000;
        }
        .swipe_content{
          position: absolute;
          left: 0;
          top: 0;
        }
        .xin_icon{
          width: 8vw;
          height: 8vw;
        }
        .right_out{
          position: absolute;
          right: 0;
          bottom: 30vw;
          color: #ffffff;
          width: 20vw;
        }
        .bottom_area{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100vw;
          box-sizing: border-box;
          color:#ffffff;
          padding-bottom: 2vw;
          pointer-events: none;
        }
        .head_pic{
          width: 13vw;
          height: 13vw;
          border-radius: 50%;
          overflow: hidden;
        }
        .ac_co{
          color: #d4237a;
        }
        .play_btns{
          position: absolute;
          top: calc(50% - 7.5vw);
          left:42.5vw;
        }
        .play_btn{
          width: 15vw;
          height:15vw;
        }
        .gz_icon{
          width: 3.5vw;
          height: 3.5vw;
          position: relative;
          top: -1.5vw;
        }
        .van-popup{
          background-color:inherit;
        }
        .comments{
          height: 110vw;
          width: 100vw;
          background-color: #fff;
          border-radius: 2vw 2vw 0 0;
          padding-top: 1vw;
          overflow: scroll;
          padding-bottom: 12vw;
          box-sizing: border-box;
        }
        .comments_title{
          border-radius: 2vw 2vw 0 0;
          height: 11vw;
          font-weight: bold;
          position: absolute;
          width: 100vw;
          top:0;
          left:0;
          background-color: #fff;
          z-index:10;
        }
        .comments_gb{
          width: 4vw;
          height: 4vw;
          position: absolute;
          right: 4vw;
          top: 4vw;
        }
        .comment_avatar{
          width: 10vw;
          height: 10vw;
          border-radius: 50%;
        }
        .comment{
          padding: 2vw 3vw;
          box-sizing: border-box;
        }
        .comment_fav{
          width: 4vw;
          height: 4vw;
        }
        .reply_avatar{
          width: 7vw;
          height: 7vw;
          border-radius: 50%;
        }
        .reply{
          padding: 2vw 0;
        }
        .reply_icon{
          background-color:#fd2a53;
          font-size:2.8vw;
          padding:0 1vw;
          border-radius:0.5vw;
          margin-left:1vw;
          color: #fff;
        }
        .reply_input{
          width:100vw;
          height:12vw;
          position:absolute;
          left:0;
          bottom:0;
          background-color:#fff;
          border-top: 1px solid #eee;
          box-sizing: border-box;
          font-size: 4vw
        }
        .no_data{
        	font-size: 4vw;
        	width: 100%;
        	height: 25vw;
          color: #999;
        }
      </style>
  </head>
  <body>
      <div id="app">
        <header id="header" class="aui-bar aui-bar-nav">
            <div class="aui-pull-left aui-btn" @click='back'>
                <span class="aui-iconfont aui-icon-left"></span>
            </div>
            <div class="aui-title">收藏</div>
            <div class="aui-pull-right aui-btn">
                <span></span>
            </div>
        </header>
        <div id="main" class="main" v-cloak>
          <div style="height:12.5vw;"></div>
          <van-swipe :style="full_style" :initial-swipe="current" vertical :show-indicators="false"  @change="swipeChange">
            <van-swipe-item class="swipe_item" v-for="(item,index) in list">
              <video :poster="item.pic" class="swipe_item video_player" :src="item.file_url" x-webkit-airplay="false" x5-playsinline="false" webkit-playsinline playsinline="true" controlslist="nodownload" preload loop></video>
                <div class="right_out fd_c">
                  <div class="fd_c">
                    <img class="head_pic fill" :src="item.teacherInfo.avatar" ></img>
                    <img @click="follow(item.courseinfo.data.teacherid,index)" v-if="item.teacherInfo.text==1" class="gz_icon" class="fill" src="../image/gz.png" ></img>
                    <img @click="follow(item.courseinfo.data.teacherid,index)" v-if="item.teacherInfo.text==0" class="gz_icon" class="fill" src="../image/gzw.png" ></img>
                  </div>
                  <div class="fd_c" style="margin-top:4vw;">
                    <img v-if="item.is_fa==0" class="fit xin_icon" src="../icon/x0.png" @click="favChange(item,index)">
                    <img v-if="item.is_fa==1" class="fit xin_icon" src="../icon/x1.png" @click="favChange(item,index)">
                    <div :class="{ac_co:item.is_fa}" style="font-size:3.8vw;margin-top:1vw;">{{item.fa_num}}</div>
                  </div>
                  <div class="fd_c" style="margin-top:4vw;" @click="showChange(1)">
                    <img class="fit" style="width:7vw;height:7vw;" src="../image/pl.png">
                    <div style="font-size:3.5vw;margin-top:1vw;">评论</div>
                  </div>
                  <div class="fd_c" style="margin-top:4vw;" @click="shareVideo(item)">
                    <img class="fit" style="width:7vw;height:7vw;" src="../image/vfx.png">
                    <div style="font-size:3.5vw;margin-top:1vw;">分享</div>
                  </div>
                </div>
                <div class="play_btns">
                  <img v-if="!item.play" class="fit play_btn" src="../image/play0.png" @click="playChange(index,1,item)">
                  <img v-if="item.play" class="fit play_btn" src="../image/play1.png" @click="playChange(index,0,item)">
                </div>
                <div class="bottom_area pad_b">
                  <div style="font-size:4.2vw;">@{{item.teacherInfo.nickname}}</div>
                  <div style="font-size:4vw;">{{item.courseinfo.data.title}}</div>
                  <div class="six_lines" style="font-size:4vw;min-height:15vw;">{{item.courseinfo.data.content}}</div>
                </div>
            </van-swipe-item>
          </van-swipe>

          <van-popup v-model="show" position="bottom">
            <div class="comments">
              <div class="fcc comments_title">{{info.com_num}}条评论
                <img @click="showChange" class="comments_gb" class="fill" src="../image/gb.png"/>
              </div>
              <div style="height:11vw;"></div>
              <div v-if="comments.length==0" class="no_data color9 fcc">暂无数据</div>
              <div class="comment" v-for="(item,index) in comments">
                <div class="flex" @click="openBox(2,item)">
                  <img class="fill comment_avatar" :src="item.userInfo.avatar"/>
                  <div style="width:73vw;padding-left:2vw;">
                    <div class="f_c">
                      <div class="color6" style="font-size:3.8vw;">{{item.userInfo.nickname}}</div>
                      <div v-if="item.is_teacher == 1" class="reply_icon">作者</div>
                    </div>
                    <div style="font-size:4vw">{{item.content}}</div>
                  </div>
                  <div class="fd_c" style="padding-top:1vw;width:9vw" @click.stop="commentFav(1,item,index)">
                    <img v-if="item.is_fa==0" class="fit comment_fav" src="../icon/x2.png"/>
                    <img v-if="item.is_fa==1" class="fit comment_fav" src="../icon/x1.png"/>
                    <div :class="{ac_co:item.is_fa==1}" class="color9" style="font-size:3vw;margin-top:1vw;">{{item.fa_num}}</div>
                  </div>
                </div>

                <div @click="commentShow(item,index)" class="f_c color9" style="font-size:3.3vw;margin-top:1vw;" v-if="item.com_num > 0 && item.show == false">
                  <div style="width:12vw;"></div>
                  <div style="width:8vw;border-top:1px solid #eee;"></div>
                  <div style="margin:0 1.5vw;">展开{{item.com_num}}条回复</div>
                  <img class="fit" style="width:3.5vw;height:3.5vw;" src="../icon/xia.png"/>
                </div>

                <div v-if="item.show">
                  <div class="reply flex" v-for="(reply,r_index) in item.reply">
                    <div style="width:12vw;"></div>
                    <img class="fill reply_avatar" :src="reply.userInfo.avatar"/>
                    <div class="reply_main" style="width:66vw;padding-left:2vw;">
                      <div class="f_c">
                        <div class="color6" style="font-size:3.8vw;">{{reply.userInfo.nickname}}</div>
                        <div v-if="reply.is_teacher == 1" class="reply_icon">作者</div>
                      </div>
                      <div style="font-size:4vw">{{reply.content}}</div>
                    </div>
                    <div class="fd_c" style="padding-top:1vw;width:9vw" @click.stop="commentFav(2,reply,index,r_index)">
                      <img v-if="reply.is_fa==0" class="fit comment_fav" src="../icon/x2.png"/>
                      <img v-if="reply.is_fa==1" class="fit comment_fav" src="../icon/x1.png"/>
                      <div :class="{ac_co:reply.is_fa==1}" class="color9" style="font-size:3vw;margin-top:1vw;">{{reply.fa_num}}</div>
                    </div>
                  </div>
                </div>

              </div>
              <div style="height:3vw;"></div>

              <div class="reply_input f_c pad_b color9" @click="openBox(1)">
                <div>留下你的精彩评论吧...</div>
              </div>
            </div>
          </van-popup>
        </div>
      </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script type="text/javascript" src="../script/util.js"></script>
  <script type="text/javascript" src="../script/vant.min.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script src="../script/util.js" charset="utf-8"></script>
  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var header = document.querySelector('#header');
        var main = document.querySelector('#main');
        $api.fixStatusBar(header);
        $api.fixStatusBar(main);
        var vm = new Vue({
            el: '#app',
            data: {
                current:0,
                list:[],
                full_style:{
                  'height':$(window).height() - api.safeArea.top - $(window).width()*0.125 + 'px',
                  'width':'100vw'
                },
                login:false,
                show: false,
                comments:[],
                info:''
            },
            mounted: function () {
              this.initData();
              var that = this;
              api.addEventListener({
                  name: 'video_index'
              }, function(ret, err){
                  window.location.reload();
              });
              api.addEventListener({
                  name: 'video_close'
              }, function(ret, err){
                  that.closePlay()
              });
            },
            methods:{
              commentFav(flag,item,index,r_index){
                var that = this;
                var param = {
                  cid:item.id,
                  type:2
                }
                var comments = that.comments;
                that.ajaxpost_noloading('post',globalData.faCourseOutline,param).then((res)=>{
                  var res = $.parseJSON(res);
                  if(res.code==1){
                    if(res.data.status==1){
                      if(flag==1){
                        comments[index].is_fa = 1;
                        comments[index].fa_num = parseInt(comments[index].fa_num) + 1;
                      }else{
                        comments[index].reply[r_index].is_fa = 1;
                        comments[index].reply[r_index].fa_num = parseInt(comments[index].reply[r_index].fa_num) + 1;
                      }
                    }else{
                      if(flag==1){
                        comments[index].is_fa = 0;
                        comments[index].fa_num = parseInt(comments[index].fa_num) - 1;
                      }else{
                        comments[index].reply[r_index].is_fa = 0;
                        comments[index].reply[r_index].fa_num = parseInt(comments[index].reply[r_index].fa_num) - 1;
                      }
                    }
                    that.comments = comments;
                  }else{

                  }
                }).catch((ret)=>{

                })
              },
              commentShow(item,index){
                var that = this;
                var param = {
                  cid:this.list[this.current].id,
                  pid:item.id,
                  teacherid:this.list[this.current].courseinfo.data.teacherid,
                  page:1,
                  size:10000
                }
                this.ajaxpost('post', globalData.courseOutlineComList, param).then((res) => {
                  var res = $.parseJSON(res);
                  console.log(JSON.stringify(res))
                  if(res.data){
                    var comments = that.comments;
                    comments[index].show = true;
                    comments[index].reply = res.data;
                    that.comments = comments;
                  }
                  that.show = true;
                }).catch((ret) => {
                  loginfo(ret)
                })

              },
              shareVideo(item){
                var sharedModule = api.require('shareAction');
                var shareCode = item.courseinfo.shareCode;
                if(shareCode){
                  sharedModule.share({
      							text: '复制这段话并打开考研通APP€' + shareCode + '€',
      							type: 'text',
      						});
                }else{
                  sharedModule.share({
                    text: 'https://www.kytapp.com/index.php/home/school/video?url=' + item.file_url ,
                    type: 'url',
                  });
                }
              },
              turnFV(){
                this.openW('my_attention_teacher_win',{},true);
              },
              follow(teacher_id,indexindex){
                var that =this;
                var data ={
                  teacher_id:teacher_id
                }
                if(that.list[indexindex].teacherInfo.text==1){
                  that.ajaxpost('post',globalData.follow,data).then((res)=>{
                    var res =$.parseJSON(res);
                    if(res.code==1){
                      var list = that.list;
                      list[indexindex].teacherInfo.text=0;
                      that.list = list;
                    }
                  }).catch((ret)=>{
                    loginfo(ret)
                  })
                }else{
                  api.confirm( {
      						  title: '提示',
      						  msg: '是否向该老师公开手机号',
      						  buttons: [ '确定', '取消' ]
      						}, function ( ret, err ) {
      						  var index = ret.buttonIndex;
      						  if ( index == 1 ) {
      								data.is_show_mobile = 1;
                      that.ajaxpost('post',globalData.follow,data).then((res)=>{
                        var res =$.parseJSON(res);
                        var list = that.list;
                        list[indexindex].teacherInfo.text=1;
                        that.list = list;
                      }).catch((ret)=>{
                        loginfo(ret)
                      })
      						  }else{
      								data.is_show_mobile = 0;
                      that.ajaxpost('post',globalData.follow,data).then((res)=>{
                        var res =$.parseJSON(res);
                        var list = that.list;
                        list[indexindex].teacherInfo.text=1;
                        that.list = list;
                      }).catch((ret)=>{
                        loginfo(ret)
                      })
      							}
      						})
                }
              },
              openBox(flag,item){
                var that = this;
                var UIChatBox = api.require('UIChatBox');
                var text = '';
                if(flag==1){
                  text = '留下你的精彩评论吧...'
                }else if(flag==2){
                  text = '正在回复' + item.userInfo.nickname
                }
                console.log(JSON.stringify(item))
                UIChatBox.open({
                    placeholder: text,
                    maxRows: 1,
                    autoFocus: true,
                    isClose: true
                }, function (ret, err){
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        if(ret.eventType=='send'){
                          var param = {
                            cid:that.list[that.current].id,
                            content:ret.msg
                          }
                          if(flag==2){
                            param.pid = item.id;
                          }
                          that.ajaxpost('post', globalData.comCourseOutline, param).then((res) => {
                            var res = $.parseJSON(res);
                            that.toast('评论成功');
                            that.info.con_num = parseInt(that.info.con_num) + 1;
                            //UIChatBox.close();
                            that.getComments();
                          }).catch((ret) => {
                            loginfo(ret)
                          })
                        }
                    } else {

                    }
                });
              },
              turnFav(){
                this.openW('video_fav',{},true,null,false);
              },
              getComments(){
                var that = this;
                var param = {
                  cid:this.list[this.current].id,
                  pid:0,
                  teacherid:this.list[this.current].courseinfo.data.teacherid,
                  page:1,
                  size:10000
                }
                this.ajaxpost('post', globalData.courseOutlineComList, param).then((res) => {
                  var res = $.parseJSON(res);
                  console.log(JSON.stringify(res))
                  if(res.data){
                    var list = res.data;
                    for (var i = 0; i < list.length; i++) {
                      list[i].reply = [];
                      list[i].show = false;
                    }
                    that.comments = list;
                  }
                  that.show = true;
                }).catch((ret) => {
                  loginfo(ret)
                })
              },
              showChange(flag){
                var that = this;
                if(flag==1){
                  that.getComments();
                }else{
                  that.show = false;
                }
              },
              playChange(i,status,item){
                var videos = document.getElementsByClassName('video_player');
                if(status==1){
                  videos[i].play();
                  this.list[i].play = true;
                }else{
                  videos[i].pause();
                  this.list[i].play = false;
                }
              },
              faNumChange(){
                var that = this;
                var data = {
                  course_id: that.info.lid,
                }
                that.ajaxpost('post', globalData.getCourseInfo, data).then((res) => {
                  var res = $.parseJSON(res);
                  console.log(JSON.stringify(res))

                }).catch((ret) => {
                  loginfo(ret)
                })
              },
              favChange(item,index){
                var that = this;
                var param = {
                  cid:item.id,
                  type:1
                }
                var list = this.list;
                console.log(list[index].is_fa)
                that.ajaxpost_noloading('post',globalData.faCourseOutline,param).then((res)=>{
                  var res = $.parseJSON(res);
                  if(res.code==1){
                    if(res.data.status==1){
                      list[index].is_fa = 1;
                      list[index].fa_num = parseInt(list[index].fa_num) + 1;
                    }else{
                      list[index].is_fa = 0;
                      list[index].fa_num = parseInt(list[index].fa_num) - 1;
                    }
                    that.list = list;
                  }else{

                  }
                }).catch((ret)=>{

                })
              },
              back(){
                var that = this;
                api.sendEvent({
                    name: 'outlinedata',
                    extra: '刷新'
                });
                that.closeW()
              },
              closePlay(){
                this.list = [];
              },
              swipeChange(index){
                console.log(index)
                this.info = this.list[index];
                this.current = index;
                var videos = document.getElementsByClassName('video_player');
                for (var i = 0; i < videos.length; i++) {
                  if(i==index){
                    videos[i].play();
                    this.list[i].play = true;
                    this.addHistory(index)
                  }else{
                    videos[i].pause();
                    this.list[i].play = false;
                  }
                }
              },
              initData(){
                var that = this;
                var arr = api.pageParam.list;
                for (var i = 0; i < arr.length; i++) {
                  if(i==0){
                    arr[i].play = false;
                  }else{
                    arr[i].play = true;
                  }
                  arr[i].pic = arr[i].file_url + '?x-oss-process=video/snapshot,t_0,m_fast'
                }
                that.list = arr;
                that.info = arr[that.current];
                that.addHistory(that.current)
              },
              getList(){
                var that = this;
                var data = {
                }
                that.ajaxpost('post', globalData.v_courseList, data).then((res) => {
                  var res = $.parseJSON(res);
                  var arr = res.data;
                  for (var i = 0; i < arr.length; i++) {
                    if(i==0){
                      arr[i].play = false;
                    }else{
                      arr[i].play = true;
                    }
                    arr[i].pic = arr[i].file_url + '?x-oss-process=video/snapshot,t_0,m_fast'
                  }
                  that.list = that.list.concat(arr)
                }).catch((ret) => {
                  loginfo(ret)
                })
              },
              addHistory(index){
                var that = this;
                that.ajaxpost_noloading('post',globalData.isLogin,{}).then((res)=>{
                  var res = $.parseJSON(res);
                  if(res.code==1){
                    if(res.data){
                      var param = {
                        cid:that.list[index].id,
                      }
                      that.ajaxpost_noloading('post',globalData.addCourseOutlineLog,param).then((res)=>{
                        var res = $.parseJSON(res);
                        if(res.code==1){

                        }
                      }).catch((ret)=>{

                      })
                    }
                  }
                }).catch((ret)=>{

                })
              }
            }
        })
      };
  </script>
  </html>
