<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css">
      <link rel="stylesheet" type="text/css" href="../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../css/add.css"/>
      <link rel="stylesheet" type="text/css" href="../css/error_record.css"/>
      <style>
          body{

          }

      </style>
  </head>
  <body>
    <div id='wrap2'>
      <p style="text-align:center;color:#666;font-size:4vw;" v-if='questions&&questions.length==0'>暂无数据</p>
      <div v-if="description" class="color6" style='padding:4vw' v-html='description'>

      </div>
      <div v-if="description" class="b_l"></div>
      <div class="question_area" v-for="(item,index) in questions">
        <div v-if="item.answer_info.type!='translate'">
          <div class="question"><div class="index f_middle">{{index+1}}</div><div style="width:86vw;">{{item.answer_info.stem}}{{item.answer_info.type=='single_choice'?'(单选)':'(多选)'}}</div></div>
          <div class="answer" v-for="ans in item.answer_info.detailed_option" :class="ans.is_answer?'success':'error'">
            <div style="margin-right:2vw;">{{ans.option}}</div>
            <div v-html="ans.title"></div>
          </div>
          <div class="line3 f_row_sb">
            <div style="color:#d51212;">选择错误</div>
            <!-- <div>错误次数：{{item.error_num}}次</div> -->
            <div></div>
          </div>
          <div class="line4">题目解析</div>
          <div class="line5" v-html="item.answer_info.analysis"></div>
        </div>
        <div v-if="item.answer_info.type=='translate'">
          <div class="question"><div class="index f_middle">{{index+1}}</div><div style="width:86vw;">{{item.answer_info.stem}}(翻译)</div></div>
          <div class="answer" v-for="ans in item.answer_info.detailed_option" :class="ans.is_answer?'success':'error'">
            <div style="margin-right:2vw;">{{ans.option}}</div>
            <div v-html="ans.title"></div>
          </div>
          <div class="line4">题目解析</div>
          <div class="line5" v-html="item.answer_info.analysis"></div>
          <div class="line4">题目答案</div>
          <div class="line5" v-html="item.answer_info.answer"></div>
          <div class="line4">您的答案</div>
          <div class="line5">{{item.answer_info.user_answer}}</div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var vm = new Vue({
          el: "#wrap2",
          data: {

            questions:[],
            testpaper_id:api.pageParam.testpaper_id,
            userinfo:$api.getStorage('userinfo')==null?'':$api.getStorage('userinfo'),
            page:1,
            description:''
          },
          mounted: function () {
            var header = document.querySelector('#header');
            $api.fixStatusBar(header);
            this.initDetails();
          },
          methods: {
            //错题
            initDetails(){
              var that =this;
              var data ={
                result_id:that.testpaper_id,
                page:that.page,
                size:10000
              }
              var url = globalData.getPaperRecord;
              if(api.pageParam.type==3){
                url = globalData.getPaperGroupRecord;
                data.qg_id = api.pageParam.qg_id;
              }
              that.ajaxpost('post',url,data).then((res)=>{

                var res =$.parseJSON(res);

                if(api.pageParam.type==3){
                  if(res.code==1&&res.data.list){
                      that.questions=res.data.list
                  }
                  that.description = res.data.stem;
                }else{
                  if(res.code==1&&res.data.data){
                      that.questions=res.data.data
                  }
                }
              }).catch((ret)=>{
                loginfo(ret)
              })
            },
          }
        });
      };
  </script>
  </html>
