<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/school_guide.css" />
    <link rel="stylesheet" type="text/css" href="../css/former_years_scores.css" />
    <link rel="stylesheet" type="text/css" href="../css/school_guide_dtl.css" />
    <style>
        .line2_item {
            margin: 0;
            font-size: 3vw;
            margin-right: 1vw;
        }
        #header{
          height: 12.5vw;
          position: fixed;
          top:0;
          left:0;
          background-color: #ffffff;
        }
        /*#header {
            background-color: transparent;
        }*/

        #header .aui-title {
            color: #000;
        }

        #header .aui-icon-left {
            color: #000
        }

        .i_arrow {
            width: 2vw;
            height: 2vw;
            display: inline-block;
            vertical-align: middle;
            background: #fff url(../image/arrow.png) 0 0 no-repeat;
            background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
        }

        #footer {
            height: 13vw;
            width: 100vw;
            padding: 0 3.5vw 0 3.5vw;
            box-sizing: border-box;
            position: relative;
            bottom: 0;
            z-index: 5;
            opacity: 1.0;
            background-color: #ffffff;
            font-size: 4vw;
            left: 0;
            position: fixed;
            bottom: 0;
        }

        #footer input {
            height: 9vw;
            background-color: #f2f4f5;
            padding-left: 1vw;
            width: 80vw;
            border-radius: 4.5vw;
        }

        .f_row_sb .aui-btn {
            margin: auto;
            background-color: #0165d0;
            color: #fff;
            border-radius: 3.5vw;

        }

        .f_row_sb .ative {
            border: 1px solid #0165d0;
            background-color: #fff;
            color: #0165d0;
            border-radius: 4.7vw;
        }
    </style>
</head>

<body>
    <div id="wrap">
        <header id="header" class="aui-bar aui-bar-nav">
            <div class="aui-pull-left aui-btn" @click='closew'>
                <span class="aui-iconfont aui-icon-left"></span>
            </div>
            <div class="aui-title">{{schooldata.data.school_name}}</div>
            <div class="aui-pull-right aui-btn" @click="shareSchool">
                <img style="width:4.2vw;height:4.2vw" src="../image/fx.png" alt="">
            </div>
        </header>
        <div class="top_img main" id="main">
          <div style="height:12.5vw;"></div>
            <img class='find_t_img' :src="schooldata.data.school_picture_text" alt="">
            <div class="school_area">
                <div class="shadow"></div>
                <div class="school_line1 f_row_sb">
                    <div style="font-size:4.3vw;">{{schooldata.data.school_name}}</div>
                    <div style="font-size:3.5vw;color:#666666;">{{schooldata.data.school_area_text}}</div>
                </div>
                <div style="font-size: 3.2vw;color: #999999;">{{schooldata.data.school_theme}}</div>
                <div class="school_line2 f_row_sb">
                    <div class="f_middle">
                        <div class="line2_item f_middle">
                            <div class="diamond"></div>
                            <div style="font-size:3.8vw;" v-for='item in schooldata.data.school_system_text'>{{item}}
                            </div>
                        </div>
                    </div>
                    <div class="f_middle">
                        <div class="line4_items line4_items1 f_middle" v-for='item in schooldata.data.school_type_text'>
                            {{item}}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="score_area" style="border:none;margin-top: 17vw;">
            <div class="item_line1">
                <div class="blue_icon"></div>
                <div style="flex:1; font-weight:bold;">往年录取分数线</div>
                <div class="i_arrow" @click='Fens_more'></div>
            </div>
            <p style="text-align:center;color:#666;font-size:4vw;" v-if='Fens&&Fens==""'>暂无录取分数</p>
            <div class="item_line2" v-if='Fens!=""'>
                <div>英语</div>
                <div>{{Fens.english_score}}</div>
                <div class="f_middle">
                    <div class="progress_bar">
                        <div class="in_bar" v-bind:style="'width:'+Fens.english_rate+'%'"></div>
                    </div>
                    <div style="margin-left:1vw;color:#666666;">{{Fens.english_rate}}%</div>
                </div>
            </div>
            <div class="item_line2" v-if='Fens!=""'>
                <div>综合</div>
                <div>{{Fens.colligate_score}}</div>
                <div class="f_middle">
                    <div class="progress_bar">
                        <div class="in_bar" v-bind:style="'width:'+Fens.colligate_rate+'%'"></div>
                    </div>
                    <div style="margin-left:1vw;color:#666666;">{{Fens.colligate_rate}}%</div>
                </div>
            </div>
            <div class="item_line2" v-if='Fens!=""'>
                <div>总分</div>
                <div>{{Fens.total_score}}</div>
                <div class="f_middle">
                    <div class="progress_bar">
                        <div class="in_bar" v-bind:style="'width:'+Fens.total_rate+'%'"></div>
                    </div>
                    <div style="margin-left:1vw;color:#666666;">{{Fens.total_rate}}%</div>
                </div>
            </div>
        </div>

        <div class="b_l"></div>
        <div class="score_area" style="border:none;">
            <div class="item_line1">
                <div class="blue_icon"></div>
                <div style="font-weight:bold;">院校相关</div>
            </div>
            <div class="item_line4 f_middle" style="margin-top:3vw;">
                <div class="line4_item f_middle" @click='navgauge'
                    style="border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;">
                    <div class="zsjz"></div>
                    <div>招生简章</div>
                </div>
                <div class="line4_item f_middle" @click='navpaeach' style="border-bottom:1px solid #f2f2f2;">
                    <div class="gkk"></div>
                    <div>宣讲视频</div>
                </div>
            </div>
            <div class="item_line4 f_middle">
                <div class="line4_item f_middle" @click='navApply' style="border-right:1px solid #f2f2f2;">
                    <div class="lc"></div>
                    <div>申请流程</div>
                </div>
                <div class="line4_item f_middle" @click='navproblem'>
                    <div class="wt"></div>
                    <div>常见问题</div>
                </div>
            </div>
        </div>

        <div class="space_border"></div v-if="tips.length > 0">
        <div class="score_area" style="border:none;" v-if="tips.length > 0">
            <div class="item_line1" style="margin-bottom:5.5vw;">
                <div class="blue_icon"></div>
                <div style="font-weight:bold;">院校公告<span style="color:#999999;"></span>
                </div>
            </div>
            <div class="tips_add">
              <div v-for="(item,index) in tips" @click="turnTipsDtl(item)" class="f_c one_lines" style="height:8vw;">{{index + 1}}.{{item.title}}</div>
            </div>
            <div class="f_middle" style="color:#999999;font-size:3.5vw;" @click='getMore'>加载更多</div>
        </div>

        <div class="space_border"></div>
        <div class="score_area" style="border:none;">
            <div class="item_line1" style="margin-bottom:5.5vw;">
                <div class="blue_icon"></div>
                <div style="font-weight:bold;">教师推荐<span style="color:#999999;">（{{comment.infodata.total||0}}）</span>
                </div>
            </div>
            <div class="comment_area" v-for="item in comment.data">
                <div class="comment_line1 f_row_sb">
                    <div class="f_middle">
                        <div><img class="comment_img" :src="item.avatar" alt=""></div>
                        <div style="margin-left:1.5vw;font-size:4.2vw;">{{item.username}}</div>
                    </div>
                    <div style="color:#666666;font-size:3.4vw;">{{item.create_time_text}}</div>
                </div>
                <div class="comment_line2">{{item.content}}</div>
            </div>
            <div class="f_middle" style="color:#999999;font-size:3.5vw;" @click='addmore'>加载更多</div>
        </div>
        <div id='footer' class="f_row_sb">
            <!-- <div class="aui-btn" @click='bindsub(1)' :class="want==0?'ative':''">{{want==1?'我已报考意愿':'我有报考意愿'}} </div> -->
            <div class="aui-btn" @click='kefu(schooldata.data.baidu_url)'>报考咨询</div>
            <div class="aui-btn" @click='bindsub()' :class="exam==1?'':'ative'">{{exam==1?'我已报考该校':'我要报考该校'}} </div>
        </div>
        <!-- <div id='footer' class="f_row_sb"  @click='bindAddcomment'>
        <input type="text" readonly='false' placeholder='说点什么...'>
        <div style="color:#005faf;">发送</div>
      </div> -->
    </div>
</body>

<script type="text/javascript" src="../script/api.js"></script>
<script src="../script/jquery.min.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script src="../script/configUtil.js" charset="utf-8"></script>

<script type="text/javascript">
    setTimeout(function () {
        if (typeof api == 'undefined') {
            api = {
                pageParam: {}
            }
            apiready();
        }
    }, 500);
    apiready = function () {
      api.setStatusBarStyle({
          style: 'dark',
      })
        var header = document.querySelector('#header');
        var main = document.querySelector('#main');
        $api.fixStatusBar(header);
        $api.fixStatusBar(main);
        var vm = new Vue({
            el: "#wrap",
            data: {
                school_id: api.pageParam.school_id || '',
                schooldata: {
                    data: ''
                },
                more_tit: '加载更多',
                want: 0,
                exam: 0,
                comment: {
                    data: [],
                    page: 1,
                    infodata: ''
                },
                Fens: '',
                tip_page:1,
                tips:[]
            },
            mounted: function () {
                var header = document.querySelector('#header');
                $api.fixStatusBar(header);
                this.schoolInfo();
                this.bindFenslist();
                this.bindcommentlist();
                this.initStudent();
                this.getTips();
            },
            methods: {
                shareSchool(){
                  var sharedModule = api.require('shareAction');
                  var phonetype = api.systemType;
                  if (phonetype == 'android') {
                    sharedModule.share({
                      text: '考研通',
                      type: 'url',
                      path: school_url + this.school_id,
                    });
                  } else {
                    sharedModule.share({
                      text: '考研通',
                      type: 'url',
                      path: school_url + this.school_id,
                      thumbnail: 'widget://image/108.png',
                    });
                  }
                },
                turnTipsDtl(item){
                  this.openW('tip_dtl',item,true,null,false);
                },
                getMore(){
                  var that = this;
                  var param = {
                     page:that.tip_page + 1,
                     school_id: that.school_id,
                     limit:5
                  }
                  that.ajaxpost('post', globalData.schoolNoticeList, param).then((res) => {
                    var res = $.parseJSON(res);
                    if(!res.data){
                      that.toast('没有更多了')
                      return
                    }
                    if(res.data.length > 0){
                      that.tip_page = param.page;
                      that.tips=that.tips.concat(res.data);
                    }else{
                      that.toast('没有更多了')
                    }
                  }).catch((ret) => {
                    loginfo(ret)
                  })
                },
                getTips(){
                  var that = this;
                  var param = {
                     page:that.tip_page,
                     school_id: that.school_id,
                     limit:5
                  }
                  that.ajaxpost('post', globalData.schoolNoticeList, param).then((res) => {
                    var res = $.parseJSON(res);
                    that.tips=that.tips.concat(res.data);
                  }).catch((ret) => {
                    loginfo(ret)
                  })
                },
                kefu(url) {
                    var that = this;
                    var data = {
                        type: 1,
                        school_id: that.school_id
                    }
                    console.log(JSON.stringify(data))
                    that.ajaxpost('post', globalData.becomeStudent, data).then((res) => {
                        var res = $.parseJSON(res);
                        console.log(JSON.stringify(res))
                        this.openW('kefu_win', { url: url }, true)
                    }).catch((ret) => {
                        loginfo(ret)
                    })

                    // var mq = api.require('meiQia');
                    // //设置title以及按钮颜色
                    // var titleColor = {
                    //   color: "#000000"
                    // };
                    // mq.setTitleColor(titleColor);

                    // mq.show({showAvatar:false});

                },
                //是否报考
                initStudent() {
                    var that = this;
                    var data = {
                        school_id: that.school_id,
                        type: 1
                    }
                    that.ajaxpost('post', globalData.isStudent, data).then((res) => {

                        var res = $.parseJSON(res);
                        console.log(JSON.stringify(res))
                        that.want = res.data.want;
                        that.exam = res.data.exam;
                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
                //报考
                bindsub() {
                    var that = this;
                    var data = {

                        school_id: that.school_id
                    }
                    console.log(JSON.stringify(data))
                    that.ajaxpost('post', globalData.becomeStudent, data).then((res) => {

                        var res = $.parseJSON(res);
                        console.log(JSON.stringify(res))
                        if (res.code == 1) {
                            if (that.exam == 1) {
                                that.exam = 0
                            } else {
                                that.exam = 1
                            }
                            that.toast(res.msg)
                        }

                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
                //招生
                navgauge() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_school_gauge_win', data, true);
                },
                //往年分数
                Fens_more() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_school_score', data, true);
                },
                //宣讲
                navpaeach() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_school_preach_win', data, true);
                },
                //流程
                navApply() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_school-Apply_win', data, true);
                },
                //问题
                navproblem() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.openW('find_problem_win', data, true);
                },
                //关闭
                closew() {
                    this.closeW()
                },
                //学校
                schoolInfo() {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.ajaxpost('post', globalData.schoolInfo, data).then((res) => {
                        var res = $.parseJSON(res);
                        console.log(JSON.stringify(res))
                        that.schooldata.data = res.data;
                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
                //添加评论
                bindAddcomment() {
                    var that = this;
                    var UIChatBox = api.require('UIChatBox');
                    UIChatBox.open({
                        placeholder: '评论',
                        maxRows: 4,
                        autoFocus: true,
                        isClose: true
                    }, function (ret, err) {
                        if (ret) {
                            console.log(JSON.stringify(ret));
                            if (ret.eventType == 'send') {
                                var data = {
                                    school_id: that.schooldata.data.school_id,
                                    content: ret.msg
                                }
                                if (data.content == '') {
                                    that.toast('请输入内容')
                                    return
                                }
                                that.ajaxpost('post', globalData.addschoolpl, data).then((res) => {

                                    var res = $.parseJSON(res);
                                    if (res.code == 1) {
                                        UIChatBox.close();
                                        that.bindcommentlist(true);
                                        that.content = '';
                                        that.toast('评论成功')
                                    } else if (res.code == 0) {
                                        that.toast(res.msg)
                                    } else {
                                        loginfo(ret)
                                    }

                                    console.log(JSON.stringify(res))
                                }).catch((ret) => {
                                    loginfo(ret)
                                })
                            }
                        } else {
                            console.log(JSON.stringify(err));
                        }
                    });

                },
                //更多
                addmore() {
                    this.comment.page = this.comment.page + 1;
                    this.bindcommentlist()
                },
                //评论
                bindcommentlist(state) {
                    var that = this;
                    if (state) {
                        that.comment.page = 1;
                        that.comment.data = [];
                    }
                    var data = {
                        page: that.comment.page,
                        limit: 5,
                        school_id: that.school_id
                    }
                    that.ajaxpost('post', globalData.evaluateList, data).then((res) => {

                        var res = $.parseJSON(res);

                        if (res.code == 1) {
                            if (res.data.data == null) {
                                that.more_tit = '暂无更多'
                                return;
                            }
                            that.comment.infodata = res.data
                            var add = that.comment.data.concat(res.data.data)
                            that.comment.data = add;

                        }

                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
                //分数
                bindFenslist(index) {
                    var that = this;
                    var data = {
                        school_id: that.school_id
                    }
                    that.ajaxpost('post', globalData.scoreInfo, data).then((res) => {
                        console.log(JSON.stringify(res))
                        var res = $.parseJSON(res);
                        that.Fens = res.data;

                    }).catch((ret) => {
                        loginfo(ret)
                    })
                },
            }
        });
    };
</script>

</html>
