<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css"/>
      <link rel="stylesheet" type="text/css" href="../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../css/revising_plan.css"/>
      <style>
          body{

          }

          .menu_navs{
            position: relative;
          }
      </style>
  </head>
  <body>
    <div id='wrap2'>

      <div class="menu_navs" style="border-top:1px solid #f2f2f2;">
        <div class="menu_nav" @click="toggle(index ,item)" v-for="(item,index) in navs" :class="{active:active==index}">
          {{item.title}}
        </div>
      </div>
      <p style="text-align:center;color:#666;font-size:4vw;" v-if='revising.datalist&&revising.datalist.length==0'>暂无数据</p>
      <div class="news_area" v-for="item in revising.datalist" @click='navarticles(item.id)'>
        <div class="news_img"><img :src="item.image_url" alt=""></div>
        <div class="news_title">{{item.title}}</div>
      </div>
      <p style="text-align:center;color:#666;font-size:4vw;" v-if='revising.datalist&&revising.datalist.length!=0'>已经到底了~</p>
    </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>

  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var vm = new Vue({
          el: "#wrap2",
          data: {
            navs:[],
            active: 0, // 切换TABclass
            revising:{
              datalist:[],
              page:1
            },
          },
          mounted: function () {
            var header = document.querySelector('#header');
            $api.fixStatusBar(header);
            this.bindFl();
            this.scrolltobottom()
          },
          methods: {
            //上拉
            scrolltobottom() {
              var that =this;
                api.addEventListener({
                    name: 'scrolltobottom',
                    extra: {
                        threshold: 50 //距离底部距离
                    }
                }, function(ret, err) {
                    // listAjax(true);
                    console.log(JSON.stringify(ret))
                    that.revising.page=that.revising.page+1;
                    that.bindlist(that.active)
                });
            },
            navarticles(id){
              this.openW('find_article_win',{'new_id':id},true)
            },
            //关闭
            closew(){
              this.closeW()

            },
            //分类
            bindFl(){
              var that =this;
              that.ajaxpost('post',globalData.getNewCategoryAll).then((res)=>{
                var res =$.parseJSON(res);

                // console.log(JSON.stringify(res))
                that.navs=res.data;
                that.bindlist(0);
              }).catch((ret)=>{
                loginfo(ret)
              })
            },
            //教材list
            bindlist(index){
              var that =this;
              if(that.revising.page==1){
                that.revising.datalist =[]
              }
              var data ={

                category_id:that.navs[index].id,
                page:that.revising.page,
                page_size:10
              }
              console.log(JSON.stringify(data))
              that.ajaxpost('post',globalData.getNewsList,data).then((res)=>{

                var res =$.parseJSON(res);
                if(!res.data.data){
                  return
                }
                  console.log(JSON.stringify(res))
                that.revising.datalist=that.revising.datalist.concat(res.data.data);

              }).catch((ret)=>{
                loginfo(ret)
              })
            },
            toggle: function (i, v) {
              console.log(i);
              this.active = i;
              this.revising.page=1
              this.bindlist(i)

            },
          }
        });
      };
  </script>
  </html>
