<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>教材详情</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css"/>
      <link rel="stylesheet" href="../css/style2.css"/>
      <style>
          body{
            background: #fff;
          }


          .buildCurriculum_w_upload{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          .aui-list{
            border: 0;
          }
          #header{
            height: 12.5vw;
            position: fixed;
            top:0;
            left:0;
          }
      </style>
  </head>
  <body>
      <div id="app">
        <header id="header" class="aui-bar aui-bar-nav">
            <div class="aui-pull-left aui-btn" @click='closew'>
                <span class="aui-iconfont aui-icon-left"></span>
            </div>
            <div class="aui-title">发布学习分享</div>
            <!-- <div class="aui-pull-right aui-btn">
                <span>创建课程</span>
            </div> -->
        </header>
        <div id="main" class="main">
          <div style="height:12.5vw;"></div>
        <div class="find_course_add">
          <div class="find_c_a_wrap">
            <ul class="aui-list aui-form-list">
              <li >
                <div class="aui-list-item-label">
                    分享内容
                </div>
                <textarea placeholder="多行输入" v-model='content' class="buildCurriculum_w_text"name="name" rows="8" cols="80" style="padding:1.5vw;box-sizing:border-box; font-size:3.1vw;"></textarea>
              </li>
                <li >
                  <div class="aui-list-item-label">
                      图片
                  </div>
                  <div class="buildCurriculum_w_upload">
                    <span>
                      <img  src="../image/upload.png" @click='bindupload' alt="">
                    </span>
                    <span style="position:relative;" v-for='item,index in imgs'>
                      <img  :src="item.url||item.path">
                      <img src="../image/gb_dele.png" @click='imgs.splice(index,1)' class='deleimg' alt="">
                    </span>
                  </div>
                </li>
              </ul>



              <div class="buildCurriculum_w_btn">
                  <div class="aui-btn" @click='addSave' style="border-radius:4.8vw;">保存</div>
              </div>
          </div>
          </div>
        </div>
      </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var header = document.querySelector('#header');
        var main = document.querySelector('#main');
        $api.fixStatusBar(header);
        $api.fixStatusBar(main);
        var vm = new Vue({
            el: '#app',
            data: {
                title: '',

                imgs:[],
                imgid:[],
                content:''
            },
            mounted: function () {
              var header = document.querySelector('#header');
              $api.fixStatusBar(header);
            },
            methods:{
              //关闭
              closew(){
                this.closeW()

              },

              //上传图片
              bindupload(){
                var that =this;

                that.uploadfirst((res)=>{
                  // var res =$.parseJSON(res)
                console.log(JSON.stringify(res))
                  if(res.code==1){
                    that.imgs.push({url:res.data.path});
                    that.imgid.push(res.data.id)
                    that.toast(res.msg)
                  }else{
                    loginfo(res)

                  }

                },globalData.upload,'pic')
              },

              //添加
              addSave(){
                var that =this;
                var data ={

                  content:that.content,
                  picture:that.imgid.join(',')
                }
                if(data.content==''){
                  that.toast('请填写内容')
                  return;
                }
                that.ajaxpost('post',globalData.addShare,data).then((res)=>{

                  var res =$.parseJSON(res);
                                console.log(JSON.stringify(res))
                  if(res.code==1){
                    api.alert({
                        title: '提示',
                        msg: res.msg,
                    }, function(ret, err){
                        if( ret ){
                          api.sendEvent({
                              name: 'find_share',
                              extra: {
                                  yes: 1
                              }
                          });
                          that.closeW()
                        }else{

                        }
                    });
                  }else{
                      that.toast(res.msg)
                  }


                }).catch((ret)=>{
                  loginfo(ret)
                })
              }
            }

        })
      };
  </script>
  </html>
