<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <title>title</title>
        <link rel="stylesheet" type="text/css" href="../css/api.css"/>
        <link rel="stylesheet" href="../css/aui.css">
        <link rel="stylesheet" type="text/css" href="../css/common.css"/>
        <link rel="stylesheet" type="text/css" href="../css/study_share.css"/>
        <link rel="stylesheet" href="../css/skin.css">
        <style>
            body{

            }
            #header{
              background-color: #fff;
            }
            #header .aui-title{
              color: #000;
            }
            #header .aui-icon-left{
              color: #000
            }
            [v-cloak]{
              display: none;
            }
            .share_item{
               padding: 3vw 3.5vw 4vw 3.5vw;
               margin: 3vw 3.5vw 4vw 3.5vw;
            }
        </style>

    </head>
    <body>

      <div id="wrap2" v-cloak>
        <header id="header" class="aui-bar aui-bar-nav">
            <div class="aui-pull-left aui-btn" @click='close'>
                <span class="aui-iconfont aui-icon-left"></span>
            </div>
            <div class="aui-title">详情</div>
            <!-- <div class="aui-pull-right aui-btn">
                <span>创建课程</span>
            </div> -->
        </header>
        <div class="share_item" >
          <div class="share_line1">
            <div class="line1_img"><img :src="comment.sharedata.avatar" alt=""></div>
            <div class="line1_name">{{comment.sharedata.username}}</div>
          </div>
          <div class="share_line2">{{comment.sharedata.content}}</div>
          <div class="share_line3">
            <div class="line3_img" v-for="(items,index) in comment.sharedata.picture_text"><img :src="items" preview="1"  alt=""></div>
            <!-- <div class="add_img f_middle"><div class="icon"><i class="icon_del add_icon img"></i></div></div> -->
          </div>
          <div class="share_line4">
            <div class="line4_time"><span>{{comment.sharedata.create_time_text}}</span></div>
            <div class="icon" @click.stop='openinput(-1)'><i class="icon_del info_icon img"></i></div>
          </div>
          <div class="share_line5" v-if='comment.data.length!=0'>
            <div class="chat_item"  v-for='active,index in comment.data'><span class="chat_title" >{{active.from_name}}</span>{{active.to_name!=null?'回复':'：'}}<span class="chat_title" >{{active.to_name!=null?active.to_name+'：':''}}</span><span  @click.stop='openinput(index)'>{{active.content}}</span> </div>
          </div>
        </div>
        <!-- <div id='footer' class="f_row_sb">
          <input type="text" v-model="comment">
          <div style="color:#005faf;">发送</div>
        </div> -->
      </div>
    </body>
    <script type="text/javascript" src="../script/api.js"></script>
    <script src="../script/jquery.min.js"></script>
    <script type="text/javascript" src="../script/vue.js"></script>
    <script src="../script/vue-photo-preview.js"></script>
    <script src="../script/configUtil.js" charset="utf-8"></script>
    <script type="text/javascript">

        apiready = function(){
          api.setStatusBarStyle({
              style: 'dark',
          })
          var options={
            fullscreenEl:false, //关闭全屏按钮
            tapToClose:true,
            closeEl:true
          }
          Vue.use(vuePhotoPreview,options);
          var vm = new Vue({
            el: "#wrap2",
            data: {
              comment:{
                data:[],
                sharedata:''
              },
              comment_id:api.pageParam.comment_id||'',

            },
            mounted: function () {
              var header = document.querySelector('#header');
              $api.fixStatusBar(header);
              this.replyInfo();
            },
            methods: {
              close(){
                api.sendEvent({
                    name: 'find_close',
                    extra: ''
                });
                this.closeW()

              },
              //输入
              openinput(index){
                var that =this;
                var UIChatBox = api.require('UIChatBox');
                UIChatBox.open({
                    placeholder: index==-1?'评论':'回复'+that.comment.data[index].from_name+':',
                    maxRows: 4,
                    autoFocus:true,
                    isClose:true
                }, function(ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        if(ret.eventType=='send'){
                          var data ={

                            parent_id:index==-1?that.comment.sharedata.comment_id:that.comment.data[index].evaluate_id,
                            content:ret.msg,
                            first:index==-1?1:0
                          }
                          console.log(JSON.stringify(data))
                          that.ajaxpost('post',globalData.addEvaluate,data).then((res)=>{
                            var res =$.parseJSON(res);
                            that.replyInfo();
                            console.log(JSON.stringify(res))
                            if(res.code==1){
                              that.toast(res.msg)
                            }else{
                                that.toast(res.msg)
                            }
                          }).catch((ret)=>{
                            loginfo(ret)
                          })
                        }
                    } else {
                          console.log(JSON.stringify(err));
                    }
                });
              },
              //详情
              replyInfo(){
                var that =this;
                var data ={
                  comment_id:that.comment_id,
                }
                that.ajaxpost('post',globalData.limitlessEvaluate,data).then((res)=>{
                  var res =$.parseJSON(res);
                  console.log(JSON.stringify(res))
                  that.comment.sharedata=res.data.share
                  that.comment.data=res.data.evaluate;
                  that.$previewRefresh()
                }).catch((ret)=>{
                  loginfo(ret)
                })
              },
            }
          });
        };
    </script>
    </html>
