<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>title</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css">
      <link rel="stylesheet" type="text/css" href="../css/common.css"/>
      <link rel="stylesheet" type="text/css" href="../css/coupon.css"/>
      <link rel="stylesheet" type="text/css" href="../css/add.css"/>
      <link rel="stylesheet" href="../css/vant.css">
      <style>
          body{

          }
          [v-cloak]{
            display: none!important ;
          }
          #header{
            background-color: #fff;
          }
          #header .aui-title{
            color: #000;
          }
          #header .aui-icon-left{
            color: #000
          }
          #header .aui-pull-right span{
            width: 5vw;
            height: 5vw;
            background:  url(../image/addcourse.png) 0 0 no-repeat;
            background-size: 100% 100%;
            margin-left: 2vw;
          }
          #header{
            height: 12.5vw;
            position: fixed;
            top:0;
            left:0;
          }
          .output_line{
        		padding: 2vw 0;
        	}
        	.bb{
        		border-bottom: 1px solid #eeeeee;
        	}
          .play_btn{
            border: 1px solid #0265d0;
            border-radius: 5vw;
            width: 18vw;
            height: 6vw;
            font-size: 3vw;
            line-height: 6vw;
            text-align: center;
            color: #0265d0;
          }
          .play_btn1{
            font-size: 3vw;
            line-height: 6vw;
            text-align: center;
            color: #0265d0;
            margin-left: 3vw;
          }
      </style>
  </head>
  <body>
    <div id='wrap2' class="pad_b" style="background-color:#ffffff">
      <header id="header" class="aui-bar aui-bar-nav">
          <div class="aui-pull-left aui-btn" @click='back'>
              <span class="aui-iconfont aui-icon-left"></span>
          </div>
          <div class="aui-title">观看历史</div>
          <div class="aui-pull-right aui-btn">
              <!-- <div @click="beFull" class="color6" style="font-size:3.3vw;color: #0265d0;" v-if="active!=null&&flag==true">全屏播放</div> -->
          </div>
      </header>
      <div id="main" class="main">
        <div style="height:12.5vw;"></div>
        <div style="height:75vw;" v-if="play"></div>
        <div class="output_line bb" v-for="(item,index) in list" :key="index">
        				<div class="f_c">
        					<div>{{item.title}}</div>
                  <div @click="downVideo(item.file_url)" class="play_btn1" v-if="item.is_download==1">下载</div>
        				</div>
                <div class="fsbc">
                  <div class="color9" style="font-size: 3.6vw;margin-top: 1vw;">观看至{{item.time_f}}</div>
                  <div class="play_btn" @click='bindplay(item,index,item.is_download)'>{{active===index?'正在播放':'播放视频'}}</div>
                </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script src="../script/util.js" charset="utf-8"></script>
  <script type="text/javascript" src="../script/vant.min.js"></script>
  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var header = document.querySelector('#header');
        var main = document.querySelector('#main');
        $api.fixStatusBar(header);
        $api.fixStatusBar(main);
        var moviePlayer = api.require('moviePlayer');
        var vm = new Vue({
          el: "#wrap2",
          data: {
            page:1,
            list:[],
            active:null,
            full:false,
    				percent:'0',
    				timer:null,
            play:false,
            flag:false
          },
          mounted: function () {

            this.initdata();
            this.scrolltobottom()
            var that = this;
            if (api.systemType != 'ios'){
    					that.flag = true;
    				}
            api.addEventListener({
    					name : 'keyback'
    				}, function(ret, err) {
    							that.back();
    				});
            api.addEventListener({
    						name: 'video_time'
    				}, function(ret, err){
    						moviePlayer.seekTo({
    								position:ret.value
    						});
    						moviePlayer.play();
    						//that.addHistory();
    				});
          },
          methods: {
            beFull(){
              var that = this;
              moviePlayer.pause();
              moviePlayer.getCurrentPosition(function(ret){
                  var seconds = ret.position;
                  var data = {
                    id:that.list[that.active].cid,
                    url:that.list[that.active].file_url,
                    title:that.list[that.active].title,
                    time:seconds
                  }
                  api.setScreenOrientation({
                      orientation: 'landscape_right'
                  });
                  that.openW('video',data,true,null,false);
              });
            },
            back(){
              var that = this
    					if(that.active!=null){
    						that.addHistory(null,function(){
    							that.closeW()
    						});
    					}else{
    						that.closeW()
    					}
    				},
            //上拉
            scrolltobottom() {
              var that =this;
                api.addEventListener({
                    name: 'scrolltobottom',
                    extra: {
                        threshold: 50 //距离底部距离
                    }
                }, function(ret, err) {
                    // listAjax(true);
                    console.log(JSON.stringify(ret))
                    that.page =that.page+1;
                    that.initdata()
                });
            },
            addHistory:function(a,func){
    					var that = this;
    					if(that.active!=null){
    						moviePlayer.getCurrentPosition(function(ret){
    								var seconds = ret.position;
    								var param = {
    									chapter_id:that.list[that.active].cid,
    									time:seconds
    								}
    								that.ajaxpost_noloading('post',globalData.addUserChapter,param).then((res)=>{
    									var res = $.parseJSON(res);
    									if(res.code==1){
    									  that.list[that.active].time_f =  formatSeconds(param.time/1000);
    										if(func){
    											func();
    										}
    									}
    								}).catch((ret)=>{
    									loginfo(ret)
    								})
    						});
    					}
    				},
            downVideo(url){
    					if(!confirmPer('storage')){
    						return;
    					}
    					var that = this;
    					if (api.systemType != 'ios'){
    						const toast = vant.Toast.loading({
    							duration: 0, // 持续展示 toast
    							forbidClick: true,
    							message: `正在下载(0%)`
    						});
    						api.download({
    								url: url,
    								report: true,
    								cache: true,
    								allowResume: true
    						}, function(ret, err) {
    								console.log(JSON.stringify(ret))
    								if (ret.state == 1) {
    										//下载成功，保存到相册
    										api.saveMediaToAlbum({
    												path: ret.savePath
    										}, function(ret, err) {
    												if (ret && ret.status) {
    													vant.Toast.clear();
    													vant.Toast({
    														message: '保存成功',
    														forbidClick: true,
    														duration:1000
    													});
    												} else {
    													vant.Toast.clear();
    													vant.Toast({
    														message: '保存失败',
    														forbidClick: true,
    														duration:1000
    													});
    												}
    										});
    								}else{
    									toast.message = `正在下载(${ret.progress}%)`;
    								}
    						});
    					}else{
    						const toast = vant.Toast.loading({
    							duration: 0, // 持续展示 toast
    							forbidClick: true,
    							message: `正在下载`
    						});
    						api.download({
    								url: url,
    								report: true,
    								cache: true,
    								allowResume: true
    						}, function(ret, err) {
    								console.log(JSON.stringify(ret))
    								if (ret.state == 1) {
    										//下载成功，保存到相册
    										api.saveMediaToAlbum({
    												path: ret.savePath
    										}, function(ret, err) {
    												if (ret && ret.status) {
    													vant.Toast.clear();
    													vant.Toast({
    														message: '保存成功',
    														forbidClick: true,
    														duration:1000
    													});
    												} else {
    													vant.Toast.clear();
    													vant.Toast({
    														message: '保存失败',
    														forbidClick: true,
    														duration:1000
    													});
    												}
    										});
    								}
    						});
    					}
    				},
            bindplay(item, index){
              console.log(JSON.stringify(item));
              var that = this
              var x = 0;
              var y= $(window).width()*0.125 + api.safeArea.top;
              var w = $(window).width();
              var h = $(window).width()*0.75;
              var size = 20;
              // if(this.flag){
              //   size = 0;
              // }
              moviePlayer.close();
              window.clearInterval(that.timer);
              moviePlayer.open({
                        rect:{
                          x: x,
                          y: y,
                          w: w,
                          h: h
                        },
                        texts:{
                             title: item.title    //（可选项）字符串类型；顶部标题文字
                        },
                        autorotation:false,
                        styles:{
                          head:{
                            bg: 'rgba(0,0,0,0.5)',
                            height: 30,
                            y:0,
                            title:{
                              size:15,
                              color:'#fff',
                              width:200,
                              leftMargin:10
                            },
                            backSize: 28,
                            // backImg:'widget://image/back.png',
                            customButtons:[{
                              w:30,
                              h:30,
                              rightMagin:10,
                              img:'widget://image/image/collect.png',
                              imgSelected:'fs://image/collectSelected.png',
                            }]
                          },
                          foot:{
                            bg: 'rgba(0,0,0,0.5)',
                            height: 44,
                            palyBtn:{
                              size: 20,
                              playImg:'widget://image/play.png',
                              pauseImg:'widget://image/pause.png',
                              marginLeft:5
                            },
                            currentTimeLabel:{
                              textSize:14,
                              textColor:"#FFF",
                              textWidth: 43,
                              marginLeft:5
                            },
                            seekBar:{
                              sliderImg:'widget://image/circle.png',
                              sliderW : 20,
                              sliderH : 20,
                              progressColor: '#696969',
                              progressSelected: '#76EE00',
                              marginLeft:10,
                              marginRight:10
                            },
                            totalTimeLabel:{
                              textSize:14,
                              textColor:"#FFF",
                              textWidth: 43,
                              marginRight:5
                            },
                            fullscreenBtn:{
                              size:size,
                              // verticalImg:'../image/full.pngg',
                              // horizontalImg:'../image/full_n.png',
                            }
                          }
                        },
                         path:item.file_url,
                         autoPlay: true
                        },function(ret, err){
                              if(ret){
                                  console.log(JSON.stringify(ret));
                                  moviePlayer.addEventListener(function(ret){
                                      if(ret){

                                        console.log(JSON.stringify(ret));
                                        // if(item.time > 0){
                                        // 	moviePlayer.seekTo({
                                        // 	    position:item.time
                                        // 	});
                                        // }
                                        if(ret.eventType=='prepared'){
                                          that.play = true;
                                          if (api.systemType != 'ios'){
    																					if(item.time > 0){
    																						moviePlayer.seekTo({
    																								position:item.time
    																						});
    																					}
    																			}
                                          that.timer = setInterval(function(){
                                             that.addHistory();
                                          },10000)
                                        }
                                        if(ret.eventType=='error'){
                                          that.toast('播放失败')
                                          that.full = false;
                                          that.addHistory(null,function(){
                                            that.active = null;
                                          });
                                          that.play = false;
                                          moviePlayer.close();
                                          window.clearInterval(that.timer);
                                          api.setScreenOrientation({
                                              orientation: 'portrait_up'
                                          });
                                        }
                                        if(ret.eventType=='back'){
                                          that.full = false;
                                          that.addHistory(null,function(){
                                            that.active = null;
                                          });
                                          that.play = false;
                                          moviePlayer.close();
                                          window.clearInterval(that.timer);
                                          api.setScreenOrientation({
                                              orientation: 'portrait_up'
                                          });
                                        }
                                        if(ret.eventType == 'landscape'){
                                          // api.setScreenOrientation({
    									        						// 		orientation: 'portrait_up'
    									      						  // });
                                            that.full = true;
                                        }
                                        if(ret.eventType == 'portrait'){
                                            that.full = false;
                                        }
                                      }
                                  });
                              } else {
                                  console.log(JSON.stringify(err));
                              }
                              if (api.systemType == 'ios'){
    														setTimeout(function(){
    															if(item.time > 0){
    																moviePlayer.seekTo({
    																		position:item.time
    																});
    															}
    														},300)
    													}

                        });

              this.active = index

              this.ajaxpost('post', globalData.addCourseOutlineLog, { cid: item.cid }).then((res) => {


              }).catch((ret) => {
                loginfo(ret)
              })
            },
            initdata(){
              var that =this;
              var data ={
                page:that.page,
                size:30,
              }
              that.ajaxpost('post',globalData.getCourseOutlineLog,data).then((res)=>{
                var res =$.parseJSON(res);
                  res.data.map((item) => {
                    item.time_f = formatSeconds(item.time/1000)
                    item.isplay = false
                  })
                  that.list=that.list.concat(res.data);
              }).catch((ret)=>{
                loginfo(ret)
              })
            },
          }
        });
      };
  </script>
  </html>
