<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>消息</title>
      <link rel="stylesheet" type="text/css" href="../css/api.css"/>
      <link rel="stylesheet" href="../css/aui.css">
      <link rel="stylesheet" href="../css/style2.css">
      <style>
          body{

          }
          .listTx{
              padding:1vw  3vw;
              background-color: #fff;
              margin-bottom: 2vw;
          }
          .listTx_p1{
              display: flex;
              justify-content: space-between;
          }
          .listTx_p2{
              display: flex;
              justify-content: space-between;
          }
      </style>
  </head>
  <body>
      <div id="app">
        <div class="listTx" v-for='item in info'>
            <div class="listTx_p1"><span style="color: red; font-size: 5vw;">{{item.amount}}元</span><span style="color: #666; font-size: 4vw;">{{item.sq_time}}</span></div>
            <div class="listTx_p2"><span style="font-size: 3.5vw">提现到{{item.bank}}：{{item.card}}</span> <span style="font-size: 3.5vw;">{{item.status}}</span></div>
        </div>

        <p style="text-align:center;color:#666;font-size:4vw;" v-if='info&&info.length==0'>暂无数据</p>
      </div>
  </body>
  <script type="text/javascript" src="../script/api.js"></script>
  <script type="text/javascript" src="../script/vue.js"></script>
  <script src="../script/jquery.min.js"></script>
  <script src="../script/configUtil.js" charset="utf-8"></script>
  <script type="text/javascript">
      apiready = function(){
        api.setStatusBarStyle({
            style: 'dark',
        })
        var vm = new Vue({
            el: '#app',
            data: {

                title: '',
                info:[],
                page:1
            },
            methods:{
                  //上拉
                scrolltobottom() {
                var that =this;
                    api.addEventListener({
                        name: 'scrolltobottom',
                        extra: {
                            threshold: 50 //距离底部距离
                        }
                    }, function(ret, err) {
                        // listAjax(true);
                        console.log(JSON.stringify(ret))
                        that.page=that.page+1
                        that.bandinit()

                    });
                },
                bandinit(){
                var that =this;
                var data ={
                  page:that.page
                }
                that.ajaxpost('post',globalData.txLog,data).then((res)=>{

                    var res =$.parseJSON(res);
                        console.log(JSON.stringify(res))
                    if(res.code==1&&res.data){
                        that.info =that.info.concat(res.data)
                    }
                    }).catch((ret)=>{
                        loginfo(ret)
                    })
                },

            },
            mounted: function () {

                this.bandinit()
                this.scrolltobottom()
            },

        })
      };
  </script>
  </html>
